{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static  %}
{% load humanize %}

{% block title %}Delivery Person Attendance{% endblock %}
{% block logisticsdeliverypersonattendance %}active{% endblock %}



{% block css %}

{% endblock %}

{% block content %}
<div class="mb-2 mt-2" bis_skin_checked="1">
    <h5 class="mb-0 text-uppercase d-inline">All Transactions</h5>
    <a id="checkinBtn" class="btn btn-info d-inline" style="float: right;" data-action="checkin">Checkin Rider</a>

</div>

<section class="users-list-wrapper">
    <!-- <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-2">
                <a href="?status=unsettled">
                    <h5 class="text-center">COD Collection</h5>
                    <h4 class="text-center">Rs. {{total_cod_collection|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=settled">
                    <h5 class="text-center">COD Handover</h5>
                    <h4 class="text-center">Rs. {{total_cod_handover|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=all">
                    <h5 class="text-center">Total Expense</h5>
                    <h4 class="text-center">Rs. {{total_expense|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <h5 class="text-center">Total Cash IN</h5>
                <h4 class="text-center">Rs. {{total_cash_in|intcomma}} /-</h4>
            </div>
            <div class="col-md-2">
                <a href="?status=all">
                    <h5 class="text-center">Total Cash Out</h5>
                    <h4 class="text-center">Rs. {{total_cash_out|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <h5 class="text-center">Cash In Hand</h5>
                <h4 class="text-center">Rs. {{cash_in_hand|intcomma}} /-</h4>
            </div>
        </div>
    </div> -->
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Checkins</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Delivery Persons</th>
                                    <th>Checkin</th>
                                    <th>Checkout</th>
                                    <th>Checkin - Checkout KM</th>
                                    <th>KM Consumed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attendance in deliveryperson_attendances %}
                                <tr>
                                    <td>{{attendance.checkin_time.date}}</td>
                                    <td class="name">{{attendance.delivery_person}}</td>
                                    <td>{{attendance.checkin_time|date:'h:i a'}}</td>
                                    <td>
                                        {% if attendance.checkout_time %}
                                        {{attendance.checkout_time|date:'h:i a'}}
                                        {% else %}
                                        <a href="" data-pk="{{attendance.id}}" class="checkoutBtn">Check Out</a>
                                        {% endif %}
                                    </td>
                                    <td>{{attendance.checkin_km_record}} - {{attendance.checkout_km_record}}</td>
                                    <td>{{attendance.total_km_travelled}} KM</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{deliveryperson_attendances.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade text-left" id="checkinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Rider Checkin Form</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST" id="checkinForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {{checkin_form.as_p}}
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Save Information">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Rider Checkout Form <span id="rider_name"></span></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST" id="checkoutForm" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="att_pk" id="att_pk">
                <div class="modal-body">
                    {{checkout_form.as_p}}
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Save Information">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    $("#checkinBtn").on("click", function(e){
        e.preventDefault();
        $('#checkinModal').modal('show')
        
    })
    $('#checkinModal').on("hide.bs.modal	", function(){
        $("#checkinForm").trigger("reset")
    })
    $(".checkoutBtn").on("click", function(e){
        e.preventDefault();
        var pk = $(this).data("pk")
        var name = $(this).parent().parent().find(".rider_name").text()
        $("#rider_name").html(name)
        $("#att_pk").val(pk)
        $('#checkoutModal').modal('show')
    })
    $('#checkoutModal').on("hide.bs.modal	", function(){
        $("#checkoutForm").trigger("reset")
    })
</script>
{% endblock %}