{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block logisticsbranches %}active{% endblock %}
{% block title %}Our Branches{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><strong>Our Logistics Branches</strong></h4>
                <small class="text-danger">These are the logistics branches of our company. Branches of a logistics company are connected automatically with each other. You can manage the general charge applied while passing shipments. </small>
                <a href="{% url 'accapp:logisticsbranchcreate' %}" class="btn btn-primary pull-right">Add New Branch</a>
            </div>
            <div class="card-content">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Branch</th>
                                        <th>Contact</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for branch in branch_list %}
                                    <tr class="{% if branch.is_main_branch %}bg-success{% endif %}">
                                        <td>{{forloop.counter}}</td>
                                        <td>{{branch.branch_city}}</td>
                                        <td>{{branch.branch_address}}, {{branch.branch_contact}}</td>
                                        <td><a href="{% url 'lbcapp:logisticsbranchdetail' branch.id %}">Detail</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}