{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block logisticsbranches %}active{% endblock %}
{% block title %}Our Branches{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><strong>Add Logistics Branches</strong></h4>
                <small class="text-danger">Branches of a logistics company are connected automatically with each other. You can manage the general charge applied while passing shipments. </small>
            </div>
            <div class="card-content">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Branch City<span class="text-danger">*</span></label>
                                                    {{form.branch_city}}
                                                    {{form.branch_city.errors}}
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Street Address<span class="text-danger">*</span></label>
                                                    {{form.branch_address}}
                                                    {{form.branch_address.errors}}
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Branch Contact<span class="text-danger">*</span></label>
                                                    {{form.branch_contact}}
                                                    {{form.branch_contact.errors}}
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Branch Email<span class="text-danger">*</span></label>
                                                    {{form.branch_email}}
                                                    {{form.branch_email.errors}}
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>Pickup Coverage Area<span class="text-danger">*</span></label>
                                                    {{form.branch_coverage}}
                                                    {{form.branch_coverage.errors}}
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <h5>Branch Operator</h5>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Operator Login Email<span class="text-danger">*</span></label>
                                                    {{form.login_email}}
                                                    {{form.login_email.errors}}
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Operator Login Password<span class="text-danger">*</span></label>
                                                    {{form.login_password}}
                                                    {{form.login_password.errors}}
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Operator Full Name<span class="text-danger">*</span></label>
                                                    {{form.full_name}}
                                                    {{form.full_name.errors}}
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Operator Mobile<span class="text-danger">*</span></label>
                                                    {{form.mobile}}
                                                    {{form.mobile.errors}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                        <button type="submit"
                                            class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Save Information</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
{% endblock %}