{% extends 'logisticstemplates/logisticsbase.html' %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}
    <input type="text" name="title" required>
    <textarea name="content" id="" cols="30" rows="5" required></textarea>
    <button>Submit</button>
</form>
{% endblock %}