{% extends 'customertemplates/customerbase.html' %}

{% load static %}

{% block title %}Profile Update{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Customer Profile Update</strong></h4>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group validate">
                                    <div class="controls">
                                        <label>Login Email</label>
                                        <input type="email" class="form-control" placeholder="Login email..."
                                            value="{{customer.user.username}}" disabled>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Your full name <span class="text-danger">*</span></label>
                                    {{customer_form.full_name}}
                                    {{customer_form.full_name.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Your Company Name</label>
                                    {{customer_form.company_name}}
                                    {{customer_form.company_name.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Your Company Name</label>
                                    {{customer_form.company_name}}
                                    {{customer_form.company_name.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Primary Contact Number <span class="text-danger">*</span></label>
                                    {{customer_form.contact_number}}
                                    {{customer_form.contact_number.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Alternative Contact Number</label>
                                    {{customer_form.alternative_contact_number}}
                                    {{customer_form.alternative_contact_number.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Your City <span class="text-danger">*</span></label>
                                    {{customer_form.city}}
                                    {{customer_form.city.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Your Street Address <span class="text-danger">*</span></label>
                                    {{customer_form.address}}
                                    {{customer_form.address.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Profile Images</label>
                                    {{customer_form.profile_image}}
                                    {{customer_form.profile_image.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Registration Document</label>
                                    {{customer_form.document1}}
                                    {{customer_form.document1.errors}}
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>VAT/PAN</label>
                                    {{customer_form.document2}}
                                    {{customer_form.document2.errors}}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Extra Document</label>
                                    {{customer_form.document3}}
                                    {{customer_form.document3.errors}}
                                </div>
                            </div>

                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Save
                                    changes</button>
                                <button type="reset" class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'customerstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
{% endblock %}