{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block my_payment_accounts %}active{% endblock %}
{% block title %}Customer Receiving Account {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/pages/page-users.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title d-inline">Payment Receiving Accounts</h4>
                    <a href="" class="pull-right btn btn-info cpa-btn d-inline" data-action="create">Add New Account</a>
                </div>
                <hr>
                <div class="card-body">
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table id="users-list-datatable" class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Account In</th>
                                    <th>Acc Holder Name</th>
                                    <th>Acc number</th>
                                    <th>Branch</th>
                                    <th>Created at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cpa in paymentaccounts %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td class="account_in">{{cpa.account_in}}</td>
                                    <td class="account_name">{{cpa.account_name}}</td>
                                    <td class="account_number">{{cpa.account_number}}</td>
                                    <td class="branch">{{cpa.branch}}</td>
                                    <td>{{cpa.created_at}}</td>
                                    <td>
                                        <a class="cpa-btn" href="" data-action="update" data-pk="{{cpa.id}}"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade text-left" id="cpa-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Receiving Account Information Form</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST" id="cpa-form">
                {% csrf_token %}
                <input type="hidden" name="pk" id="cpa_pk">
                <div class="modal-body">
                    <label>Account In: <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="text" placeholder="Bank or Wallet name..." class="form-control" id="account_in" name="account_in" required>
                    </div>
                    <label>Account Holder Name: <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="text" placeholder="Correct Account holder name..." class="form-control" id="account_name" name="account_name" required>
                    </div>
                    <label>Account Number: <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="text" placeholder="Correct Account number..." class="form-control" id="account_no" name="account_number" required>
                    </div>
                    <label>Branch if any </label>
                    <div class="form-group">
                        <input type="text" placeholder="Branch if any..." class="form-control" name="branch" id="branch">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Save Information">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script>
    $(".table").DataTable();
</script>
<script>
    $(".cpa-btn").on("click", function(e){
        e.preventDefault();
        var action = $(this).data("action");
        if(action == "create"){
            $('#cpa-form-modal').modal('show')
        }else if(action == "update"){
            var pk = $(this).data("pk")
            $("#cpa_pk").val(pk)
            $("#account_in").val($(this).parent().parent().find(".account_in").text())
            $("#account_name").val($(this).parent().parent().find(".account_name").text())
            $("#account_no").val($(this).parent().parent().find(".account_number").text())
            $("#branch").val($(this).parent().parent().find(".branch").text())
            $('#cpa-form-modal').modal('show')
        }
    })
    $('#cpa-form-modal').on("hide.bs.modal	", function(){
        $("#cpa-form").trigger("reset")
    })
</script>
{% endblock %}