{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Customer Profile{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Customer Profile : {{customer.full_name}}{% if customer.company_name %}<strong>,
                        {{customer.company_name}}</strong>{% endif %}</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Login Email</h5>
                            <p>{{customer.user.username}}</p>
                        </div>

                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Contact Number</h5>
                            <p>{{customer.contact_number}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Alternative Contact</h5>
                            <p>
                                {% if customer.alternative_contact_number %}
                                {{customer.alternative_contact_number}}
                                {% else %}Not Provided{% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Location</h5>
                            <p>{{customer.address}}, {{customer.city}}, {{customer.city.district}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Joined on</h5>
                            <p>{{customer.created_at}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Legal Registration</h5>
                            <p>
                                {% if customer.document1 %}
                                <a target="_blank" href="{{customer.document1.url}}">Download</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">VAT/PAN Document</h5>
                            <p>
                                {% if customer.document2 %}
                                <a href="{{customer.document2.url}}">Download</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Other Document</h5>
                            <p>
                                {% if customer.document3 %}<a
                                    href="{{customer.document3.url}}">Download</a>
                                {% else %}None{% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Profile Image</h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <img src="{% if customer.profile_image %}{{customer.profile_image.url}}{% else %}{% endif %}" alt=""
                        class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title"><strong>Connections</strong></h4>
               
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Connected Logistics</h5>
                            <p>{{customer.connected_logistics.all.count}} Logistics Units</p>
                            <a href="{% url 'lbcapp:customerconnectedlogisticslist' %}">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}