{% extends 'customertemplates/customerbase.html' %}
{% load humanize %}
{% load static %}

{% block title %}Payment Request List{% endblock %}
{% block customerpaymentrequest %}active{% endblock %}

{% block css %}
<style>
    .active-status{
        border: 2px solid black;
    }
</style>
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-2">
                <a href="?status=unsettled">
                    <button class="btn btn-warning {% if status == 'unsettled' %}active-status{% endif %}">Unsettled Requests <br> ( {{unsettled_requests.count}} )</button>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=settled">
                    <button class="btn btn-success {% if status == 'settled' %}active-status{% endif %}">Total Settled Requests <br> ( {{settled_requests.count}} )</button>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=all">
                    <button class="btn btn-info {% if status == 'all' %}active-status{% endif %}">Overall Requested  <br> ( {{all_requests.count}} )</button>
                </a>
            </div>
            <div class="col-md-4 card bg-success py-1">
                <h5 class="text-center font-weight-bold">Money in Wallet</h5>
                <h4 class="text-center">Rs. {{current_balance|intcomma}}/-</h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'lmsapp:customerpaymentrequestcreate' %}" class="btn btn-lg btn-success">Request my payment</a>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>{{status|title}} payments</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Service Provider</th>
                                    <th>Request Amount</th>
                                    <th>Preferred Account</th>
                                    <th>Requested Date</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment_request in payment_request_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{payment_request.logistics_branch}}</td>
                                    <td>{{payment_request.request_amount}}</td>
                                    <td>{{payment_request.preferred_receiving_account}}</td>
                                    <td>{{payment_request.created_at}}</td>
                                    <td>
                                        {% if payment_request.is_settled %}
                                        <span class="font-weight-bold badge badge-success">Settled Already</span>
                                        {% else %}
                                        <span class="font-weight-bold badge badge-warning">Not Settled</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{payment_request_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}