{% extends 'customertemplates/customerbase.html' %}
{% load static %}
{% load humanize %}

{% block title %}Payment List{% endblock %}
{% block customerpayment %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>All Received Payments (Invoices)</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Payment Date</th>
                                    <th>Service Provider</th>
                                    <th>Request Date</th>
                                    <th>Receiving Account</th>
                                    <th>Payment Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payment_list %}
                                <tr>
                                    <td>{{payment.created_at.date}}</td>
                                    <td>{{payment.logistics_branch}}</td>
                                    <td>{{payment.payment_request.created_at.date}}</td>
                                    <td>{{payment.payment_method}}</td>
                                    <td>Rs. {{payment.net_paid_or_received|intcomma}} /-</td>
                                    <td><a href="{% url 'lmsapp:customerpaymentdetail' payment.id %}"><button class="btn btn-sm btn-success">View</button></a></td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{payment_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}