{% extends 'customertemplates/customerbase.html' %}
{% load static %}
{% load humanize %}

{% block title %}Payment Detail{% endblock %}
{% block customerpayment %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-2">
                <h6 class="text-center">Payment Made By</h6><hr>
                <h6 class="text-center">{{payment.logistics_branch}}</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Payment Date</h6><hr>
                <h6 class="text-center">{{payment.created_at}}</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Requested On</h6><hr>
                <h6 class="text-center">{{payment.payment_request.created_at.date}}</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Receiver Account</h6><hr>
                <h6 class="text-center">{{payment.payment_method}}</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Paid/Received Amount</h6><hr>
                <h6 class="text-center" style="color: rgb(7, 174, 7);">Rs. {{payment.net_paid_or_received|intcomma}}/-</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Uploaded Slip</h6><hr>
                <h6 class="text-center">{% if payment.slip %}<a target="_blank" href="{{payment.slip.url}}">View</a>{% endif %}</h6>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h6>Included Shipments (Completed)</h5>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Shipment</th>
                                    <th>Shipment Status</th>
                                    <th>COD Value</th>
                                    <th>Service Charge</th>
                                    <th>Net Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shipment in payment.shipments.all %}
                                <tr>
                                    <td><a href="">{{shipment.tracking_code}}</a></td>
                                    <td>
                                        {% if shipment.shipment_status != "Shipment Returned to the Sender" %}
                                        <span class="badge badge-success">
                                            {{shipment.shipment_status}}
                                        </span>
                                        {% else %}
                                        <span class="badge badge-danger">
                                            {{shipment.shipment_status}}
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td>{{shipment.cod_value}}</td>
                                    <td>{{shipment.get_service_charge.0}}</td>
                                    <td>{{shipment.get_service_charge.1}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}