{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Request COD Payment{% endblock %}
{% block customerpaymentrequest %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Request COD Payment </strong></h4>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Select Service Provider <span class="text-danger">*</span></label>
                                        {{payment_request_form.logistics_branch}}
                                        {{payment_request_form.logistics_branch.errors}}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Preferred Receiving Account <span class="text-danger">*</span></label>
                                        {{payment_request_form.preferred_receiving_account}}
                                        {{payment_request_form.preferred_receiving_account.errors}}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Your message</label>
                                        {{payment_request_form.message}}
                                        {{payment_request_form.message.errors}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card box-shadow-0 border-success bg-transparent">
                                    <div class="card-header bg-transparent">
                                        <h4 class="card-title">Current Balance with </h4>
                                        <h5 class="text-danger" id="branch_name"></h5>
                                        <a class="heading-elements-toggle"><i
                                                class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    </div>
                                    <div class="card-content collapse show">
                                        <div class="card-body">
                                            <h4 class="">Shipment Count: <span class="text-info" id="shipment_count"></span></h4>
                                            <h4 class="">Current Balance: <span class="text-info" id="current_balance"></span></h4>
                                            <p class="text-danger unsettled-error"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Request
                                    Payment</button>
                                <button type="reset" class="btn btn-light">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'customerstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
<script>
    $(".submit-btn").attr("disabled", "disabled")
    $("#id_logistics_branch").on("change", function (e) {
        var branch_id = $(this).val()
        if (branch_id != 0 && branch_id != '' && branch_id != null) {
            $.ajax({
                url: "",
                data: {
                    branch_id,
                },
                success: function (resp) {
                    $("#branch_name").html(resp.branch_name);
                    $("#shipment_count").html(resp.shipment_count);
                    $("#current_balance").html('Rs. ' + resp.current_balance + " /-");
                    if (resp.current_balance > 0 && resp.unsettled_requests_exists != true) {
                        $(".submit-btn").removeAttr("disabled")
                        $(".unsettled-error").html("")

                    } else if (resp.unsettled_requests_exists == true) {
                        $(".submit-btn").attr("disabled", "disabled")
                        $(".unsettled-error").html("You have previous unsettled payment request with this service provider. Please contact them or raise an issue ticket. ")
                    }else{
                        $(".submit-btn").attr("disabled", "disabled")
                        $(".unsettled-error").html("You don't have sufficient balance in your wallet with this service provider.")
                    }
                }
            })
        } else {
            $("#branch_name").html('');
            $("#shipment_count").html(0);
            $("#current_balance").html(0);
        }

    })
</script>
{% endblock %}