{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Customer Support tickets {% endblock %}
{% block logisticscustomertickets %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-3">
                <a href="?status=open">
                    <h5 class="text-center">Open Tickets Raised</h5>
                    <h4 class="text-center">{{open_ticket_list.count}}</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="?status=reviewing">
                    <h5 class="text-center">Reviewing Tickets</h5>
                    <h4 class="text-center">{{reviewing_ticket_list.count}}</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="?status=solved">
                    <h5 class="text-center">Solved Tickets</h5>
                    <h4 class="text-center">{{solved_ticket_list.count}}</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="?status=all">
                    <h5 class="text-center">All Tickets</h5>
                    <h4 class="text-center">{{all_ticket_list.count}}</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>{{status|title}} Tickets</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Ticket ID</th>
                                    <th>Raised By</th>
                                    <th>Raised Date</th>
                                    <th>Ticket Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in ticket_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'lbcapp:logisticscustomerticketdetail' ticket.id %}">#TKT_{{ticket.id}}</a></td>
                                    <td>
                                        {{ticket.raised_by}}
                                        {% if ticket.raised_by.company_name %}
                                        <br>({{ticket.raised_by.company_name}})
                                        {% endif %}
                                    </td>
                                    <td>{{ticket.created_at}}</td>
                                    <td><span class="font-weight-bold badge badge-{% if ticket.ticket_status == 'Solved' %}success{% elif ticket.ticket_status == 'Reviewing' %}info{% else %}warning{% endif %}">{{ticket.ticket_status}}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{ticket_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}