{% extends 'logisticstemplates/logisticsbase.html' %}

{% block title %}Notice Create{% endblock %}
{% block logisticsnotices %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Create New Notice: </strong></h4>
                            <hr>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Notice Title<span class="text-danger">*</span></label>
                                            {{notice_form.title}}
                                            {{notice_form.title.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Description<span class="text-danger">*</span></label>
                                            {{notice_form.notice}}
                                            {{notice_form.notice.errors}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Save Information</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}


{% endblock %}