{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Report{% endblock %}

{% block logisticsreports %}active{% endblock %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="issueinput3">Starting</label>
                <input type="date" id="issueinput3" class="form-control" name="startingdate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Starting Date" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="issueinput4">Ending</label>
                <input type="date" id="issueinput4" class="form-control" name="endingdate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Ending Date" required>
            </div>
        </div>
            <button class="btn btn-warning">Search</button>
    </div>
</form>
<br>  
{% if today %}
<h3>REPORTS For {{today}} (TODAY)</h3>
{% else %}
<h3>REPORTS From: {{from_date}} To {{to_date}}</h3>
{% endif %}

<div class="row mt-3">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-primary bg-darken-2">
                        <i class="icon-camera font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-primary white media-body">
                        <h5>Delivered Shipments</h5>
                        <h5 class="text-bold-400 mb-0"> {{delivered_shipments.count}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-danger bg-darken-2">
                        <i class="icon-user font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-danger white media-body">
                        <h5>Shipments Placed</h5>
                        <h5 class="text-bold-400 mb-0"> {{new_shipments.count}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-warning bg-darken-2">
                        <i class="icon-basket-loaded font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-warning white media-body">
                        <h5>Picked up Shipments</h5>
                        <h5 class="text-bold-400 mb-0"> {{pickupassigned_shipments.count}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-success bg-darken-2">
                        <i class="icon-wallet font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-success white media-body">
                        <h5>Dispatched Shipments</h5>
                        <h5 class="text-bold-400 mb-0"> {{dispatched_shipments.count}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-danger bg-darken-2">
                        <i class="icon-wallet font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-danger white media-body">
                        <h5>Amount to Pay</h5>
                        <h5 class="text-bold-400 mb-0"> Rs. {{total_amount_to_pay}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}