{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Customer List{% endblock %}
{% block logisticscustomers %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/colors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/components.min.css' %}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/core/menu/menu-types/vertical-menu-modern.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/core/colors/palette-gradient.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/plugins/pickers/daterange/daterange.min.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/assets/css/style.css' %}">
    <!-- END: Custom CSS-->
{% endblock %}

{% block content %}

<h1>Customer : {{customer}}</h1>
<!-- <div class="row">
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-12 col-sm-6 col-12">
            <div class="form-group">
                <label>From</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-calendar-o"></span>
                        </span>
                    </div>
                    <input type='text' class="form-control pickadate" placeholder="Basic Pick-a-date" />
                </div>
            </div>
            <div class="form-group">
                <label>To</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-calendar-o"></span>
                        </span>
                    </div>
                    <input type='text' class="form-control pickadate" placeholder="Basic Pick-a-date" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Filter Search</button>
    </form>
</div> -->
<section id="minimal-statistics-bg">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">{{customer}}</h4>
        <p>Customer Shipment Report</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-warning">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pencil white font-large-2 float-left"></i>
                </div>
                <div class="media-body white text-right">
                  <h3>{{pending_shipments}}</h3>
                  <span>Pending Shipments</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-warning">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-speech white font-large-2 float-left"></i>
                </div>
                <div class="media-body white text-right">
                  <h3>{{assigned_for_pickup_shipments}}</h3>
                  <span>Shipment Assigned for Pickup</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-success">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph white font-large-2 float-left"></i>
                </div>
                <div class="media-body white text-right">
                  <h3>{{at_warehouse_shipments}}</h3>
                  <span>Shipments at Warehouse</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-success">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pointer white font-large-2 float-left"></i>
                </div>
                <div class="media-body white text-right">
                  <h3>{{assigned_for_dropoff_shipments}}</h3>
                  <span>Dropoff Assigned</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-warning">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{dispatched_shipments}}</h3>
                  <span>Dispatched</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-rocket white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-success">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{delivered_shipments}}</h3>
                  <span>Delivered</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-user white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-danger">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{rejected_shipments}}</h3>
                  <span>Rejected</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-pie-chart white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-primary">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{readytoreturn_shipments}}</h3>
                  <span>Ready to Return</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-support white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-primary">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{assigned_readytoreturn_shipments}}</h3>
                  <span>Ready to Return (Assigned)</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-support white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-primary">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{ontheway_readytoreturn_shipments}}</h3>
                  <span>Ready to Return (On the Way)</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-support white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-primary">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{returned_shipments}}</h3>
                  <span>Returned</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-support white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-primary">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{canceled_shipments}}</h3>
                  <span>Canceled</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-support white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-primary">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body white text-left">
                  <h3>{{total_shipments}}</h3>
                  <span>Total Shipments</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-support white font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.min.js' %}"></script>
{% endblock %}
