{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}
{% load humanize %}

{% block logisticspaymentreports %}active{% endblock %}
{% block title %}Logistics Payment Reports{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <!-- <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-3">
                <a href="?status=paymentsmade">
                    <h5 class="text-center">Payments Made</h5>
                    <h4 class="text-center">{{paymentsmade}}</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=paymentsreceived">
                    <h5 class="text-center">Payments Received</h5>
                    <h4 class="text-center">{{paymentsreceived}}</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=all">
                    <h5 class="text-center">All Payments</h5>
                    <h4 class="text-center">{{payment_requests}}</h4>
                </a>
            </div>
        </div>
    </div> -->
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Payments Report</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Logistics Branch</th>
                                    <th>Settled Date</th>
                                    <th>To Receive - To Pay</th>
                                    <th>Net Paid / Received Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in my_payments %}
                                {% if payment.payer_logistics == my_branch %}
                                <tr style="background-color: red; color:#fff;">
                                {% else %}
                                <tr style="background-color:green; color:#fff;">
                                {% endif %}
                                    <td>{{forloop.counter}}</td>
                                    {% if payment.requested_by == my_branch %}
                                    <td>
                                        <a style="color: #fff;" href="#">Company: {{payment.requested_to.logistics_company}}
                                        <br>Branch: {{payment.requested_to.branch_city}}
                                        </a>
                                    </td>
                                    {% else %}
                                    <td>
                                        <a style="color: #fff;" href="#">Company: {{payment.requested_by.logistics_company}}
                                        <br>Branch: {{payment.requested_by.branch_city}}
                                        </a>
                                    </td>
                                    {% endif %}
                                    <td>{{payment.settled_date}}</td>
                                    {% if payment.payer_logistics == my_branch %}
                                    <td>{{payment.amount_paid}} - {{payment.amount_received}}</td>
                                    {% else %}
                                    <td>{{payment.amount_received}} - {{payment.amount_paid}}</td>
                                    {% endif %}
                                    {% if payment.payer_logistics == my_branch %}
                                    <td> - Rs. {{payment.paid_or_received_amount}}</td>
                                    {% else %}
                                    <td>Rs. {{payment.paid_or_received_amount}}</td>
                                    {% endif %}
                                    <td>
                                        <a style="color: #fff;" href="{% url 'lmsapp:logisticsbranchpaymentdetail' payment.id %}">View Detail</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}