{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}
{% load humanize %}

{% block logisticspaymentreports %}active{% endblock %}
{% block title %}Logistics Branch Payment{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
            <h3 style="font-weight: bold;">Payment Details to {% if lpr.requested_by == mybranch %}{{lpr.requested_to.logistics_company}}, {{lpr.requested_to.branch_city}}{% else %}{{lpr.requested_by.logistics_company}}, {{lpr.requested_by.branch_city}}{% endif %} </h3>
    <div class="row">
        <div class="col-md-12">
            <p>Settled Date: {{lpr.settled_date}}</p> 
            {% if lpr.payer_logistics == mybranch %}
            <b><p style="color:red;">NET AMOUNT PAID : RS. {{lpr.paid_or_received_amount}}</p></b>
            {% else %}
            <b><p style="color:green;">NET AMOUNT RECEIVED : RS. {{lpr.paid_or_received_amount}}</p></b>
            {% endif %}
        </div>
    </div>     
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Shipments [My Shipments]</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <div class="users-list-filter px-1">
                        <div class="row border border-light rounded py-2 mb-2">
                            <div class="col-md-4">
                                <h5 class="text-center">Shipments Count</h5>
                                <h4 class="text-center">{{my_shipments.bundle_shipments.count}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">To Pay</h5>
                                <h4 class="text-center">Rs. {{my_shipments.total_service_charge}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">Cod Value to Receive</h5>
                                <h4 class="text-center">Rs. {{my_shipments.total_cod_value}}</h4>
                            </div>
                            <!-- <div class="col-md-4 card bg-success p-1">
                                <h5 class="text-center font-weight-bold">Money to receive</h5>
                                <h4 class="text-center">Rs. {{net_value|intcomma}}/-</h4>
                            </div>
                            <div class="col-md-2">
                                {% if net_value > 0 %}
                                <a href="" class="btn btn-info request-payment">Request payment</a>
                                {% else %}
                                <a href="#" class="btn btn-danger">Already Settled</a>
                                {% endif %}
                            </div> -->
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Shipment</th>
                                    <th>Shipping Charge</th>
                                    <th>COD Charge</th>
                                    <th>Rejection Charge</th>
                                    <th>COD Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sbs in my_shipments.bundle_shipments.all %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="#">{{sbs}}</a></td>
                                    <td>{{sbs.shipping_charge}}</td>
                                    <td>{{sbs.cod_handling_charge}}</td>
                                    <td>{{sbs.rejection_handling_charge}}</td>
                                    <td>{{sbs.shipment.cod_value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{payment_request_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Shipments [{{another_shipments.service_provider_branch}}]</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <div class="users-list-filter px-1">
                        <div class="row border border-light rounded py-2 mb-2">
                            <div class="col-md-4">
                                <h5 class="text-center">Shipments Count</h5>
                                <h4 class="text-center">{{another_shipments.bundle_shipments.count}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">To Receive</h5>
                                <h4 class="text-center">Rs. {{another_shipments.total_service_charge}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">Cod Value to Pay</h5>
                                <h4 class="text-center">Rs. {{another_shipments.total_cod_value}}</h4>
                            </div>
                            <!-- <div class="col-md-4 card bg-success p-1">
                                <h5 class="text-center font-weight-bold">Money to receive</h5>
                                <h4 class="text-center">Rs. {{net_value|intcomma}}/-</h4>
                            </div>
                            <div class="col-md-2">
                                {% if net_value > 0 %}
                                <a href="" class="btn btn-info request-payment">Request payment</a>
                                {% else %}
                                <a href="#" class="btn btn-danger">Already Settled</a>
                                {% endif %}
                            </div> -->
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Shipment</th>
                                    <th>Shipping Charge</th>
                                    <th>COD Charge</th>
                                    <th>Rejection Charge</th>
                                    <th>COD Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sbs in another_shipments.bundle_shipments.all %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="#">{{sbs}}</a></td>
                                    <td>{{sbs.shipping_charge}}</td>
                                    <td>{{sbs.cod_handling_charge}}</td>
                                    <td>{{sbs.rejection_handling_charge}}</td>
                                    <td>{{sbs.shipment.cod_value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{payment_request_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade text-left" id="make-payment-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">You are going to enter payment Record</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST" id="lpa-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    Remarks:
                    {{paymentform.remarks}}
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Confirm Payment">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% if not already_settled %}
<script>
    var ptp = document.getElementById("make-payment")
    ptp.addEventListener("click", function (e){
        e.preventDefault();
        $('#make-payment-form').modal('show')
    })
    $("#lpa-form").on("submit", function (e){
        e.preventDefault();
        Swal.fire({
            title: "Complete Payment ?",
            type: "info",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirm Payment Made",
            confirmButtonClass: "btn btn-info",
            cancelButtonClass: "btn btn-danger ml-1",
            buttonsStyling: !1,
        }).then(function (t) {
            if (t.value == 1) {
                $.ajax({
                    url: "",
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        paymentrequest_id: "{{paymentrequest.id}}",
                        logisticspaymentremarks: $('#id_remarks').val(),
                        amount_paid: '{{net_amount_to_pay}}',
                    },
                    success: function (resp) {
                        location.href = ""
                    }
                })
            }
        })
    })
</script>
{% endif %}
{% endblock %}
