{% extends 'logisticstemplates/logisticsbase.html' %}

{% block title %}Overall Account Report{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-primary bg-darken-2">
                        <i class="icon-camera font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-primary white media-body">
                        <h5>Delivered Shipments</h5>
                        <h5 class="text-bold-400 mb-0"> {{delivered_shipments.count}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}