{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Notifications{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Notifications</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Details</th>
                                    <th>From</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notification in notification_list %}
                                <tr>
                                    <td>{{notification.created_at}}</td>
                                    <td><a href="{% url 'lmsapp:customernotificationclick' notification.id %}">{{notification.title}}</a></td>
                                    <td>{{notification.description}}</td>
                                    <td>{{notification.logistics_branch}}</td>
                                    <td>
                                        <a href="{% url 'lmsapp:customernotificationclick' notification.id %}">
                                            {% if notification.is_seen %}
                                            <span class="font-weight-bold badge badge-info">View</span>
                                            {% else %}
                                            <span class="font-weight-bold badge badge-danger">View</span>
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{ticket_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}