{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Notices from the Service Providers{% endblock %}

{% block customernotice %}active{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
<section>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12">
            <div class="mb-2 mt-2">
                <h5 class="mb-0 text-uppercase">Recent Notices</h5>
                <p>All notices from your service providers</p>
            </div>
            <div id="accordionWrap1" role="tablist" aria-multiselectable="true">
                <div class="card accordion collapse-icon accordion-icon-rotate">
                    {% for notice in notice_list %}
                    <div id="heading1{{forloop.counter}}" class="card-header primary" data-toggle="collapse"
                        href="#accordion1{{forloop.counter}}"
                        aria-expanded="{% if forloop.counter == 1 %}true{% endif %}"
                        aria-controls="accordion1{{forloop.counter}}">
                        <a class="card-title lead" href="#">{{forloop.counter}}. BY: {{notice.logistics_branch}} ({{notice.created_at}} | <span class="text-danger">{{notice.created_at|timesince}} ago</span>)</a>
                    </div>
                    <div id="accordion1{{forloop.counter}}" role="tabpanel" data-parent="#accordionWrap1"
                        aria-labelledby="heading1{{forloop.counter}}"
                        class="collapse {% if forloop.counter == 1 %}show{% endif %}">
                        <div class="card-content">
                            <div class="card-body">
                                <h4 class="card-head">{{notice.title}}</h4>
                                {{notice.notice|safe}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <nav aria-label="Page navigation">
                <p>Showing {{notice_list.count}} of {{page_obj.paginator.count}} notices</p>
                <ul class="pagination justify-content-end">

                    <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                        <a class="page-link"
                            href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                            tabindex="-1">Previous</a>
                    </li>

                    {% for n in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                            class="page-link"
                            href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                        <a class="page-link"
                            href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}