{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Ticket to {{ticket.raised_to}} {% endblock %}
{% block customersupportticket %}active{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-6">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Ticket Details</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements" bis_skin_checked="1">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="fa fa-minus"></i></a></li>
                        <li><a data-action="reload"><i class="fa fa-repeat"></i></a></li>
                        <li><a data-action="close"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">Ticket ID</h5>
                            <p>#{{ticket.id}}</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">Ticket Raised To</h5>
                            <p>{{ticket.raised_to}}</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">Ticket Status</h5>
                            <p>
                                {% if ticket.ticket_status == "Solved" %}
                                <span class="badge badge-success">Ticket Solved</span>
                                {% elif ticket.ticket_status == "Reviewing" %}
                                <span class="badge badge-info">Ticket Reviewing</span>
                                {% else %}
                                <span class="badge badge-primary">Ticket {{ticket.ticket_status|title}}</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">Raised On</h5>
                            <p>{{ticket.created_at}}</p>
                        </div>
                        <div class="col-md-12">
                            <h5 class="font-weight-bold">Attached File</h5>
                            <p>{% if ticket.related_file %}<a href="{{ticket.related_file.url}}" target="_blank">View
                                    File</a>{% else %}No file attached{% endif %}</p>
                        </div>
                        <div class="col-md-12">
                            <h5 class="font-weight-bold">Issue Detail</h5>
                            <p>{{ticket.issue_detail|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Followup Conversations</h4>
            </div>
            <div class="card-content">
                <div class="card-body border-top-blue-grey border-top-lighten-5 ">
                    <div class="row" style="height: 50vh; overflow-y: scroll;display: flex;flex-direction: column-reverse;">
                        <div>

                            {% for followup in ticket.customerticketfollowup_set.all %}
                            <div class="col-md-8 {% if followup.followup_by == customer %}ml-auto bg-success{% else %}mr-auto bg-info{% endif %} mb-1 rounded">
                                <span style="font-size: 12px;">{{followup.followup_message}}</span><br>
                                <small class="font-weight-bold">{{followup.created_at}}</small>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            {% if ticket.ticket_status != "Solved" %}
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-9">
                                        <textarea placeholder="Write your reply..." name="followup_message" id="" cols="30" rows="3" class="form-control" required></textarea>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-info">Send Your Message</button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}
{% endblock %}