{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block shipmentlist %}active{% endblock %}
{% block title %}{{shipment.tracking_code}} Detail{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<section id="icon-tabs">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">

                            <h5 class="font-weight-bold">Shipment Information: {{shipment.tracking_code}}</h5>
                            <span>Status: <strong class="text-info">{{shipment.shipment_status}}</strong></span>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group float-md-right" role="group"
                                aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"
                                        id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="feather icon-settings icon-left"></i>
                                        Actions</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"
                                        x-placement="bottom-start"
                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
                                        {% if delivered %}
                                        <a class="shipment-action dropdown-item" href="{% url 'lmsapp:customershipmentaction' shipment.tracking_code %}" data-action="refund">Refund</a>
                                        <a class="shipment-action dropdown-item" href="{% url 'lmsapp:customershipmentaction' shipment.tracking_code %}?" data-action="exchange">Exchange</a>
                                        {% elif rejected %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver Name</h6>
                                <p>{{shipment.receiver_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver Address</h6>
                                <p>{{shipment.receiver_address}}, {{shipment.receiver_city.name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver Contact</h6>
                                <p>{{shipment.receiver_contact_number}}
                                    {% if shipment.receiver_alternative_contact_number %} |
                                    {{shipment.receiver_alternative_contact_number}}{% endif %}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver District</h6>
                                <p> {{shipment.receiver_city.district}} District,
                                    {{shipment.receiver_city.district.province}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            <!-- <div class="col-md-4">
                                <h6 class="font-weight-bold">Delivery Type</h6>
                                <p>{{shipment.delivery_type}}</p>
                            </div> -->
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">COD Info</h6>
                                <p>{{shipment.cod_info}}
                                    {% if shipment.cod_info == "Cash on Delivery" %}
                                    <span class="badge badge-danger">(Rs {{shipment.cod_value}}/-)</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Shipping Charge</h6>
                                <p>Rs. {{shipment.shipping_charge}}/-</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">COD Handling Charge</h6>
                                <p>Rs. {{shipment.cod_handling_charge}}/-</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Rejection Handling Charge</h6>
                                <p>Rs. {{shipment.rejection_handling_charge}}/-</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Service Payment Status</h6>
                                <p>
                                    {% if shipment.service_payment_status %}<span class="badge badge-success">Rs.
                                        {{shipment.service_payment_amount}}/- Paid </span>
                                    {% else %}<span class="badge badge-danger">Not paid</span>{% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Service Provider</h6>
                                <p><a
                                        href="{% url 'lbcapp:customerconnectedlogisticsdetail' shipment.shipment_origin.id %}">{{shipment.shipment_origin}}</a>
                                </p>
                            </div>

                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Tracking Code</h6>
                                <p class="badge badge-info">{{shipment.tracking_code}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Requested Date</h6>
                                <p>{{shipment.created_at}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Reference Code</h6>
                                <p>{{shipment.reference_code}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Shipment Type</h6>
                                <p>{{shipment.parcel_type}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Weight</h6>
                                <p>{{shipment.weight}} {{shipment.weight_unit}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Volume</h6>
                                <p>({{shipment.length|floatformat}}x{{shipment.breadth|floatformat}}x{{shipment.height|floatformat}})
                                    cubic {{shipment.length_unit}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold">Remarks On this Shipment</strong></h5>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1" style="height: 50vh;overflow-y: scroll;">
                        {% for remarks in remarks_list %}
                        <div class="">
                            <li title="{{remarks.shipment_status}}">
                                {% if remarks.remarks_by == customer %}
                                <strong>By You: {{remarks.created_at}}</strong>
                                {% else %}
                                <strong><span style="color: rgb(16, 206, 117);">Logistics</span> @ {{remarks.created_at}}</strong>
                                {% endif %}
                            </li>
                            <li style="list-style-type: none;">{{remarks.remarks}}</li>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="remarks-form p-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <textarea class="form-control" name="remarks" id="" cols="30" rows="3" placeholder="Write your remarks..." required></textarea>
                            <button class="btn btn-success mt-1">Add Remarks</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(".shipment-action").on("click", function(e){
        e.preventDefault();
        var action = $(this).data("action")
        $.ajax({
            url: "{% url 'lmsapp:customershipmentaction' shipment.tracking_code %}",
            method: 'post',
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: action
            },
            success: function (resp) {
                alert("")
                location.reload()
            }
        })
    })
</script>
{% endblock %}