{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Shipment List {% endblock %}
{% block shipmentlist %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/pages/page-users.min.css' %}">
<style>
    .table td,
    .table th {
        border-bottom: 1px solid #E3EBF3;
        padding: .50rem 1rem;
    }
    .table td{
        font-size: 13px;
        padding: 4px;
    }
    .active-status{
        border: 2px solid black;
    }
</style>
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-2 col-4">
                <a href="?status=Pending">
                    <button class="btn btn-warning {% if status == 'Pending' %}active-status{% endif %}">Pending Shipments <br> ({{requested_shipments.count}})</button>
                </a>
            </div>
            <div class="col-md-2 col-4">
                <a href="?status=Processing">
                    <button class="btn btn-info {% if status == 'Processing' %}active-status{% endif %}">Processing Shipments <br> ({{processing_shipments.count}})</button>
                </a>
            </div>
            <div class="col-md-2 col-4">
                <a href="?status=Dispatched">
                    <button class="btn btn-info {% if status == 'Dispatched' %}active-status{% endif %}">Dispatched Shipments <br> ({{dispatched_shipments.count}})</button>
                </a>
            </div>
            <div class="col-md-2 col-4">
                <a href="?status=Delivered">
                    <button class="btn btn-success {% if status == 'Delivered' %}active-status{% endif %}">Delivered Shipments <br> ({{delivered_shipments.count}})</button>
                </a>
            </div>
            <div class="col-md-2 col-4">
                <a href="?status=Rejected">
                    <button class="btn btn-danger {% if status == 'Rejected' %}active-status{% endif %}">Rejected Shipments <br> ({{rejected_shipments.count}})</button>
                </a>
            </div>
            <div class="col-md-2 col-4">
                <a href="?status=Returned">
                    <button class="btn btn-danger {% if status == 'Returned' %}active-status{% endif %}">Returned Shipments <br> ({{returned_shipments.count}})</button>
                </a>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>{{status}} Shipment List</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tracking Code</th>
                                    <!-- <th>Service Provider</th> -->
                                    <th>Receiver</th>
                                    <th>Destination</th>
                                    <th>COD Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shipment in shipments %}
                                <tr>
                                    <td><a title="{{shipment.shipment_status}}"
                                        href="{% url 'lmsapp:customershipmentdetail' shipment.tracking_code %}">{{shipment.tracking_code}}</a>
                                            <br>
                                            <span style="font-size: 10px;">{{shipment.created_at|date}}</span>
                                            {% if shipment.reference_code %}
                                            <br>   
                                            <span style="font-size: 10px;">Ref. code: {{shipment.reference_code}}</span>
                                            {% endif %}
                                    </td>
                                    <!-- <td>{{shipment.shipment_origin}}</td> -->
                                    <td>{{shipment.receiver_name}}<br>{{shipment.receiver_contact_number}}</td>
                                    <td>{{shipment.receiver_city}}<br>{{shipment.receiver_address}}</td>
                                    <td>{{shipment.cod_value}}</td>
                                    <td><a title="{{shipment.shipment_status}}"
                                        href="{% url 'lmsapp:customershipmentdetail' shipment.tracking_code %}"><button class="btn btn-success btn-sm">View Detail</button></a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7" style="text-align: center;">No Shipments Found !</td>
                                </tr>  
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script src="{% static 'customerstatic/app-assets/js/scripts/pages/page-users.min.js' %}"></script>
{% endblock %}