{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Request new Shipment{% endblock %}
{% block shipmentcreate %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/plugins/forms/wizard.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section id="icon-tabs">
    <form action="" class="icons-tab-steps wizard-circle" method="POST">
        <div class="row">
            {{form.non_field_errors}}
            {% csrf_token %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Request New Shipment to Deliver</h5>
                        <small class="text-danger">Fields marked with '*' are required fields</small>
                    </div>
                    <hr>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            {% if error %}
                                <p class="text-danger" style="font-weight: bold;">*** {{error}}</p>
                            {% endif %}
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="firstName2">Receiver Full Name <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_name}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phoneNumber2">Parcel Type :</label>
                                            {{form.parcel_type}}
                                            {{form.parcel_type.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="lastName2">Receiver Contact Number <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_contact_number}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date2">Receiver Street Address <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_address}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="location2">Receiver City <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_city}}
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="shipping-zone-select">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="emailAddress4"><b>COD Value To Receive:</b></label>
                                            {{form.cod_value}}
                                        </div>
                                        NOTE: <span style="font-size: 10px;"> Fill amount you need to collect from your customer in order to deliver this order </span>
                                    </div>
                                </div> 
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Additional Fields</h5>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="feather icon-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse">
                        <div class="card-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="location2">Reference Code</label>
                                            <div class="input-group">
                                                {{form.reference_code}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="location2">Shipment weight</label>
                                            <div class="input-group">
                                                {{form.weight}}
                                                <div class="input-group-append">
                                                    {{form.weight_unit}}
                                                </div>
                                                {{form.weight_unit.errors}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="location2">Shipment: length | breadth | height</label>
                                            <div class="input-group">
                                                {{form.length}}
                                                {{form.breadth}}
                                                {{form.height}}
                                                <div class="input-group-append">
                                                    {{form.length_unit}}
                                                </div>
                                                {{form.length_unit.errors}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="text-center">
            <button class="btn btn-success submit-btn" style="width:50%;">PLACE ORDER</button>
        </div>
    </form>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'customerstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
<script>
    $('.submit-btn').attr('disabled', 'disabled');
    $('.submit-btn').attr('title', 'Please fill all the required form fields to proceed');
    $("#id_receiver_city").on("change", function (e) {
        var city_id = $(this).val()
        if (city_id) {
            $.ajax({
                url: "{% url 'lmsapp:customerajaxgetszs' %}",
                method: "get",
                data: {
                    "city_id": city_id
                },
                success: function (resp) {
                    $("#shipping-zone-select").html(resp);
                    $('.submit-btn').removeAttr('disabled');
                }
            })
        }else{
            $("#shipping-zone-select").html('');
        }
    })
</script>
{% endblock %}