<div class="form-group">
    <label for="">Service Provider</label>
    <select name="shipping_zone" class="form-control select2">
        {% for shipping_zone in shipping_zones %}
        <option value="{{shipping_zone.id}}">{{shipping_zone.logistics_branch}}, Rs: {{shipping_zone.shippingzonedeliverytype_set.first.shipping_charge_per_kg}}</option>
        {% endfor %}
    </select>
</div>