{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Request new Shipment{% endblock %}
{% block shipmentcreate %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/plugins/forms/wizard.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section id="icon-tabs">
    <form action="" class="icons-tab-steps wizard-circle" method="POST">
        <div class="row">
            {{form.non_field_errors}}
            {% csrf_token %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="color: rgb(192, 192, 36);">Cannot place new shipments for now.</h5>
                    </div>
                    <hr>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <p style="font-weight: bold; color:rgb(150, 36, 36);">Currently we are not taking new orders from our customers.  We will shortly resume our services after this <span style="font-size: 18px;">DIPAWALI HOLIDAYS </span>. For any further information, you can view the notice section in your dashboard. <br> We wish our customers a very <span style="font-size: 18px;">HAPPY DIPAWALI</span> from <span style="font-size: 18px;">SARATHI LOGISTICS TEAM</span>. 
                            <br>
                            </p>
                            <p>For any enquiries do message us on our facebook page or directly call us at 9741877747, 9801882852
                            <br>
                            We are extremely sorry for any inconvenience caused to our customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block js %}

{% endblock %}