{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block title %}Request new Shipment{% endblock %}
{% block bulkshipmentcreate %}active{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" id="bulk_form_id">
            {% csrf_token %}
                   
            <div class="panel-body pa-15">
                <label style="font-size: 1.2em; padding: 5px; color: #000000;">Upload file (.xlsx)</label>
                {{form.file}}
				{% if not csv_data %}
				<br>	
                <span style="font-size: 12px; padding: 5px; color: #000000;">Your Logistics Partner:</span>
				{{form.logistics_branch}}
				{% endif %}
                <button class="btn btn-warning" style="margin-top: 5px; padding: 10px 40px;">Check File</button>
            </div>
        </form>
		<!-- <div class="bs-callout-warning callout-bordered mt-1">
			<div class="media align-items-stretch">
				<div class="media-body p-1">
					<strong>PLEASE WAIT</strong>
					<p>Your orders are being created. Please wait for a while</p>
				</div>
				<div class="d-flex align-items-center bg-warning p-2">
					<i class="fa fa-warning white font-medium-5"></i>
				</div>
			</div>
		</div> -->
        <div id="process" class="modal" style="display: none">
            <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h4 class="modal-title" id="myModalLabel3" style="color:rgb(211, 150, 84);">Please Wait</h4>
				  </div>
				  <div class="modal-body">
					<p>Your orders are being uploaded. Please wait for a while.</p>
				  </div>
				</div>
			  </div>
			</div>
        </div>
    </div>
</div>

{% if csv_data %}
	<div class="row">
		<div class="col-sm-12">
			<div class="row" id="errorrow" style="margin-top: 20px;">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">

							{% if not message %}
							<h3 class="panel-title" style="color: red;">Error Uploading Shipment</h3>
							<span style="font-size: 10px; color: red;">Errors are marked with red color text. Please correct them and try uploading file again.</span>
							{% else %}
							<h3 class="panel-title">Shipment Data Is Correct &nbsp;<button class="bn btn-success submit_bulk_shipment_upload" title="Upload bulk shipment">Place All Orders</button></h3>
							<p>Shipment will be uploaded to Logistics : {{logistics_branch}} </p>
							{% endif %}
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-responsive">
								<thead>
									<tr>
										<th>SN</th>
										<th>Receiver Name</th>
										<th>Receiver Contact</th>
										<th>City</th>
										<th>DropOff Address</th>
										<th>Parcel Type</th>
										<th>Mode of Payment</th>
										<th>PARCEL TOTAL</th>
										<th>Reference Code (OPTIONAL)</th>
										<th style="display: none;">Shipment Description (OPTIONAL)</th>
									</tr>
								</thead>
								<tbody>
									{% for data in csv_data %}
									<tr class="rows_of_csv_data">
										<td>{{forloop.counter}}</td>
										<td style="{% if data.error == data.RECEIVER_NAME %}color:red;{% endif %}">{% if data.error_name == 'empty' %}<span class="text-danger">$$empty$$</span>{% endif %}{{data.RECEIVER_NAME}}</td>
										<td style="{% if data.error == data.RECEIVER_CONTACT_NUMBER %}color:red;{% endif %}">{% if data.error_contact == "empty" %}<span class="text-danger">$$empty$$</span>{% endif %}{{data.RECEIVER_CONTACT_NUMBER}}</td>
										<td style="{% if data.error == data.DROPOFF_CITY %}color:red;{% endif %}">{{data.DROPOFF_CITY}}</td>
										<td>{% if data.error_street_addr == "empty" %}<span class="text-danger">$$empty$$</span>{% endif %}{{data.DROPOFF_STREET_ADDRESS}}</td>
										<td style="{% if data.error == data.PARCEL_TYPE %}color:red;{% endif %}">{{data.PARCEL_TYPE}}</td>
										<td style="{% if data.error == data.MODE_OF_PAYMENT %}color:red;{% endif %}">{% if data.error_mop == "empty" %}<span class="text-danger">$$empty$$</span>{% endif %}{{data.MODE_OF_PAYMENT}}</td>
										{% if data.MODE_OF_PAYMENT|lower == 'cash on delivery' %}
										<td style="{% if data.error == data.PARCEL_TOTAL %}color:red;{% endif %}">{{data.PARCEL_TOTAL}}</td>
										{% else %}
										<td style="{% if data.error == data.PARCEL_TOTAL %}color:red;{% endif %}">0</td>
										{% endif %}
										<td>{{data.REFERENCE_CODE_OPTIONAL}}</td>
										<td style="display: none;">{{data.SHIPMENT_DESCRIPTION_OPTIONAL}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% if message %}
			<div class="row" style="text-align: center;">
				<div class="col-sm-12">
					<button class="btn btn-success submit_bulk_shipment_upload" title="Upload bulk shipment" type="button">Place All Orders</button>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    {% if csv_data %}
        $('html,body').animate({
            scrollTop: $("#errorrow").offset().top},
            'slow');
    {% endif %}
</script>
<script type="text/javascript">
	$('.submit_bulk_shipment_upload').on('click', function(e) {
		e.preventDefault();
		var logistics_branch = '{{logistics_branch.id}}'
		var single_data = []
		$('.rows_of_csv_data').each(function() {
				var child_first = $(this)[0].children[0].innerHTML
				var list =  $(this)[0].children[0].innerHTML + '&;&' + $(this)[0].children[1].innerHTML + '&;&' + $(this)[0].children[2].innerHTML + '&;&' + $(this)[0].children[3].innerHTML + '&;&' + $(this)[0].children[4].innerHTML + '&;&' + $(this)[0].children[5].innerHTML + '&;&' + $(this)[0].children[6].innerHTML + '&;&' + $(this)[0].children[7].innerHTML + '&;&' + $(this)[0].children[8].innerHTML + '&;&' + $(this)[0].children[9].innerHTML
				single_data.push(list)
		})
		$.ajax({
			method: 'POST',
			url: '{% url "lmsapp:ajaxcustomerbulkshipmentupload" %}',
			data: {
				"csrfmiddlewaretoken": '{{csrf_token}}',
				'single_data': single_data,
				'logistics_branch': logistics_branch,
			},
			beforeSend: function() {
				$("#process").show();
				$('.submit_bulk_shipment_upload').attr('disabled', 'disabled');
				$('.submit_bulk_shipment_upload').html("Uploading shipments...");
			},
			success: function() {
				setTimeout(function(){ 
					location.href = '{% url "lmsapp:customershipmentlist" %}' 
				}, 1000);
			},
		})
	})
</script>
{% endblock %}