<p class="text-primary">Your search results...</p>
<hr>
{% for logistics_branch in searched_branches %}
<li class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object width-150" src="{{logistics_branch.logistics_company.company_logo.url}}"
                alt="Generic placeholder image">
        </a>
    </div>
    <div class="media-body media-search">
        <p class="lead mb-0"><a href="{% url 'lbcapp:customerlogisticsbranchdetail' logistics_branch.id %}"><span
                    class="text-bold-600">{{logistics_branch.logistics_company.company_name}}</span> -
                {{logistics_branch.branch_address}}, {{logistics_branch.branch_city}}</a></p>
        <p class="mb-0">{{logistics_branch.branch_contact}} | {{logistics_branch.branch_email}}</p>
        <ul class="list-inline list-inline-pipe text-muted">
            <li>
                <i class="fa fa-star yellow darken-2"></i>
                <i class="fa fa-star yellow darken-2"></i>
                <i class="fa fa-star yellow darken-2"></i>
                <i class="fa fa-star yellow darken-2"></i>
                <i class="fa fa-star-half yellow darken-2"></i> &nbsp;4.5 stars
            </li>
            <li>{{logistics_branch.logistics_company.logisticsbranch_set.count}} Branches</li>
        </ul>
        <p><span class="text-muted">Joined on: {{logistics_branch.created_at|date}} - </span> Logistics Service Provider
        </p>

    </div>
</li>
{% empty %}
<li class="media">
    <h6>No results found...</h6>
</li>
{% endfor %}