{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block customermarketplace %}active{% endblock %}
{% block title %}Marketplace{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-primary">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="icon-plane white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>278</h3>
                            <span>Logistics Company</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-danger">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-truck white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>156</h3>
                            <span>Logistics Branches</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-success">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-users white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>2100</h3>
                            <span>Logistics Customers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-warning">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-shopping-bag white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>423</h3>
                            <span>Daily Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="search-website" class="card overflow-hidden">
    <div class="card-header">
        <h4 class="card-title">Search for your service providers</h4>
        {% comment %}
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                <li><a data-action="close"><i class="feather icon-x"></i></a></li>
            </ul>
        </div>
        {% endcomment %}
    </div>
    <div class="card-content">
        <div class="card-body pb-0">
            <form action="" id="lb_search">
                <fieldset class="form-group position-relative mb-0">
                    <input name="lb_keyword" type="text" class="form-control form-control-xl input-xl" id="lb_keyword"
                    placeholder="Search logistics with the name or destination city and press Enter...">
                </fieldset>
            </form>
        </div>

        <!--Search Result-->
        <div id="search-results" class="card-body">
            <div class="row">
                <div class="col-12 col-md-8">
                    <p class="text-muted font-small-3">List of logistics companies who can pickup your shipments </p>
                    <ul class="media-list p-0" id="searched_branches">
                        {% for logistics_branch in logistics_branch_list %}
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object width-150"
                                        src="{{logistics_branch.logistics_company.company_logo.url}}"
                                        alt="Generic placeholder image">
                                </a>
                            </div>
                            <div class="media-body media-search">
                                <p class="lead mb-0"><a href="{% url 'lbcapp:customerlogisticsbranchdetail' logistics_branch.id %}"><span class="text-bold-600">{{logistics_branch.logistics_company.company_name}}</span> - {{logistics_branch.branch_address}}, {{logistics_branch.branch_city}}</a></p>
                                <p class="mb-0">{{logistics_branch.branch_contact}} | {{logistics_branch.branch_email}}</p>
                                <ul class="list-inline list-inline-pipe text-muted">
                                    <li>
                                        <i class="fa fa-star yellow darken-2"></i>
                                        <i class="fa fa-star yellow darken-2"></i>
                                        <i class="fa fa-star yellow darken-2"></i>
                                        <i class="fa fa-star yellow darken-2"></i>
                                        <i class="fa fa-star-half yellow darken-2"></i> &nbsp;4.5 stars
                                    </li>
                                    <li>{{logistics_branch.logistics_company.logisticsbranch_set.count}} Branches</li>
                                </ul>
                                <p><span class="text-muted">Joined on: {{logistics_branch.created_at|date}} - </span> Logistics Service Provider</p>
                                
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border-grey border-lighten-2">
                        <div class="card-body px-0">
                            <h4 class="card-title">Logistics Marketplace</h4>
                            <h6 class="card-subtitle text-muted">Find your logistics service providers in one place. </h6>
                        </div>
                        <img class="img-fluid" src="{% static 'customerstatic/app-assets/images/portfolio/width-600/portfolio-3.jpg' %}"
                            alt="logo">
                        <div class="card-body px-0">
                            <p class="card-text">Our deilvery partner will delivery your shipments to anywhere in the world. You can trust our services. <a href="#">Contact us</a></p>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Website :</strong> <a href="#"
                                        class="card-link">https://sarobartech.com</a></li>
                                <li class="list-group-item"><strong>Customer service :</strong> 9849978896</li>
                                <li class="list-group-item"><strong>Founder :</strong> logistics Marketplace</li>
                                <li class="list-group-item"><strong>Founded :</strong> 2021</li>
                                <li class="list-group-item"><strong>Support:</strong> <a
                                        href="#">support@logisticsmarketplace.com</a>
                                </li>
                            </ul>
                            <div class="py-1 text-center">
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span
                                        class="fa fa-facebook"></span></a>
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span
                                        class="fa fa-twitter"></span></a>
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span
                                        class="fa fa-linkedin font-medium-4"></span></a>
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-github"><span
                                        class="fa fa-github font-medium-4"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $("#lb_search").on("submit", function(e){
        e.preventDefault();
        $.ajax({
            url: "",
            data: {
                lb_keyword: $("#lb_keyword").val()
            },
            success: function(resp){
                $("#searched_branches").html(resp)
            }
        })
    })
</script>
{% endblock %}