{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block connected_logistics %}active{% endblock %}
{% block title %}{{connected_branch}}{% endblock %}

{% block css %}

{% endblock %}


{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Service Provider : {{connected_branch.branch_city}}<strong>, {{connected_branch.logistics_company.company_name}}</strong></h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements" bis_skin_checked="1">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="fa fa-minus"></i></a></li>
                        <li><a data-action="reload"><i class="fa fa-repeat"></i></a></li>
                        <li><a data-action="close"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Login Email</h5>
                            <p>{{connected_branch.branch_email}}</p>
                        </div>
                        
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Contact Number</h5>
                            <p>{{connected_branch.branch_contact}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Alternative Contact</h5>
                            <p>{% if connected_branch.alternative_contact_number %}{{connected_branch.alternative_contact_number}}{% else %}Not Provided{% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Location</h5>
                            <p>{{connected_branch.branch_address}}, {{connected_branch.branch_city}},  {{connected_branch.city.district}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Joined on</h5>
                            <p>{{connected_branch.created_at|date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Registration Document</h5>
                            <p>{% if connected_branch.logistics_company.document1 %}<a href="#">Submitted</a>{% else %}None{% endif %}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">VAT/PAN Document</h5>
                            <p>{% if connected_branch.logistics_company.document2 %}<a href="#">Submitted</a>{% else %}None{% endif %}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Other Document</h5>
                            <p>{% if connected_branch.logistics_company.document3 %}<a href="#">Submitted</a>{% else %}None{% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Profile Image</h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <img src="{% if connected_branch.logistics_company.company_logo %}{{connected_branch.logistics_company.company_logo.url}}{% else %}{% endif %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Shipping Zones of {{connected_branch}} <input type="text" id="search-city" placeholder="search city"></h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    {% for sz in branch_szs %}
                    <div class="table-responsive">
                        <h4 class="card-title">{{sz.shipping_zone}}</h4>
                        <table class="table table-bordered">
                            <strong>Cities in {{sz.shipping_zone}}:</strong>
                            <tbody>
                                {% for city in sz.cities.all %}
                                <td>{{city}}</td>
                                {% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Delivery Type</th>
                                    <th>Shipping Charege per KG</th>
                                    <th>COD Handling Charge</th>
                                    <th>Rejection Handling Charge</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for szdt in sz.shippingzonedeliverytype_set.all %}
                                {% if szdt.status == "Active" %}
                                <tr>
                                    <td>{{szdt.delivery_type}}</td>
                                    <td>Rs. {{szdt.shipping_charge_per_kg}}/Kg (Rs. {{szdt.additional_shipping_charge_per_kg}}/Kg for additional)</td>
                                    <td>Rs. {{szdt.cod_handling_charge}}%</td>
                                    <td>Rs. {{szdt.rejection_handling_charge}}%</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $("#search-city").on("keyup", function(){
        
    })
</script>
{% endblock %}