{% extends 'customertemplates/customerbase.html' %}
{% load static %}

{% block connected_logistics %}active{% endblock %}
{% block title %}Connected Logistics {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/pages/page-users.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-table">
        <div class="card">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Connected Logistics</h4>
            </div>
            <hr>
            <div class="card-content">
                <div class="card-body">
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Logistics Unit</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lb in connected_logistics %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'lbcapp:customerconnectedlogisticsdetail' lb.id %}">{{lb.logistics_company}}, {{lb.branch_city}}</a></td>
                                    <td>{{lb.branch_address}}</td>
                                    <td>{{lb.branch_contact}}</td>
                                    <td>{{lb.branch_email}}</td>
                                    <td>
                                        <a href="{% url 'lbcapp:customerconnectedlogisticsdetail' lb.id %}"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script>
    $(".table").DataTable()
</script>
{% endblock %}