{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block title %}Logistics Marketplace Nepal | One and only logistics/courier network platform in Nepal{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Welcome to Logistics Marketplace Nepal</h3>
    </div>
</div>
{% endblock %}