{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <a href="{% url 'siteapp:clienthome' %}">Home</a>
    <a href="{% url 'lmsapp:customerlogin' %}">Login as a Customer</a>
    <a href="{% url 'lmsapp:logisticslogin' %}">Login as a Logistics</a>

    {% block content %}

    {% endblock %}
</body>
</html>