{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{org.name}} | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{{org.name}}">
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    {% block meta_og %}

    {% endblock %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K5BMNCD');</script>
    <!-- End Google Tag Manager -->
    {% if org.google_analytics_script %}{{org.google_analytics_script|safe}}{% endif %}
    <!-- LOAD CSS FILES -->
    <link href="{% static 'clientstatic/css/main.css' %}" rel="stylesheet" type="text/css">
    <style>
        .blink-title {
         color: rgb(84, 81, 0)!important;
         animation: blinker 2s linear infinite;  
        }
        @keyframes blinker {
            50% {
                opacity: 20%;
            }
        }
        /* #mobilenavbutton{
            display: none !important;
        } */
    </style>
    {% block css %}
    {% endblock %}
</head>

<body>
    <div id="preloader"></div>
    <div id="wrapper">
        <!-- header begin -->
        <header>
            {% if org.fb_pixel_script %}{{org.fb_pixel_script|safe}}{% endif %}
            {% if org.fb_messenger_script %}{{org.fb_messenger_script|safe}}{% endif %}

            <div class="container">
                <span id="menu-btn"></span>
                <div class="row">
                    <div class="col-md-3">

                        <!-- logo begin -->
                        <div id="logo">
                            <div class="inner">
                                <a href="/">
                                    <!-- <img src="{{org.logo.url}}" alt="{{org.name}}" style="height: 80px; object-fit: cover;" class="logo-1"> -->
                                    <!-- <img src="{% static 'clientstatic/img/logo-2.png' %}" alt="" class="logo-2"> -->
                                    <h4 class="logo-1" style="color: #fff; font-weight: bold; font-size: 25px;">{{org.name}}</h4>
                                    <h4 class="logo-2" style="font-weight: bold; font-size: 25px;">{{org.name}}</h4>
                                </a>

                            </div>
                        </div>
                        <!-- logo close -->

                    </div>

                    <div class="col-md-9">

                        <!-- mainmenu begin -->
                        <nav id="mainmenu-container">
                            <ul id="mainmenu">
                                <li><a href="javascript:void(0)">Services</a>
                                    <ul>
                                        {% for service in services %}
                                        <li><a href="{% url 'siteapp:clientservicedetail' service.slug %}">{{service.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'siteapp:clientpage' 'about-us' %}">About Us</a></li>
                                <li><a href="{% url 'siteapp:clienttrackorder' %}">Track Order</a></li>
                                <li><a href="{% url 'siteapp:clientcontact' %}">Contact</a></li>
                                <li id="mobilenavbutton"><a style="float:left; padding-right: 5px!important;" href="{% url 'lmsapp:customerlogin' %}"><button class="btn btn-success">Login</button></a><a style="float: left;" href="{% url 'lmsapp:customersignup' %}"><button class="btn btn-danger">New Customer?</button></a><a class="blink-title" style="float: left;" href="{% url 'siteapp:clientbecomerider' %}"><button class="btn btn-danger">Become Rider</button></a></li>
                            </ul>
                        </nav>
                        <!-- mainmenu close -->

                        <div class="social">
                          
                            <a href="{% url 'lmsapp:customerlogin' %}"><button class="btn btn-success">Login</button></a>
                            <a href="{% url 'lmsapp:customersignup' %}"><button class="btn btn-danger">New Customer?</button></a>
                            <a class="blink-title" href="{% url 'siteapp:clientbecomerider' %}"><button class="btn btn-danger">Become Rider</button></a>
                        </div>
                        <!-- social icons -->
                        <!-- social icons close -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->


        {% block content %}
        {% endblock %}
        <!-- footer begin -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Our Services</h3>
                        <div class="tiny-border"></div>
                        <ul>
                            {% for service in services %}
                            <li><a href="{% url 'siteapp:clientservicedetail' service.slug %}">{{service.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3>Location</h3>
                        <div class="tiny-border"></div>
                        {{org.address}}<br>
                        {{org.name}}<br>
                        Tel. {{org.contact_no}} {% if org.alt_contact_no %}, {{org.alt_contact_no}}{% endif %}<br>
                        Email: {{org.email}}<br>

                        <div class="divider-single"></div>
                        <div class="social-icons">
                            {% if org.facebook %}
                            <a href="{{org.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                            {% endif %}
                            {% if org.instagram %}
                            <a href="{{org.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
                            {% endif %}
                            <a href="mailto:{{org.email}}"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Pages</h3>
                        <div class="tiny-border"></div>
                        <ul>
                            {% for page in pages %}
                            <li><a href="{% url 'siteapp:clientpage' page.slug %}">{{page.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="divider"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="spacer-single"></div>
                        &copy; Copyright 2021 @ {{org.name}}
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>

    <!-- LOAD JS FILES -->
    <script src="{% static 'clientstatic/js/jquery.min.js' %}"></script>
    <script src="{% static 'clientstatic/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'clientstatic/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'clientstatic/js/easing.js' %}"></script>
    <script src="{% static 'clientstatic/js/jquery.ui.totop.js' %}"></script>
    <script src="{% static 'clientstatic/js/ender.js' %}"></script>
    <script src="{% static 'clientstatic/js/owl.carousel.js' %}"></script>
    <script src="{% static 'clientstatic/js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'clientstatic/js/jquery.plugin.js' %}"></script>
    <script src="{% static 'clientstatic/js/wow.min.js' %}"></script>
    <script src="{% static 'clientstatic/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'clientstatic/js/jquery.stellar.js' %}"></script>
    <script src="{% static 'clientstatic/js/typed.js' %}"></script>
    <script src="{% static 'clientstatic/js/jquery.scrollto.js' %}"></script>
    <script src="{% static 'clientstatic/js/custom.js' %}"></script>
    {% block js %}
    {% endblock %}


    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="{% static 'clientstatic/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'clientstatic/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'clientstatic/js/revslider-custom.js' %}"></script>

	<!-- snow fx -->
	<script src="{% static 'clientstatic/js/let-it-snow.min.js' %}"></script>
	<script>
		$.letItSnow('.let-it-snow', {
            stickyFlakes: 'lis-flake--js',
            makeFlakes: true,
            sticky: true
        });
	</script>

</body>
</html>
