{% extends 'clienttemplates/clientbase.html'%}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block meta_description %}
{{org.meta_description|striptags}}
{% endblock %}
{% block content %}

 <section id="subheader" class="no-bottom" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{org.name}}
                    <span>{{page.title}}</span>
                    </h1>
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<div id="content" class="no-padding">
    
    <section id="service-details" class="side-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{page.content|safe}}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <div class="call-to-action text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>Get your shipping quote now.</h2>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'siteapp:clientcontact' %}" class="btn-border-light">Get Quote Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}