{% extends 'clienttemplates/clientbase.html'%}
{% load static %}
{% block title %}Track your order{% endblock %}
{% block css %}
<style>
    input {
        width: 100%!important;
    }
</style>
{% endblock %}
{% block content %}

<!-- subheader begin -->
<section id="subheader" class="page-track no-bottom" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Track
                    <span>Your Order Info</span>
                    </h1>
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<div class="clearfix"></div>

<!-- content begin -->
<div id="content"  class="no-padding">
    <!-- section begin -->
    <section id="section-tracking">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cta-form wow fadeIn" data-wow-delay="0s" data-wow-duration="1s">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    {{form.tracking_code}}
                                </div> 
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-12">
                                    {{form.contact}}
                                </div> 
                            </div>
                            <input style="margin-top: 15px;" type="submit" name="submit" value="TRACK ORDER">
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cta-form wow fadeIn" data-wow-delay="0s" data-wow-duration="1s">
                        <h5 style="color: #fff;">NOTE: <br> Enter your tracking code and receiver contact number to track your order</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="" class="light-text">
            <div class="container">
                <div class="row" id="shipment-description">
                  
                </div>
            </div>
        </div>

    </section>
    <!-- section close -->
</div>

{% endblock %}

{% block js %}
<script>
    $('form').on('submit', function(e){
        e.preventDefault();
        $.ajax({
            url: "",
            method: "post",
            data: {
                tracking_code: $('#id_tracking_code').val(),
                contact: $('#id_contact').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function (resp) {
                if (resp.status == "success"){
                    jQuery('#shipment-description').slideDown();
                    jQuery('html,body').scrollTo("#shipment-description", "#shipment-description"); 
                    
                    var html = `
                    <div class="col-md-10 col-md-offset-1">
                        <div class="divider-double"></div>
                        <div class="text-center">
                            <h3><span class="grey">Shipment Code:</span> ${resp.shipment.tracking_code}</h3>
                        </div>
                        <div class="divider-double"></div>
                        <div class="wrapper-line padding40 rounded10">
                            <ul class="progress">
                                <li class="Pending"><a href="#">Pending</a></li>
                                <li class="Processing"><a href="#">Processing</a></li>
                                <li class="Dispatched"><a href="#">Dispatched</a></li>
                                <li class="Delivered"><a href="#">Delivered</a></li>
                                <li class="Rejected"><a href="#">Rejected</a></li>
                                <li class="Canceled"><a href="#">Canceled</a></li>
                            </ul>
                            <div class="divider-double"></div>
                        </div>
                        <ul class="timeline custom-tl">
                            <li class="timeline-inverted">
                                <div class="timeline-date wow zoomIn" data-wow-delay=".2s">
                                    Shipment Info:
                                </div>
                                <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">
                                    <div class="timeline-body">
                                        <span style="color: orangered;">Current Status: ${resp.shipment.shipment_status}</span>
                                        <br>
                                        Shipment Placed on: ${resp.shipment.created_at}
                                        <br>
                                        Tracking Code : ${resp.shipment.tracking_code}
                                        <br>
                                        <span style="color: green;">COD Value : Rs. ${resp.shipment.cod_value}</span>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-date wow zoomIn" data-wow-delay=".2s">
                                    Receiver Info :
                                </div>
                                <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">
                                    <div class="timeline-body">
                                        Receiver Name: ${resp.shipment.receiver_name} | Contact : ${resp.shipment.receiver_contact_number} 
                                        <span class="location">${resp.shipment.receiver_address}, ${resp.shipment.receiver_city}</span>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-date wow zoomIn" data-wow-delay=".2s">
                                    Logistics Info:
                                </div>
                                <div class="timeline-panel wow fadeInRight" data-wow-delay=".6s">
                                    <div class="timeline-body">
                                        Company: ${resp.shipment.sender_name} | Contact : ${resp.shipment.sender_contact_number} 
                                        <span class="location">${resp.shipment.sender_address}, ${resp.shipment.sender_city}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    `
                    
                    $('#shipment-description').html(html);
                    var status = resp.shipment.shipment_status
                    $('.'+status).addClass('active')

                }
                else{
                    alert('Could not find your order with provided information. Please try again with correct inforamtaion')
                }
            }
        })
    })
</script>
// <!-- // btn track click
// jQuery('#track-it').on( "click", function() {
//     jQuery('#section-tracking-result').slideDown();
//     jQuery('html,body').scrollTo("#section-tracking-result", "#section-tracking-result"); 
// }); -->
{% endblock %}
