{% extends 'clienttemplates/clientbase.html'%}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}
<section id="subheader" class="page-contact no-bottom" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Us
                        <span>Get In Touch With Us</span>
                    </h1>
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="content">
    <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".8s">{{org.name}}
                        </h2>
                        <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                    </div>

                    <div class="col-md-12 text-center">
                        <!-- <h3>Our Contact</h3> -->
                        <div style="font-size: 20px;">   
                            {{org.address}}<br>
                            Tel. {{org.contact_no}} {% if org.alt_contact_no %}, {{org.alt_contact_no}}{% endif %}<br>
                            Email. {{org.email}}<br>
                        </div>
                        <div class="divider-single"></div>
                    </div>
                </div>
        <div class="divider-line"></div>
        <div class="row no-gutter">
            <div class="col-md-6">
                <div id="map"></div>
            </div>
            <div class="col-md-6">
                <div id="contact-form-wrapper">
                    <div class="contact_form_holder">
                        <form class="row" name="form1" method="POST">
                            {% csrf_token %}
                            <span class="text-danger">{{form.name.errors}}</span>
                            {{form.name}}
                            <span class="text-danger">{{form.email.errors}}</span>
                            {{form.email}}
                            <span class="text-danger">{{form.contact.errors}}</span>
                            {{form.contact}}
                            <span class="text-danger">{{form.address.errors}}</span>
                            {{form.address}}
                            <span class="text-danger">{{form.subject.errors}}</span>
                            {{form.subject}}
                            <span class="text-danger">{{form.message.errors}}</span>
                            {{form.message}}
                            {{form.status}}
                            <button type="submit" class="btn btn-custom">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('#id_status').attr('style', 'display:none');
    $('#id_status').val('Active');
</script>
<script>
function myMap() {
		var styleArray = [
		{
		  featureType: "all",
		  stylers: [
		  { saturation: -80 }
		  ]
		}, {
		  featureType: "road.arterial",
		  elementType: "geometry",
		  stylers: [
		  { hue: "#00ffee" },
		  { saturation: 50 }
		  ]
		}, {
		  featureType: "poi.business",
		  elementType: "labels",
		  stylers: [
		  { visibility: "off" }
		  ]
		}
		];
		var forlocation = '{{org.map_location}}';
	    var match = forlocation.split(',');
	    var lat = parseFloat(match[0]);
    	var lng = parseFloat(match[1]);
		// Create a map object and specify the DOM element for display.
		var latlng = new google.maps.LatLng(lat, lng);// Change a map coordinate here!
		var map = new google.maps.Map(document.getElementById("map"), {
		  center: latlng, 
		  scrollwheel: false,
		// Apply the map style array to the map.
		styles: styleArray,
		zoom: 15
		});
        addMarker(latlng, map);
		}
		function addMarker(location, map) {
		var marker = new google.maps.Marker({
          animation: google.maps.Animation.DROP,
		  position: location,
          

          map: map,
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvixCoSBkZLgW_yDL1MnLZfmGkE6SjEBk&callback=myMap"></script>

{% endblock %}
