{% extends 'clienttemplates/clientbase.html'%}
{% load static %}
{% load custom_tags %}
{% block title %}Reliable Delivery Partner in Nepal{% endblock %}
{% block meta_og %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Sarathi Logistics Pvt. Ltd., sarathilogistics.com " />
<meta property="og:description" content="{{org.about_us|striptags}}" />
<meta property="og:image" content="https://sarathilogistics.com{{org.logo.url}}" />
{% endblock %}
{% block css %}

{% endblock %}
{% block meta_description %}
{{org.meta_description|striptags}}
{% endblock %}
{% block content %}
<section id="subheader" class="no-bottom" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{org.name}}
                    <span>Logistics Charges</span>
                    </h1>
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="content" class="no-padding">
    
    <section id="service-details" class="side-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for district in districts %}
                    <h3 style="font-weight: bold;">{{district.name}}</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>City</th>
                            <th>Shipping Charge</th>
                        </tr>
                        {% for city in district.city_set.all %}
                        <tr>
                            <td>{{city.name}}</td>
                            <td>Rs. {{city|city_charge}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
</div>
{% endblock %}
