{% extends 'clienttemplates/clientbase.html'%}
{% load static %}
{% block title %}Reliable Delivery Partner in Nepal{% endblock %}
{% block meta_og %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Sarathi Logistics Pvt. Ltd., sarathilogistics.com " />
<meta property="og:description" content="{{org.about_us|striptags}}" />
<meta property="og:image" content="https://sarathilogistics.com{{org.logo.url}}" />
{% endblock %}
{% block css %}
<style>
    @media only screen and (hover: none) and (pointer: coarse){
        .no-mobile-view {
            display: none;
        }
        .slide-image {
            max-height: 200px;
            background-size: contain;
        }
    }
    .closebutton {
        border-radius: 50%;
        background-color: rgb(255, 0, 0)!important;
        width: 30px;
        height: 30px;
        color: rgb(255, 255, 255);
    }
</style>
{% endblock %}
{% block meta_description %}
{{org.meta_description|striptags}}
{% endblock %}
{% block content %}
<!-- content begin -->
<div id="content" class="no-padding">
    {% if org.banner_display %}
    <div id="myModal" class="modal fade" style="margin-top: 10%;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" style="padding: 2px!important;">
                    <div style="text-align: center;">
                        <button style="position: absolute; right: -18px; top: -18px;" type="button" class="close closebutton" data-dismiss="modal">&times;</button>
                        <img src="{{org.banner_image.url}}" class="img-responsive"  style="width: 100%; max-height: 400px; object-fit: contain;  background-color: #f1f1f1; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- section begin -->
    <section id="section-intro-2" class="no-padding autoheight light-text let-it-snow slide-image" data-stellar-background-ratio="0.5" style="background: url({{org.profile_image.url}}) #303a43 no-repeat; background-size:cover;">
        <div class="center-y no-mobile-view">
            <div class="inner text-center">
                <div class="sub-intro-text"><span class="text-white">Warm regards from {{org.name}} management</span></div>
                <div class="divider-double"></div>
                <div class="type-wrap title big">
                    <div class="typed-strings">
                        {% for tag in tags %}
                        <p class="quickfit">{{tag.title|striptags}}</p>
                        {% endfor %}
                    </div>
                    <span class="typed"></span>
                </div>
                <div class="divider-single"></div>
                <a href="{% url 'lmsapp:customerlogin' %}" class="btn-custom">Place your order</a>
                <div class="divider-double"></div>
            </div>
        </div>
    </section>
    <!-- section close -->
    
    <section id="section-services" class="no-padding">
        <div class="box-container">
        {% for service in services|slice:'3' %}
        <div id="bg-service-{{forloop.counter}}" class="box-one-third light-text">
            <div class="inner wow" data-wow-delay="0s">
                <h2 class="wow fadeIn" data-wow-delay=".2s">{{service.title}}</h2>
                <p class="wow fadeIn" data-wow-delay=".3s">{{service.content|striptags|truncatechars:'80'}}</p>
                <div class="divider-single"></div>
                <a href="{% url 'siteapp:clientservicedetail' service.slug %}" class="btn-border-light wow fadeInUp" data-wow-delay=".4s" data-wow-duration=".3s">Read More</a>
            </div>
        </div>
        {% endfor %}
       
    </div>

    <div class="clearfix"></div>
        
    </section>
    		
    <!-- section begin -->
    <section id="section-features" class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-box">
                        <div class="text wow fadeIn" data-wow-delay=".2s">
                            {{org.about_us|safe}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <!-- section close -->

    
    <!-- section begin -->
    <section id="explore-3" class="side-bg light-text">
        <div class="col-md-6 col-md-offset-6 pull-right image-container">
            <div class="background-image"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="inner-padding">
                        <div id="testi-carousel" class="testi-slider wow fadeIn" data-wow-delay="0s" data-wow-duration="1s">
                            {% for testimonial in testimonials %}
                            <div class="item">
                                <blockquote>
                                    {{testimonial.content|striptags}} 
                                </blockquote>
                                <span class="testi-by">{{testimonial.name}}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!-- section close -->

    
    <!-- section begin -->
    <section id="section-faq" class="light-text">

        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0">FAQ
                <span>Frequently Asked Questions</span>
                    </h2>
                    <div class="small-border wow flipInY" data-wow-delay=".2s" data-wow-duration=".8s"></div>
                </div>

                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s" data-duration=".75s">
                    <ul class="accordion">
                        {% for faq in faqs %}
                        {% if forloop.counter|divisibleby:2 %}
                        <li>
                            <a class="{% if forloop.counter == 1 %}Active{% else %}NoneActive{% endif %}">{{faq.question}}</a>
                            <div class="content">
                                {{faq.answer|safe}} 
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s" data-duration=".75s">
                    <ul class="accordion">
                        {% for faq in faqs %}
                        {% if not forloop.counter|divisibleby:2 %}
                        <li>
                            <a class="NoneActive">{{faq.question}}</a>
                            <div class="content">
                                {{faq.answer|striptags}} 
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="divider-single"></div>

                <div class="text-center">
                    <a href="{% url 'siteapp:clientcontact' %}" class="btn-border-light wow fadeInUp" data-wow-delay="0">Have More Questions?</a>
                </div>


            </div>
        </div>

        <div class="clearfix"></div>
    </section>
    <!-- section close -->

    <div class="call-to-action text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>Contact us now to get quote for all your shipping needs.</h2>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'siteapp:clientcontact' %}" class="btn-border-light">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'clientstatic/js/jquery.quickfit.js' %}"></script>  
<script>
$('.quickfit').quickfit({
    min: 14,
    max: 18,
    tolerance: 0.1,
    truncate:false,
    width:null
  });
</script>
{% if org.banner_display %}
<script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>
{% endif %}
{% endblock %}
