{% extends 'clienttemplates/clientbase.html'%}
{% load static %}
{% block title %}Join Sarathi Logistics{% endblock %}
{% block meta_description %}
{{org.meta_description|striptags}}
{% endblock %}
{% block content %}

 <section id="subheader" class="no-bottom" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Become a Rider
                    <span>@{{org.name}}</span>
                    </h1>
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<div id="content" class="no-padding">
    
    <section id="service-details" class="side-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p bis_size='{"x":10,"y":27,"w":581,"h":20,"abs_x":41,"abs_y":194}' style="box-sizing: inherit; margin-bottom: 1.25em; color: rgb(32, 32, 32); font-family: Raleway, Arial, Helvetica; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><strong>Main Responsibility:</strong></p>
<p bis_size='{"x":10,"y":27,"w":581,"h":20,"abs_x":41,"abs_y":194}' style="box-sizing: inherit; margin-bottom: 1.25em; color: rgb(32, 32, 32); font-family: Raleway, Arial, Helvetica; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(32, 32, 32); font-family: Raleway, Arial, Helvetica; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">&ndash; To Pick up the parcels from the senders/vendors/customers and deliver it to receivers in time.</span></p>
<p bis_size='{"x":10,"y":64,"w":581,"h":40,"abs_x":41,"abs_y":231}' style="box-sizing: inherit; margin-bottom: 1.25em; color: rgb(32, 32, 32); font-family: Raleway, Arial, Helvetica; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&ndash; To guarantee that delivery will be on time, provided at the location contracted,</p>
<p bis_size='{"x":10,"y":121,"w":581,"h":60,"abs_x":41,"abs_y":288}' style="box-sizing: inherit; margin-bottom: 1.25em; color: rgb(32, 32, 32); font-family: Raleway, Arial, Helvetica; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&ndash; Writing reports on goods delivered, including information to the supervisors on where is certain delivery or in what time it will be carried to its final destination,</p>
<p bis_size='{"x":10,"y":198,"w":581,"h":20,"abs_x":41,"abs_y":365}' style="box-sizing: inherit; margin-bottom: 1.25em; color: rgb(32, 32, 32); font-family: Raleway, Arial, Helvetica; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&ndash; Communication with the firm&rsquo;s managers and especially dispatcher,</p>
<p bis_size='{"x":10,"y":235,"w":581,"h":20,"abs_x":41,"abs_y":402}' style="box-sizing: inherit; margin-bottom: 1.25em; color: rgb(32, 32, 32); font-family: Raleway, Arial, Helvetica; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&ndash; Good verbal communication with the receivers of the delivery.</p>
                </div>
            </div>
            <div class="divider-line"></div>
            <div class="row no-gutter">
                <div class="col-md-12">
                    <div id="contact-form-wrapper">
                        <div class="contact_form_holder">
                            <h4>Application Form</h4>
                            <form class="row" name="form1" method="POST">
                                {% csrf_token %}
                                <span class="text-danger">{{form.name.errors}}</span>
                                {{form.name}}
                                <span class="text-danger">{{form.email.errors}}</span>
                                {{form.email}}
                                <span class="text-danger">{{form.contact.errors}}</span>
                                {{form.contact}}
                                <span class="text-danger">{{form.address.errors}}</span>
                                {{form.address}}
                                <span class="text-danger">{{form.rider_type.errors}}</span>
                                {{form.rider_type}}
                                <span class="text-danger">{{form.vehicle_type.errors}}</span>
                                {{form.vehicle_type}}
                                <span class="text-danger">{{form.message.errors}}</span>
                                {{form.message}}
                                {{form.status}}
                                <button type="submit" class="btn btn-custom">Become a Rider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
   
    <div class="call-to-action text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>Get your shipping quote now.</h2>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn-border-light">Get Quote Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $('#id_status').attr('style', 'display:none');
    $('#id_status').val('Active');
</script>
{% endblock %}
