{% extends 'logisticstemplates/logisticsbase.html' %}

{% load static %}

{% block title %}Password Change{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Operator Password Change</strong></h4>
                        </div>
                    </div>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group validate">
                                    <div class="controls">
                                        <label>Login Email</label>
                                        <input type="email" class="form-control" placeholder="Login email..."
                                            value="{{logistics_operator.user.username}}" disabled>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Password <span class="text-danger">*</span></label>
                                    {{password_change_form.password}}
                                    {{password_change_form.password.errors}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Confirm Password <span class="text-danger">*</span></label>
                                    {{password_change_form.confirm_password}}
                                    {{password_change_form.confirm_password.errors}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex flex-sm-row flex-column mt-1">
                                <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Save
                                    changes</button>
                                <button type="reset" class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}