{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Update Logistics Operator{% endblock %}
{% block logisticsoperators %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'logisticsstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Add Logistics Operator: </strong></h4>
                            <hr>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12">
                                        <div class="form-group">
                                            <label>Operator Type<span class="text-danger">*</span></label>
                                            {{logistics_operator_form.operator_type}}
                                            {{logistics_operator_form.operator_type.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12">
                                        <div class="form-group">
                                            <label>Login Email<span class="text-danger">*</span></label>
                                            <input type="text" value="{{logistics_operator.user.username}}" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12">
                                        <div class="form-group">
                                            <p><a href="{% url 'accapp:logisticsoperatorpasswordchange' logistics_operator_form.instance.id  %}" style="float: right;">Click this Link to change password</a></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Full Name<span class="text-danger">*</span></label>
                                            {{logistics_operator_form.full_name}}
                                            {{logistics_operator_form.full_name.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Mobile<span class="text-danger">*</span></label>
                                            {{logistics_operator_form.mobile}}
                                            {{logistics_operator_form.mobile.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Alternative Mobile</label>
                                            {{logistics_operator_form.alt_mobile}}
                                            {{logistics_operator_form.alt_mobile.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Address City</label>
                                            {{logistics_operator_form.address_city}}
                                            {{logistics_operator_form.address_city.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Profile Image</label>
                                            {{logistics_operator_form.image}}
                                            {{logistics_operator_form.image.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Citizenship</label>
                                            {{logistics_operator_form.document1}}
                                            {{logistics_operator_form.document1.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Driving Licence</label>
                                            {{logistics_operator_form.document2}}
                                            {{logistics_operator_form.document2.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Extra Docs</label>
                                            {{logistics_operator_form.document3}}
                                            {{logistics_operator_form.document3.errors}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Save Information</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>

{% endblock %}