{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Customer List{% endblock %}
{% block logisticscustomers %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">

    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title d-inline">Customer List</h4>
                    <a href="{% url 'accapp:logisticsdeliverypersoncreate' %}"
                        class="pull-right btn btn-info lbdt-btn d-inline" data-action="create">Add New Customer</a>
                </div>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Customer List ({{page_obj.paginator.count}})</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive mt-1">
                        <table id="users-list-datatable" class="table">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Location</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Created at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                    <td>
                                        <a
                                            href="{% url 'accapp:logisticscustomerdetail' customer.id %}">{{customer.full_name}}</a>
                                        {% if customer.company_name %} <br>                                        {{customer.company_name}}
                                        {% endif %}
                                    </td>
                                    <td>{{customer.city}}</td>
                                    <td>{{customer.user.username}}</td>
                                    <td>{{customer.contact_number}}</td>
                                    <td>{{customer.created_at|date}}</td>
                                    <td>

                                        <a href="{% url 'lmsapp:logisticscustomershipmentlist' customer.id %}">shipments</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{customers.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}


{% endblock %}