{% extends 'logisticstemplates/logisticsbase.html' %}

{% block logisticsoperators %}active{% endblock %}
{% block title %}Logistics Operator Profile{% endblock %}
{% block css %}

{% endblock %}

{% block content %}

<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Logistics Operator Profile : <strong>{{logistics_operator.full_name}}</strong></h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Operator Type</h5>
                            <p>{{logistics_operator.operator_type}}</p>
                        </div>
                        
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Login Email</h5>
                            <p>{{logistics_operator.user.username}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Account Status</h5>
                            <p class="badge badge-info">{{logistics_operator.status}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Contact Number</h5>
                            <p>{{logistics_operator.mobile}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Alternative Contact</h5>
                            <p>
                                {% if logistics_operator.alt_mobile %}
                                {{logistics_operator.alt_mobile}}
                                {% else %}Not Provided{% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Location</h5>
                            <p>{{logistics_operator.address_city.name}}, {{logistics_operator.address_city.district.name}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Joined on</h5>
                            <p>{{logistics_operator.created_at}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Last Logged in</h5>
                            <p>{{logistics_operator.user.last_login}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Citizenship</h5>
                            <p>
                                {% if logistics_operator.document1 %}
                                <a target="_blank" href="{{logistics_operator.document1.url}}">Download</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">PAN Card</h5>
                            <p>
                                {% if logistics_operator.document2 %}
                                <a href="{{logistics_operator.document2.url}}">Download</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Other Document</h5>
                            <p>
                                {% if logistics_operator.document3 %}<a
                                    href="{{logistics_operator.document3.url}}">Download</a>
                                {% else %}None{% endif %}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <a href="{% url 'accapp:logisticsoperatorupdate' logistics_operator.id %}" class="btn btn-info btn-block">Update Delivery Person</a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'accapp:logisticsoperatorpasswordchange' logistics_operator.id %}" class="btn btn-warning btn-block">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Profile Image</h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <img src="{% if logistics_operator.image %}{{logistics_operator.image.url}}{% else %}{% endif %}" alt=""
                        class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}