{% extends 'logisticstemplates/logisticsbase.html' %}

{% block deliverypersons %}active{% endblock %}
{% block title %}Delivery Person Profile{% endblock %}
{% block css %}

{% endblock %}

{% block content %}

<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Delivery Person Profile : <strong>{{delivery_person.full_name}}</strong></h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Login Email</h5>
                            <p>{{delivery_person.user.username}}</p>
                        </div>

                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Contact Number</h5>
                            <p>{{delivery_person.mobile}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Alternative Contact</h5>
                            <p>
                                {% if delivery_person.alt_mobile %}
                                {{delivery_person.alt_mobile}}
                                {% else %}Not Provided{% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Location</h5>
                            <p>{{delivery_person.address}}, {{delivery_person.city}}, {{delivery_person.city.district}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Joined on</h5>
                            <p>{{delivery_person.created_at}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Citizenship</h5>
                            <p>
                                {% if delivery_person.document1 %}
                                <a target="_blank" href="{{delivery_person.document1.url}}">Download</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Driving Licence</h5>
                            <p>
                                {% if delivery_person.document2 %}
                                <a href="{{delivery_person.document2.url}}">Download</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Other Document</h5>
                            <p>
                                {% if delivery_person.document3 %}<a
                                    href="{{delivery_person.document3.url}}">Download</a>
                                {% else %}None{% endif %}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <a href="{% url 'accapp:logisticsdeliverypersonupdate' delivery_person.id %}" class="btn btn-info btn-block">Update Delivery Person</a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'accapp:logisticsdeliverypersonpasswordchange' delivery_person.id %}" class="btn btn-warning btn-block">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Profile Image</h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <img src="{% if delivery_person.image %}{{delivery_person.image.url}}{% else %}{% endif %}" alt=""
                        class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}