{% extends 'logisticstemplates/logisticsbase.html' %}

{% block title %}Add Delivery Person{% endblock %}
{% block deliverypersons %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Add New Delivery Person: </strong></h4>
                            <hr>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Login Email<span class="text-danger">*</span></label>
                                            {{delivery_person_form.email}}
                                            {{delivery_person_form.email.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Login Password<span class="text-danger">*</span></label>
                                            {{delivery_person_form.password}}
                                            {{delivery_person_form.password.errors}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Full Name<span class="text-danger">*</span></label>
                                            {{delivery_person_form.full_name}}
                                            {{delivery_person_form.full_name.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Mobile<span class="text-danger">*</span></label>
                                            {{delivery_person_form.mobile}}
                                            {{delivery_person_form.mobile.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Alternative Mobile</label>
                                            {{delivery_person_form.alt_mobile}}
                                            {{delivery_person_form.alt_mobile.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Profile Image</label>
                                            {{delivery_person_form.image}}
                                            {{delivery_person_form.image.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Citizenship</label>
                                            {{delivery_person_form.document1}}
                                            {{delivery_person_form.document1.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Driving Licence</label>
                                            {{delivery_person_form.document2}}
                                            {{delivery_person_form.document2.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Extra Docs</label>
                                            {{delivery_person_form.document3}}
                                            {{delivery_person_form.document3.errors}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Save Information</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}


{% endblock %}