{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block logisticscustomers %}active{% endblock %}
{% block title %}Customer Profile{% endblock %}
{% block css %}

{% endblock %}

{% block content %}

<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Customer Detail : <strong>{{logistics_customer.full_name}}</strong></h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Login Email</h5>
                            <p>{{logistics_customer.user.username}}</p>
                        </div>

                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Contact Number</h5>
                            <p>{{logistics_customer.contact_number}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Alternative Contact</h5>
                            <p>
                                {% if logistics_customer.alternative_contact_number %}
                                {{logistics_customer.alternative_contact_number}}
                                {% else %}Not Provided{% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Location</h5>
                            <p>{{logistics_customer.address}}, <span class="text-danger">{{logistics_customer.city}}</span></p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Joined on</h5>
                            <p>{{logistics_customer.created_at|date}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Connected Date</h5>
                            <p>{{connected_on|date}}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <a href="{% url 'lmsapp:logisticscustomershipmentreport' logistics_customer.id %}" class="btn btn-info btn-block">View Shipment Report</a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="btn btn-success btn-block">View Payment History</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <a href="" class="btn btn-danger btn-block">Process Payment</a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="btn btn-primary btn-block">Visit Issues</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">Profile Image</h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <img src="{% if logistics_customer.profile_image %}{{logistics_customer.profile_image.url}}{% else %}{% endif %}" alt=""
                        class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}