{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Logistics Operators{% endblock %}
{% block logisticsoperators %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'logisticsstatic/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title d-inline">Logistics Operators</h4>
                    <a href="{% url 'accapp:logisticsoperatorcreate' %}" class="pull-right btn btn-info lbdt-btn d-inline" data-action="create">Add New Operators</a>
                </div>
                <hr>
                <div class="card-body">
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table id="users-list-datatable" class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Full name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Created at</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for logistics_operator in logistics_operators %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'accapp:logisticsoperatordetail' logistics_operator.id %}">{{logistics_operator.full_name}}</a></td>
                                    <td>{{logistics_operator.user.username}}</td>
                                    <td>{{logistics_operator.mobile}}</td>
                                    <td>{{logistics_operator.created_at}}</td>
                                    <td><span class="badge badge-info font-weight-bold">{{logistics_operator.status}}</span></td>
                                    <td>
                                      
                                        <a href="{% url 'accapp:logisticsoperatorupdate' logistics_operator.id %}"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script>
    $(".table").DataTable();
</script>

{% endblock %}