{% extends 'logisticstemplates/logisticsbase.html' %}

{% load static %}
{% block title %}{{shipping_zone}}{% endblock %}
{% block logisticsshippingzones %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Shipping Zones: <strong>{{shipping_zone.shipping_zone}} </strong></h4>
            </div>
            <div class="card-content">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Delivery Type</th>
                                    <th>Shipping Charge</th>
                                    <th>COD Handling Charge</th>
                                    <th>Rejection Handling Charge</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for szdt in shipping_zone.shippingzonedeliverytype_set.all %}
                                {% if szdt.status == "Active" %}
                                <tr>
                                    <td>{{szdt.delivery_type.delivery_type}}</td>
                                    <td>Rs. {{szdt.shipping_charge_per_kg}}/Kg <br> (Rs.
                                        {{szdt.additional_shipping_charge_per_kg}}/Kg for additional)</td>
                                    <td>Rs. {{szdt.cod_handling_charge}}%</td>
                                    <td>Rs. {{szdt.rejection_handling_charge}}%</td>
                                    <td>
                                        <a href="{% url 'lbcapp:logisticsszdtupdate' szdt.id %}" class="btn btn-info"><i
                                                class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if unset_delivery_types %}
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <h5 class="font-weight-bold">You have not set charge for these delivery types yet.</h5>
                            <tbody>
                                {% for dt in unset_delivery_types %}
                                <td>{{forloop.counter}}. {{dt.delivery_type}} | <a
                                        href="{% url 'lbcapp:logisticsszdtcreate' shipping_zone.id dt.id %}">Setup
                                        now</a></td>
                                {% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="cities-table">
                            <h5 class="font-weight-bold">Cities in this Shipping Zone:</h5>
                            <tbody>
                                {% for city in shipping_zone.cities.all %}
                                <td title="{{city.district.name}}">{{city.name}}
                                    <i data-id="{{city.id}}" class="fa fa-times remove-city"
                                        style="float: right;color: rgb(13, 150, 181);cursor: pointer;"></i>
                                </td>
                                {% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add more cities in this Shipping Zone</h4>
            </div>
            <div class="card-content">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-6">
                            <select name="select_district" id="select_district" class="form-control select2">
                                <option value selected>Select District</option>
                                {% for district in districts %}
                                <option value="{{district.id}}">{{district.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info">Load cities</button>
                        </div>
                        <hr>
                        <div class="col-md-12 table-responsive" id="loaded-cities">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'customerstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>

<script>
    $("#select_district").on("change click", function (e) {
        var district_id = $(this).val()
        if (district_id) {
            $.ajax({
                url: `{% url 'accapp:logisticsgetcities' %}?district_id=${district_id}`,
                method: "get",
                success: function (resp) {
                    $("#loaded-cities").html(resp)
                    setTimeout(function () {
                        $(".add-city").on("click", function (e) {
                            e.preventDefault();
                            var city = $(this).parent().text()
                            var city_id = $(this).data("id")
                            Swal.fire({
                                html: `Are you sure to add <span class="text-danger">${city}</span> in this shipping zone?`,
                                type: "warning",
                                showCancelButton: !0,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, add!",
                                confirmButtonClass: "btn btn-info",
                                cancelButtonClass: "btn btn-danger ml-1",
                                buttonsStyling: !1,
                            }).then(function (t) {
                                if (t.value == 1) {
                                    $.ajax({
                                        method: "post",
                                        data: {
                                            csrfmiddlewaretoken: "{{csrf_token}}",
                                            city_id: city_id,
                                            action: "add"
                                        },
                                        success: function (resp) {
                                            if (resp.status == "success") {
                                                // Swal.fire({ type: "success", title: "Success!", text: "City added successfully.", confirmButtonClass: "btn btn-success" });
                                                $("#cities-table").load(location.href + " #cities-table");
                                                setTimeout(function () {
                                                    $(".remove-city").on("click", function (e) {
                                                        e.preventDefault();
                                                        removeCity(e)
                                                    })
                                                }, 500)
                                            } else {
                                                Swal.fire({ type: "error", title: "Error!", text: resp.message, confirmButtonClass: "btn btn-danger" });
                                            }
                                        }
                                    })

                                }

                            });
                        })
                        $(".all_add_remove").on("click", function (e) {
                            e.preventDefault();
                            var act = $(this).data("action")
                            var btn_text = $(this).text()
                            var district_id = $(this).data("district_id")
                            Swal.fire({
                                html: `Are you sure to ${btn_text} in this shipping zone?`,
                                type: "warning",
                                showCancelButton: !0,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: `Yes, ${btn_text}!`,
                                confirmButtonClass: "btn btn-info",
                                cancelButtonClass: "btn btn-danger ml-1",
                                buttonsStyling: !1,
                            }).then(function (t) {
                                if (t.value == 1) {
                                    $.ajax({
                                        method: "post",
                                        data: {
                                            csrfmiddlewaretoken: "{{csrf_token}}",
                                            district_id: district_id,
                                            action: act
                                        },
                                        success: function (resp) {
                                            if (resp.status == "success") {
                                                $("#cities-table").load(location.href + " #cities-table");
                                                setTimeout(function () {
                                                    $(".remove-city").on("click", function (e) {
                                                        e.preventDefault();
                                                        removeCity(e)
                                                    })
                                                }, 500)

                                            } else {
                                                Swal.fire({ type: "error", title: "Error!", text: resp.message, confirmButtonClass: "btn btn-danger" });
                                            }
                                        }
                                    })
                                }

                            })
                        })
                    }, 500)
                }
            })
        } else {
            $("#loaded-cities").html('')
        }
    })
    $(".remove-city").on("click", function (e) {
        e.preventDefault();
        removeCity(e)
    })
    function removeCity(e) {
        var city = e.target.parentElement.innerText
        var city_id = e.target.getAttribute("data-id")
        Swal.fire({
            html: `Are you sure to remove <span class="text-danger">${city}</span> from this shipping zone?`,
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, remove!",
            confirmButtonClass: "btn btn-info",
            cancelButtonClass: "btn btn-danger ml-1",
            buttonsStyling: !1,
        }).then(function (t) {
            if (t.value == 1) {
                $.ajax({
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        city_id: city_id,
                        action: "remove"
                    },
                    success: function (resp) {
                        if (resp.status == "success") {
                            // Swal.fire({ type: "success", title: "Success!", text: "City removed successfully.", confirmButtonClass: "btn btn-success" });
                            $("#cities-table").load(location.href + " #cities-table");
                            setTimeout(function () {
                                $(".remove-city").on("click", function (e) {
                                    e.preventDefault();
                                    removeCity(e)
                                })
                            }, 500)

                        } else {
                            Swal.fire({ type: "error", title: "Error!", text: resp.message, confirmButtonClass: "btn btn-danger" });
                        }
                    }
                })
            }

        })
    }
</script>
{% endblock %}