{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block logisticsshippingzones %}active{% endblock %}
{% block title %}Shipping Zones{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'logisticsstatic/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title d-inline">All Shipping Zones</h4>
                    <a href="{% url 'lbcapp:logisticsshippingzonecreate' %}" class="pull-right btn btn-info d-inline">Add New Shipping Zone</a>
                </div>
                <hr>
                <div class="card-body">
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table id="users-list-datatable" class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Shipping Zone</th>
                                    <th>Delivery Types</th>
                                    <th>Cities</th>
                                    <th>Created at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shipping_zone in shipping_zones %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'lbcapp:logisticsshippingzonedetail' shipping_zone.id %}">{{shipping_zone.shipping_zone}}</a></td>
                                    <td>{% for szdt in shipping_zone.shippingzonedeliverytype_set.all %}{{szdt.delivery_type.delivery_type}}{% endfor %}</td>
                                    <td>{{shipping_zone.cities.all.count}}</td>
                                    <td>{{shipping_zone.created_at}}</td>
                                    <td>
                                        <a href="{% url 'lbcapp:logisticsshippingzoneupdate' shipping_zone.id %}" ><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h4 class="card-title d-inline">Delivery Types</h4>
                    <a href="{% url 'lbcapp:logisticsshippingzonecreate' %}" class="pull-right btn btn-info lbdt-btn d-inline" data-action="create">Add New Delivery Type</a>
                </div>
                <hr>
                <div class="card-body">
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table id="users-list-datatable" class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Delivery Type</th>
                                    <th>Packages</th>
                                    <th>Created at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for delivery_type in delivery_types %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td class="lb_dt">{{delivery_type.delivery_type}}</td>
                                    <td>{{delivery_type.shippingzonedeliverytype_set.all.count}}</td>
                                    <td>{{delivery_type.created_at}}</td>
                                    <td>
                                        {% if delivery_type.delivery_type == "Standard" or delivery_type.delivery_type == "standard" or delivery_type.delivery_type == "Standard Delivery" %}
                                        {% else %}
                                        <a class="lbdt-btn" href="" data-action="update" data-pk="{{delivery_type.id}}"><i class="fa fa-pencil"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade text-left" id="lbdt-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Delivery Type Information</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST" id="lbdt-form">
                {% csrf_token %}
                <input type="hidden" name="lbdt_pk" id="lbdt_pk">
                <div class="modal-body">
                    <label>Delivery Type: <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="text" placeholder="Delivery type name. eg. express ..." class="form-control" id="delivery_type" name="delivery_type" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Save Information">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script>
    $(".table").DataTable();
</script>
<script>
    $(".lbdt-btn").on("click", function(e){
        e.preventDefault();
        var action = $(this).data("action");
        if(action == "create"){
            $('#lbdt-form-modal').modal('show')
        }else if(action == "update"){
            var pk = $(this).data("pk")
            var delivery_type = $(this).parent().parent().find(".lb_dt").text()
            $("#lbdt_pk").val(pk)
            $("#delivery_type").val(delivery_type)
            $('#lbdt-form-modal').modal('show')
        }
    })
    $('#lbdt-form-modal').on("hide.bs.modal	", function(){
        $("#lbdt-form").trigger("reset")
    })
</script>
{% endblock %}