{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Setup Charge for Shipping Zone{% endblock %}
{% block logisticsshippingzones %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'logisticsstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Setup Shipping Charges: </strong></h4><hr>
                            <h6>Delivery Type: <span class="text-info">"{{delivery_type}}"</span> </h6>
                            <h6>Shipping Zone:  <span class="text-info">"{{shipping_zone.shipping_zone}}</span></h6>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5">
                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Shipping Charge Per KG<span class="text-danger">*</span></label>
                                        {{szdt_form.shipping_charge_per_kg}}
                                        {{szdt_form.shipping_charge_per_kg.errors}}
                                    </div>
                                    <div class="form-group">
                                        <label>Additional Shipping Charge Per KG<span class="text-danger">*</span></label>
                                        {{szdt_form.additional_shipping_charge_per_kg}}
                                        {{szdt_form.additional_shipping_charge_per_kg.errors}}
                                    </div>
                                    <div class="form-group">
                                        <label>COD Handling Charge %<span class="text-danger">*</span></label>
                                        {{szdt_form.cod_handling_charge}}
                                        {{szdt_form.cod_handling_charge.errors}}
                                    </div>
                                    <div class="form-group">
                                        <label>Rejection Handling Charge %<span class="text-danger">*</span></label>
                                        {{szdt_form.rejection_handling_charge}}
                                        {{szdt_form.rejection_handling_charge.errors}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 bg-info p-1">
                                <div class="table-responsive">
                                    <h4>Current Delivery types and charges</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Delivery Type</th>
                                                <th>Shipping Charge</th>
                                                <th>COD | Rejection Charge</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for szdt in other_szdts %}
                                            <tr>
                                                <td>{{szdt.delivery_type.delivery_type}}</td>
                                                <td>{{szdt.shipping_charge_per_kg}}/Kg (+ {{szdt.additional_shipping_charge_per_kg}}/Kg)</td>
                                                <td>{{szdt.cod_handling_charge}} % | {{szdt.rejection_handling_charge}} %</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-5 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Save Information</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
{% endblock %}