{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Shipping Zone Setup{% endblock %}
{% block logisticsshippingzones %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'logisticsstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Add new Shipping Zone </strong></h4>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Shipping Zone<span class="text-danger">*</span></label>
                                        {{shipping_zone_form.shipping_zone}}
                                        {{shipping_zone_form.shipping_zone.errors}}
                                    </div>
                                    {% if view.kwargs.pk is None %}
                                    <div class="form-group">
                                        <label>"Standard" Shipping Charge Per KG<span class="text-danger">*</span></label>
                                        {{szdt_form.shipping_charge_per_kg}}
                                        {{szdt_form.shipping_charge_per_kg.errors}}
                                    </div>
                                    <div class="form-group">
                                        <label>"Standard" Additional Shipping Charge Per KG<span class="text-danger">*</span></label>
                                        {{szdt_form.additional_shipping_charge_per_kg}}
                                        {{szdt_form.additional_shipping_charge_per_kg.errors}}
                                    </div>
                                    <div class="form-group">
                                        <label>"Standard" COD Handling Charge %<span class="text-danger">*</span></label>
                                        {{szdt_form.cod_handling_charge}}
                                        {{szdt_form.cod_handling_charge.errors}}
                                    </div>
                                    <div class="form-group">
                                        <label>"Standard" Rejection Handling Charge %<span class="text-danger">*</span></label>
                                        {{szdt_form.rejection_handling_charge}}
                                        {{szdt_form.rejection_handling_charge.errors}}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 bg-info p-1">
                                <div class="table-responsive">
                                    <h4>Your current Shipping Zones</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th>Shipping Zone</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sz in shipping_zones %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{sz.shipping_zone}}</td>
                                                <td>{{sz.status}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-6 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Make New Shipping Zone</button>
                                <button type="reset" class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
{% endblock %}