<table class="table table-bordered" style="width: 100%;">
    <strong>Cities: ({{cities.count}} Cities)</strong>
    <tbody>
        {% for city in cities %}
        <td style="font-size: 12px;">{{city.name}} 
            {% if city not in added_cities %}
            <a href="" class="add-city" style="float:right;" data-id="{{city.id}}"><i class="fa fa-check"></i></a>
            {% endif %}
        </td>
        {% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
            {% endfor %}
    </tbody>   
</table>
<hr>
<div class="row">
    <div class="col-md-6">
        <td><a class="btn btn-primary all_add_remove" data-action="all_add" href="" data-district_id="{{district.id}}">Add All</a></td>
    </div>
    <div class="col-md-6">
        <td><a class="btn btn-danger all_add_remove" data-action="all_remove" href="" data-district_id="{{district.id}}">Remove All</a></td>
    </div>
</div>
