{% load static %}
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Logistics Marketplace in Nepal">
    <meta name="author" content="Sarobar Technology Pvt. Ltd.">
    <title>{% block title %}{% endblock %} | Logistics Dashboard</title>
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/colors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/css/components.min.css' %}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/css/core/menu/menu-types/vertical-menu-modern.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/css/core/colors/palette-gradient.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/fonts/simple-line-icons/style.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/css/pages/card-statistics.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/css/pages/vertical-timeline.min.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/assets/css/style.css' %}">
    <!-- END: Custom CSS-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/vendors/css/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/css/plugins/extensions/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'logisticsstatic/app-assets/vendors/css/extensions/sweetalert2.min.css' %}">
    <style>
        .errorlist {
            color: red;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
    {% block css %}

    {% endblock %}

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click"
    data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-lg-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                class="feather icon-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto"><a class="navbar-brand"
                            href="{% url 'lmsapp:logisticsdashboard' %}"><img class="brand-logo" alt="stack admin logo"
                                src="{% static 'logisticsstatic/app-assets/images/logo/stack-logo-light.png' %}">
                            <h2 class="brand-text">Logistics</h2>
                        </a></li>
                    <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0"
                            data-toggle="collapse"><i class="toggle-icon icon-toggle-right font-medium-3 white feather"
                                data-ticon="feather.icon-toggle-right"></i></a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">

                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                                    class="ficon feather icon-maximize"></i></a></li>
                        <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i
                                    class="ficon feather icon-search"></i></a>
                            <div class="search-input">
                                <input class="input" type="text" placeholder="Explore Stack..." tabindex="0"
                                    data-search="template-search">
                                <div class="search-input-close"><i class="feather icon-x"></i></div>
                                <ul class="search-list"></ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
                                data-toggle="dropdown"><i class="fa fa-bell"></i><span
                                    class="badge badge-pill badge-danger badge-up">5</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0"><span
                                            class="grey darken-2">Notifications</span><span
                                            class="notification-tag badge badge-danger float-right m-0">5 New</span>
                                    </h6>
                                </li>
                                <li class="scrollable-container media-list">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="feather icon-plus-square icon-bg-circle bg-cyan"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">You have new order!</h6>
                                                <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor
                                                    sit amet, consectetuer elit.</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">30 minutes
                                                        ago</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="feather icon-download-cloud icon-bg-circle bg-red bg-darken-1"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading red darken-1">99% Server load</h6>
                                                <p class="notification-text font-small-3 text-muted">Aliquam tincidunt
                                                    mauris eu risus.</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Five hour
                                                        ago</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="feather icon-alert-triangle icon-bg-circle bg-yellow bg-darken-3"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                                                <p class="notification-text font-small-3 text-muted">Vestibulum auctor
                                                    dapibus neque.</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="feather icon-check-circle icon-bg-circle bg-cyan"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Complete the task</h6><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Last week</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="feather icon-file icon-bg-circle bg-teal"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Generate monthly report</h6><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Last month</time></small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                                        href="javascript:void(0)">Read all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
                                data-toggle="dropdown"><i class="fa fa-comment"></i><span
                                    class="badge badge-pill badge-warning badge-up">3</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Messages</span><span
                                            class="notification-tag badge badge-warning float-right m-0">4 New</span>
                                    </h6>
                                </li>
                                <li class="scrollable-container media-list"><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="avatar avatar-online avatar-sm rounded-circle"><img
                                                        src="{% static 'logisticsstatic/app-assets/images/portrait/small/avatar-s-1.png' %}"
                                                        alt="avatar"><i></i></div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Margaret Govan</h6>
                                                <p class="notification-text font-small-3 text-muted">I like your
                                                    portfolio, let's start.</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left"><span
                                                    class="avatar avatar-sm avatar-busy rounded-circle"><img
                                                        src="{% static 'logisticsstatic/app-assets/images/portrait/small/avatar-s-2.png' %}"
                                                        alt="avatar"><i></i></span></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Bret Lezama</h6>
                                                <p class="notification-text font-small-3 text-muted">I have seen your
                                                    work, there is</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Tuesday</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="avatar avatar-online avatar-sm rounded-circle"><img
                                                        src="{% static 'logisticsstatic/app-assets/images/portrait/small/avatar-s-3.png' %}"
                                                        alt="avatar"><i></i></div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Carie Berra</h6>
                                                <p class="notification-text font-small-3 text-muted">Can we have call in
                                                    this week ?</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Friday</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left"><span
                                                    class="avatar avatar-sm avatar-away rounded-circle"><img
                                                        src="{% static 'logisticsstatic/app-assets/images/portrait/small/avatar-s-6.png' %}"
                                                        alt="avatar"><i></i></span></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Eric Alsobrook</h6>
                                                <p class="notification-text font-small-3 text-muted">We have project
                                                    party this saturday.</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">last month</time></small>
                                            </div>
                                        </div>
                                    </a></li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                                        href="javascript:void(0)">Read all messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user nav-item"><a
                                class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="avatar avatar-online"><img
                                        src="{% if customer.profile_image %}{{customer.profile_image.url}}{% else %}{% static 'logisticsstatic/app-assets/images/portrait/small/avatar-s-1.png' %}{% endif %}"
                                        alt="avatar"><i></i></div><span class="user-name">{{logged_in_operator.full_name}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'accapp:logisticsoperatordetail' logged_in_operator.id %}"><i
                                        class="feather icon-user"></i> My Profile</a>
                                <a class="dropdown-item" href="{% url 'accapp:logisticsoperatorupdate' logged_in_operator.id %}"><i
                                        class="feather icon-mail"></i> Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'accapp:logisticsoperatorpasswordchange' logged_in_operator.id %}"><i
                                        class="feather icon-mail"></i> Change Password</a>
                                <a class="dropdown-item" href="{% url 'accapp:logisticsoperatordetail' logged_in_operator.id %}"><i
                                            class="fa fa-building"></i> Branch Information</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item logout" href="{% url 'lmsapp:logisticslogout' %}"><i
                                        class="feather icon-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item {% block logisticsdashboard %}{% endblock %} mt-1">
                    <a href="{% url 'lmsapp:logisticsdashboard' %}"><i class="fa fa-tachometer"></i><span
                            class="menu-title" data-i18n="dashboard">Dashboard</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="fa fa-users"></i><span class="menu-title"
                            data-i18n="Templates">Branch and Users</span></a>
                    <ul class="menu-content">
                        <li class=" nav-item {% block logisticsbranches %}{% endblock %}">
                            <a href="{% url 'accapp:logisticsbranchlist' %}" class="menu-item">Our Branches</a>
                        </li>
                        <li class=" nav-item {% block logisticscustomers %}{% endblock %}">
                            <a href="{% url 'accapp:logisticscustomerlist' %}" class="menu-item">Customers</a>
                        </li>
                        <li class="{% block logisticsoperators %}{% endblock %}"><a class="menu-item"
                                href="{% url 'accapp:logisticsoperatorlist' %}">Operators</a>
                        </li>
                        <li class="{% block deliverypersons %}{% endblock %}"><a class="menu-item"
                                href="{% url 'accapp:logisticsdeliverypersonlist' %}">Delivery Persons</a>
                        </li>
                    </ul>
                </li>
                <li class=" navigation-header">
                    <span>Shipment Management</span><i class=" feather icon-minus" data-toggle="tooltip"
                        data-placement="right" data-original-title="Apps"></i>
                </li>
                <li class="nav-item {% block logisticsshipments %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticsshipmentlist' %}"><i class="fa fa-shopping-bag"></i><span
                            class="menu-title" data-i18n="Shipments">Shipment List</span></a>
                </li>
                <li class="nav-item {% block logisticsshipmentscreate %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticsshipmentcreate' %}"><i class="fa fa-upload"></i><span
                            class="menu-title" data-i18n="Shipments">Shipment Create</span></a>
                </li>
                <li class="nav-item {% block logisticsbundles %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticsbundlelist' %}"><i class="fa fa-dropbox"></i><span
                            class="menu-title" data-i18n="Email Application">Consolidations</span></a>
                </li>
                <li class="nav-item {% block logisticsbundlecreate %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticsbundlecreate' %}"><i class="fa fa-dropbox"></i><span
                            class="menu-title" data-i18n="Email Application">New Consolidation</span></a>
                </li>
                <li class="nav-item {% block deliverytask %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticsdeliverytasklist' %}"><i class="fa fa-dropbox"></i><span
                            class="menu-title" data-i18n="Delivery Tasks">Delivery Tasks</span></a>
                </li>
                
                <li class=" navigation-header">
                    <span>Communication</span><i class=" feather icon-minus" data-toggle="tooltip"
                        data-placement="right" data-original-title="Payment"></i>
                </li>
                <li class="nav-item {% block logisticscustomerpaymentrequests %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticscustomerpaymentrequestlist' %}"><i class="fa fa-ticket"></i><span
                            class="menu-title" data-i18n="dashboard">Payment Requests</span></a>
                </li>
                <li class="nav-item {% block logisticscustomerwallet %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticscustomerwalletlist' %}"><i class="fa fa-ticket"></i><span
                            class="menu-title" data-i18n="dashboard">Customer Wallet</span></a>
                </li>
                <li class="nav-item {% block logisticsnotices %}{% endblock %}">
                    <a href="{% url 'lbcapp:logisticsnoticelist' %}"><i class="fa fa-bullhorn"></i><span
                            class="menu-title" data-i18n="dashboard">Notices</span></a>
                </li>
                <li class="nav-item {% block logisticscustomertickets %}{% endblock %}">
                    <a href="{% url 'lbcapp:logisticscustomerticketlist' %}"><i class="fa fa-ticket"></i><span
                            class="menu-title" data-i18n="dashboard">Raised Tickets</span></a>
                </li>
                <li class=" navigation-header"><span>Payment and Account</span><i class=" feather icon-minus"
                    data-toggle="tooltip" data-placement="right" data-original-title="Payment"></i>
                </li>
                <li class="nav-item {% block logisticspaymentreports %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticspaymentrepots' %}"><i class="fa fa-ticket"></i><span
                            class="menu-title" data-i18n="dashboard">Logistics Payment Reports</span></a>
                </li>
                <li class="nav-item {% block logisticspay %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticsconnectedlogisticspaymentlist' %}"><i class="fa fa-dropbox"></i><span
                            class="menu-title" data-i18n="Connected Logistics Pay">Logistics Payment</span></a>
                </li>
                <li class="nav-item {% block logisticstransactionlist %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticstransactionlist' %}"><i class="fa fa-usd"></i><span
                            class="menu-title" data-i18n="dashboard">Transactions</span></a>
                </li>
                <li class="nav-item {% block logisticsdeliverypersonattendance %}{% endblock %}">
                    <a href="{% url 'accapp:logisticsdeliverypersonattendance' %}"><i class="fa fa-motorcycle"></i><span
                            class="menu-title" data-i18n="dashboard">Rider Attendance</span></a>
                </li>
                <li class=" navigation-header">
                    <span>Reports</span><i class=" feather icon-minus" data-toggle="tooltip"
                        data-placement="right" data-original-title="Reports"></i>
                </li>
                <li class="nav-item {% block logisticsreports %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticsreport' 'dailyreport' %}"><i class="fa fa-file"></i><span
                            class="menu-title" data-i18n="Daily Report">Daily Report</span></a>
                </li>
                <li class="nav-item {% block logisticscustomshipmentlist %}{% endblock %}">
                    <a href="{% url 'lmsapp:logisticscustomshipmentlist' %}"><i class="fa fa-file"></i><span
                            class="menu-title" data-i18n="Daily Report">Custom Shipment List</span></a>
                </li>
                <li class=" navigation-header"><span>Settings and Guide</span><i class=" feather icon-minus"
                        data-toggle="tooltip" data-placement="right" data-original-title="Payment"></i>
                </li>
                <li class=" nav-item"><a href="#"><i class="fa fa-cog"></i><span class="menu-title"
                            data-i18n="Templates">Settings</span></a>
                    <ul class="menu-content">
                        <li class="{% block logisticspickupcoverage %}{% endblock %}"><a class="menu-item"
                            href="{% url 'accapp:logisticspickupcoverage' %}">Pickup Coverage</a>
                        </li>
                        <li class="{% block logisticsshippingzones %}{% endblock %}"><a class="menu-item"
                                href="{% url 'lbcapp:logisticsshippingzonelist' %}">Shipping Zones</a>
                        </li>
                        <li class="{% block my_payment_accounts %}{% endblock %}"><a class="menu-item"
                                href="{% url 'lbcapp:customerpaymentaccountlist' %}">Payment Accounts</a>
                        </li>
                        <li class="{% block logisticsmarketplace %}{% endblock %}"><a class="menu-item"
                                href="{% url 'lbcapp:logisticsmarketplace' %}">Explore Marketplace</a></li>
                        <li class="{% block logisticsquotations %}{% endblock %}"><a class="menu-item"
                                    href="{% url 'lbcapp:logisticsquotationlist' %}">Quotation Requests</a></li>
                        <li class="{% block logisticsconnectedbranches %}{% endblock %}"><a class="menu-item"
                                href="{% url 'lbcapp:logisticsconnectedbranchlist' %}">Connected
                                Logistics</a></li>
                        <li><a class="menu-item" href="{% url 'lmsapp:logisticsdashboard' %}">Logistics API</a></li>
                        <li><a class="menu-item" href="{% url 'lmsapp:logisticsdashboard' %}">Logistics API Docs</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="fa fa-question"></i><span class="menu-title"
                            data-i18n="Templates">How to</span></a>
                    <ul class="menu-content">
                        <li class=""><a class="menu-item" href="">Connect to Logistics</a></li>
                        <li><a class="menu-item" href="{% url 'lmsapp:logisticsdashboard' %}">Upload Shipment</a></li>
                        <li><a class="menu-item" href="{% url 'lmsapp:logisticsdashboard' %}">Request Payment</a></li>
                        <li><a class="menu-item" href="{% url 'lmsapp:logisticsdashboard' %}">View Payment Report</a>
                        </li>
                        <li><a class="menu-item" href="{% url 'lmsapp:logisticsdashboard' %}">Process Refund</a></li>
                        <li><a class="menu-item" href="{% url 'lmsapp:logisticsdashboard' %}">Make Exchange</a></li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a class="logout" href="{% url 'lmsapp:logisticslogout' %}"><i class="fa fa-power-off"></i><span
                            class="menu-title" data-i18n="dashboard">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span
                class="float-md-left d-block d-md-inline-block">Copyright &copy; 2021 <a
                    class="text-bold-800 grey darken-2" href="#" target="_blank">Logistics Marketplace </a></span><span
                class="float-md-right d-none d-lg-block">Developed by Sarobar Technology.
            </span>
        </p>
    </footer>
    <script src="{% static 'logisticsstatic/app-assets/vendors/js/vendors.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/app-assets/js/core/app-menu.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/app-assets/js/core/app.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/app-assets/js/scripts/customizer.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/app-assets/js/scripts/cards/card-statistics.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/app-assets/vendors/js/extensions/sweetalert2.all.min.js' %}"></script>

    <script>
        {% if messages %}
        {% for message in messages %}
        toastr.{{ message.tags }} ("{{message.tags|title}}", "{{message}}", { showMethod: "fadeIn", hideMethod: "fadeOut", timeOut: 2e3 });
        {% endfor %}
        {% endif %}
    </script>
    <script src="{% static 'logisticsstatic/assets/js/customjs.js' %}"></script>
    <script>
        var btn_text;
        $('form').on('submit', function(e){
            btn_text = $(this).find('button').text();
            $(this).find('button').attr('disabled', 'disabled');
            $(this).find('button').text('');
            $(this).find('button').append( "<span class='spinner-border spinner-border-sm'></span>" + ' &nbsp;&nbsp; Please Wait...' );
            
        })
        // $('document').ajaxSuccess(function(){
        //     $('.submit-button').removeAttr('disabled');
        //     $('.submit-button').text(btn_text);
        // });
        // $.ajax({  
        //     success: function (data) {
        //         $('.submit-button').removeAttr('disabled');
        //         $('.submit-button').text(btn_text);
        //     },
        // });
    
    </script>
    {% block js %}

    {% endblock %}
</body>

</html>