<div class="row">
    <div class="col-md-9">
        <h6>Custom Shipment List</h6>
    </div>
    <!-- <div class="col-md-3">
        <form method="get" action="{% url 'lmsapp:logisticsshipmentlist' %}">
            <input type="search" name="search" class="form-control"
                placeholder="Type keyword & press Enter">
        </form>
    </div> -->
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<a class="btn btn-warning" id="tableview">View in Table</a>
<!-- datatable start -->
<div class="table-responsive mt-1">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    <input id="selectallinputbox" type="checkbox" style="transform: scale(1.5);">
                </td>
                <th>Tracking Code</th>
                <th>Customer (Sender)</th>
                <th>Receiver Information</th>
                <th>Destination</th>
                <th>Requested</th>
                <th>COD Value</th>
            </tr>
        </thead>
        <tbody id="customshipments">
            {% for shipment in shipments %}
            {% if shipment.shipment_origin == logged_in_operator.logistics_branch %}
            <tr>
            {% else %}
            <tr style="background-color:antiquewhite;">
            {% endif %}
                <td data-id="{{shipment.id}}">
                    {% if status != "delivered" and status != "all" and status != "returned" %}
                    <input type="checkbox" class="input-chk select-shipment"
                        data-id="{{shipment.id}}">
                    {% else %}
                    {{forloop.counter}}
                    {% endif %}
                </td>
                <td><a title="{{shipment.shipment_status}}"
                        href="{% url 'lmsapp:logisticsshipmentdetail' shipment.tracking_code %}">{{shipment.tracking_code}} <small>({{shipment.shipmentremark_set.count}})</small>
                    </a>
                    <br>{% if shipment.shipment_status == 'Rider Assigned for Pickup' or shipment.shipment_status == 'Rider Picked up the Shipment'  %}Pickup{% else %}Deliver{% endif %}
                </td>
                <td title="
                Contact Person: {{shipment.customer.full_name}}, Contact: {{shipment.customer.contact_number}}, Alt Contact: {{shipment.customer.contact_number}}, Address: {{shipment.customer.address}}, {{shipment.customer.city}}">{{shipment.customer.company_name}}</td>
                <td>{{shipment.receiver_name}}<br>{{shipment.receiver_contact_number}}</td>
                <td>{{shipment.receiver_city}}<br>{{shipment.receiver_address}}</td>
                <td>{{shipment.created_at}} <br><span style="color: red;">{{shipment.created_at|timesince}} ago</span></td>
                <td title="{{shipment.shipping_charge}}">{{shipment.cod_value}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No result found...</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
        <ul class="pagination justify-content-end">

            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                <a class="page-link"
                    href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                    tabindex="-1">Previous</a>
            </li>

            {% for n in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                    class="page-link"
                    href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                <a class="page-link"
                    href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<div id="testid"></div>
<script>
    $('body').on('click', '#tableview', function(){
        var my_checklist = []
        $('table [type="checkbox"]').each(function (row, element) {
            if (element.checked && element.getAttribute("data-id")) {
                my_checklist.push(element.getAttribute("data-id"))
            }
        });
        if (my_checklist.length < 1) {
           alert('Please select atleast one shipment to proceed')
        }
        else 
        {
            $.ajax({
                    method: 'POST',
                    url: '{% url "lmsapp:ajaxlogisticscustomshipmenttablelist" %}',
                    data: {
                        'shipment_ids': JSON.stringify(my_checklist),
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    },
                    success: function (data) {
                        var w = window.open('about:blank');
                        w.document.open();
                        w.document.write(data);
                        // w.print();
                        // $('#testid').html(data);
                    }
                });
        }
    })
</script>