{% extends 'logisticstemplates/logisticsbase.html' %}
{% block title %}{{delivery_task.delivery_person}}{% endblock %}

{% block content %}
<section id="icon-tabs">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="font-weight-bold">Task Information</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Task Type:</th>
                                    <td>{{delivery_task.task_type}}</td>
                                </tr>
                                <tr>
                                    <th>Task Status:</th>
                                    <td>{{delivery_task.task_status}}</td>
                                </tr>
                                <tr>
                                    <th>Assigned At:</th>
                                    <td>{{delivery_task.scheduled_date}}</td>
                                </tr>
                                <tr>
                                    <th>Completed At:</th>
                                    <td>{{delivery_task.scheduled_date}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="font-weight-bold">Rider Information</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Delivery Person:</th>
                                    <td>{{delivery_task.delivery_person.full_name}}</td>
                                </tr>
                                <tr>
                                    <th>Mobile:</th>
                                    <td>{{delivery_task.delivery_person.mobile}} / {{delivery_task.delivery_person.alt_mobile|default:'No other number'}}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{delivery_task.delivery_person.user}}</td>
                                </tr>
                                <tr>
                                    <th>Joined On:</th>
                                    <td>{{delivery_task.delivery_person.created_at|date}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="font-weight-bold">Shipment Information</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Delivery Person:</th>
                                        <td>{{delivery_task.delivery_person.full_name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}