{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{shipment.tracking_code}}{% endblock %}
{% block logisticsshipments %}active{% endblock %}

{% block css %}
<style>
    .private-remarks {
        background-color: red;
        color: #fff;
    }
</style>
{% endblock %}

{% block content %}
<section id="icon-tabs">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">

                            <h5 class="font-weight-bold">Shipment Information: {{shipment.tracking_code}}</h5>
                            <span>Status: <strong class="text-info">{{shipment.shipment_status}}</strong></span>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group float-md-right" role="group"
                                aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"
                                        id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="feather icon-settings icon-left"></i>
                                        Actions</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"
                                        x-placement="bottom-start"
                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
                                        <a class="dropdown-item" href="{% url 'lmsapp:logisticsshipmentupdate' shipment.tracking_code %}">Update Shipment</a>
                                        <a class="dropdown-item" href="">Refund</a>
                                        <a class="dropdown-item" href="">Exchange</a>
                                        <a class="dropdown-item" href="javascript: w=window.open('{% url 'lmsapp:logisticsshippinglabel' shipment.tracking_code %}'); w.print();">Print Shipping Label</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Service Provider</h6>
                                <p><a
                                        href="{% url 'accapp:logisticscustomerdetail' shipment.customer.id%}">{{shipment.customer}}</a>
                                </p>
                            </div>

                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Tracking Code</h6>
                                <p class="badge badge-info">{{shipment.tracking_code}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Requested Date</h6>
                                <p>{{shipment.created_at}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Reference Code</h6>
                                <p>{{shipment.reference_code}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Shipment Type</h6>
                                <p>{{shipment.parcel_type}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Weight</h6>
                                <p>{{shipment.weight}} {{shipment.weight_unit}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Volume</h6>
                                <p>({{shipment.length|floatformat}}x{{shipment.breadth|floatformat}}x{{shipment.height|floatformat}})
                                    cubic {{shipment.length_unit}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver Name</h6>
                                <p>{{shipment.receiver_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver Address</h6>
                                <p>{{shipment.receiver_address}}, {{shipment.receiver_city.name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver Contact</h6>
                                <p>{{shipment.receiver_contact_number}}
                                    {% if shipment.receiver_alternative_contact_number %} |
                                    {{shipment.receiver_alternative_contact_number}}{% endif %}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Receiver District</h6>
                                <p> {{shipment.receiver_city.district}} District,
                                    {{shipment.receiver_city.district.province}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Delivery Type</h6>
                                <p>{{shipment.delivery_type}}</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">COD Info</h6>
                                <p>{{shipment.cod_info}}
                                    {% if shipment.cod_info == "Cash on Delivery" %}
                                    <span class="badge badge-danger">(Rs {{shipment.cod_value}}/-)</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Shipping Charge</h6>
                                <p>Rs. {{shipment.shipping_charge}}/-</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">COD Handling Charge</h6>
                                <p>Rs. {{shipment.cod_handling_charge}}/-</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Rejection Handling Charge</h6>
                                <p>Rs. {{shipment.rejection_handling_charge}}/-</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-weight-bold">Service Payment Status</h6>
                                <p>
                                    {% if shipment.service_payment_status %}<span class="badge badge-success">Rs.
                                        {{shipment.service_payment_amount}}/- Paid </span>
                                    {% else %}<span class="badge badge-danger">Not paid</span>{% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            {% if shipment.shipment_status in possible_rejection_conditions %}
                            <div class="col-md-6">
                                <a href="" class="btn btn-danger btn-block shipment-action" data-action="reject">Make
                                    Rejected</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold">Remarks On this Shipment</strong></h5>
                    <span style="font-size: 9px; background-color: yellow;">* Red colored remarks denotes private remarks that cannot be viewed by customers</span>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1"
                        style="height: 50vh;overflow-y: scroll;">
                        {% for remarks in remarks_list %}
                        <div class="">
                            <li title="{{remarks.shipment_status}}" class="{% if remarks.is_private %}private-remarks{% endif %}">
                                {% if remarks.remarks_by == logged_in_operator.logistics_branch %}
                                <strong title="{{remarks.remarks_written_by}}">By <span style="color: rgb(255, 37, 37);">You</span>: {{remarks.created_at|date:"y-n-j h:i a"}}</strong>
                                {% else %}
                                <strong>By <span style="color: rgb(16, 206, 117);">Customers</span> @
                                    {{remarks.created_at|date:"y-n-j h:i a"}}</strong>
                                {% endif %}
                            </li>
                            <li style="list-style-type: none;" class="{% if remarks.is_private %}private-remarks{% endif %}">{{remarks.remarks}}</li>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="remarks-form p-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <textarea class="form-control mb-2" name="remarks" id="" cols="30" rows="3" placeholder="Write your remarks..."
                                required></textarea>
                            <button class="btn btn-success">Add Remarks</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold">Shipment Activities</strong></h5>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        {% for activity in activities %}
                        <div class="">
                            <h6 title="{{activity.shipment_status}}">{{forloop.counter}}. Date: {{activity.created_at}}
                            </h6>
                            <li style="list-style-type: none; color: rgb(28, 136, 118);">> {{activity.activity}}</li>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade text-left" id="reject-shipment-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">You are going to Reject this
                    Shipment.</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'lmsapp:logisticsshipmentaction' %}" method="POST" id="shipment-action-form">
                {% csrf_token %}
                <input type="hidden" name="action" id="action">
                <input type="hidden" name="shipment_ids" id="shipment_ids">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Rejection Remarks</label>
                        <textarea name="rejection_remarks" id="rejection_remarks" cols="30" rows="2"
                            class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Make Rejected">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(".shipment-action").on("click", function (e) {
        e.preventDefault();
        if ($(this).data("action") == "reject") {
            var shipment_ids = ["{{shipment.id}}",]
            if (shipment_ids.length > 0) {
                $("#reject-shipment-modal").modal("show");
                $("#action").val('reject-shipment');
                $("#shipment_ids").val(shipment_ids);
            }
        }
    })
</script>
{% endblock %}