{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Update Shipment{% endblock %}
{% block shipmentcreate %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/plugins/forms/wizard.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}

{% block content %}
<section id="icon-tabs">
    <form action="" class="icons-tab-steps wizard-circle" method="POST">
        <div class="row">
            {{form.non_field_errors}}
            {% csrf_token %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Update Shipment</h5>
                        <small class="text-danger">Fields marked with '*' are required fields</small>
                    </div>
                    <hr>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            {% if error %}
                                <p class="text-danger" style="font-weight: bold;">*** {{error}}</p>
                            {% endif %}
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="firstName2">Receiver Full Name <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_name}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="lastName2">Receiver Contact Number <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_contact_number}}
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="location2">Receiver City <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_city}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date2">Receiver Street Address <span
                                                    class="text-danger">*</span>:</label>
                                            {{form.receiver_address}}
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="shipping-zone-select">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="emailAddress4"><b>COD Value To Receive:</b></label>
                                            {{form.cod_value}}
                                        </div>
                                        NOTE: <span style="font-size: 10px;"> Fill amount you need to collect from your customer in order to deliver this order </span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="emailAddress4"><b>Shipping Charge:</b></label>
                                            {{form.shipping_charge}}
                                        </div>
                                    </div>
                                </div> 
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success submit-btn" style="width:50%;">PLACE ORDER</button>
        </div>
    </form>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'customerstatic/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'customerstatic/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
{% endblock %}