{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Dropoff Assigned List{% endblock %}

{% block logisticsshipments %}active{% endblock %}

{% block css %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
    @media print {
  table,
  th,
  tr,
  td {
      padding: 8px !important;
      font-size: 13px;
      text-align: left;
  }
}

</style>
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter">
        <div class="users-list-table">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>Sarathi Logistics Pvt. Ltd.</h4>
                                <p>9741877747, https://sarathilogistics.com</p>
                            </div>
                        </div>
                        <!-- datatable start -->
                        <div class="table-responsive mt-1">
                            <table class="table table-bordered file-export">
                                <thead>
                                    <tr>
                                        <td>SN</td>
                                        <th>Seller/Seller Contact</th>
                                        <th>Customer/Customer Contact</th>
                                        <th>COD Amount</th>
                                        <th>Dropoff Address</th>
                                        <th>Receiver Sign</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shipment in dropoffassigned_shipments %}
                                    {% if shipment.shipment_origin == logged_in_operator.logistics_branch %}
                                    <tr>
                                    {% else %}
                                    <tr style="background-color:antiquewhite;">
                                    {% endif %}
                                        <td style="width:5%">
                                            {{forloop.counter}}
                                        </td>
                                        <td style="width:20%">
                                            {{shipment.customer.company_name}}
                                            <br>
                                            {{shipment.customer.contact_number}}
                                        </td>
                                        <td style="width:20%">
                                            {{shipment.receiver_name}}
                                            <br>
                                            {{shipment.receiver_contact_number}}  
                                        </td>
                                        <td style="width:10%">{{shipment.cod_value}}</td>
                                        <td style="width:20%">{{shipment.receiver_address}}
                                        <br>
                                        {{shipment.receiver_city.name}}
                                        </td>
                                        <td style="width:10%"></td>
                                        <td style="width:20%"></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7" class="text-center">No result found...</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/buttons.flash.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/jszip.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/pdfmake.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/vfs_fonts.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/buttons.html5.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/buttons.print.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/tables/datatables/datatable-advanced.min.js' %}"></script>

{% endblock %}
