{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Shipment List{% endblock %}

{% block logisticsshipments %}active{% endblock %}

{% block css %}
<style>
    table,
    th,
    tr,
    td {
        padding: 3px !important;
        font-size: 13px;
        text-align: left;
    }

    .shipment_category {
        border-radius: 5%;
        padding: 1px auto;
        background-color: rgb(245, 244, 255);
    }

    .shipment_category.active {
        background-color: rgb(192, 248, 194);
    }
</style>
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter">
        {% if customer %}
        <h4>Shipments For <span style="font-weight: 800;">{{customer.company_name}}</span></h4>
        {% endif %}
        <div class="border border-light rounded mb-2 bg-white">
            <div class="row p-1 bg">
                {% for shipment_data in all_shipment_data %}
                <div class="col-md-2 mb-1">
                    <div class="shipment_category {% if shipment_data.status == status %}active{% endif %}">
                        <a href="?status={{shipment_data.status}}">
                            <h6 class="text-center">{{shipment_data.title}}</h6>
                            <h4 class="text-center">{{shipment_data.shipment_count.count}}</h4>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="users-list-table">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h6>{{title|title}} Shipment List</h6>
                            </div>
                            <div class="col-md-3">
                                <form method="get" action="{% url 'lmsapp:logisticsshipmentlist' %}">
                                    <input type="search" name="search" class="form-control"
                                        placeholder="Type keyword & press Enter">
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if status == "pending" %}
                                <button class="btn btn-sm btn-danger cancel-order">Cancel Order ?</button>
                                <button class="btn btn-sm btn-success assign-pickup">Create Pickup Task ?</button>
                                {% elif status == "pickupassigned" %}
                                <button class="btn btn-sm btn-danger cancel-order">Cancel Order ?</button>
                                <button class="btn btn-sm btn-success confirm-arrived">Picked up and Arrived ?</button>
                                {% elif status == "arrived" %}
                                <button class="btn btn-sm btn-warning make-consolidation">Consolidation for HUB</button>
                                <button class="btn btn-sm btn-primary bulk-shipping-label">Bulk Print Shipping Label</button>
                                <div class="mt-1">
                                    <button class="btn btn-sm btn-success assign-dropoff">Create a Dropoff Task</button>
                                </div>
                                {% elif status == "dropoffassigned" %}
                                <a href="{% url 'lmsapp:logisticsshipmentlisttable' %}" target="_blank" class="table-view"><button class="btn btn-sm btn-primary">Shipment Table View</button></a>
                                <div class="mt-1">
                                    <button class="btn btn-sm btn-danger change-to-arrived">Change to Arrived</button>
                                    <button class="btn btn-sm btn-success confirm-dispatched">Confirm Dispatched ?</button>
                                </div>
                                {% elif status == "dispatched" %}
                                Delivery Rider: 
                                <select name="filterbyrider" id="filterbyrider">
                                    <option value="0">All Riders</option>
                                    {% for rider in delivery_persons %}
                                    <option value="{{rider.id}}">{{rider.full_name}} ({{rider.mobile}})</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-sm btn-primary" id="dispatchedshipmentfilterbyrider">Apply</button>
                                <div class="mt-1">
                                    <button class="btn btn-sm btn-warning change-to-arrived">Change to Arrived</button>
                                    <button class="btn btn-sm btn-success confirm-delivered">Confirm Delivered?</button>
                                </div>
                                {% elif status == "rejected" %}
                                <button class="btn btn-sm btn-danger confirm-readytoreturn">Ready To Return ?</button>
                                <button class="btn btn-sm btn-warning assign-dropoff">Recreate a Dropoff Task</button>
                                {% elif status == "readytoreturn" %}
                                <a href="?status=readytoreturn" style="text-decoration: underline;">My Warehouse (RTV)</a> | 
                                <a href="?status=returntobranch">Another Branch (RTB)</a>
                                <div class="mt-1">
                                    <button class="btn btn-sm btn-warning assign-return">Create a Return Task ?</button>
                                </div>
                                {% elif status == "returntobranch" %}
                                <a href="?status=readytoreturn">My Warehouse (RTV)</a> | 
                                <a href="?status=returntobranch" style="text-decoration: underline;">Another Branch (RTB)</a>
                                <div class="mt-1">
                                    <button class="btn btn-sm btn-warning make-consolidation">Consolidation for HUB</button>
                                </div>
                                {% elif status == "returnassigned" %}
                                <button class="btn btn-sm btn-warning confirm-returning">Returning the Shipments ?</button>
                                {% elif status == "returning" %}
                                <button class="btn btn-sm btn-danger confirm-returned">Confirm Returned ?</button>
                                {% endif %}
                            </div>
                        </div>
                        <!-- datatable start -->
                        <div class="table-responsive mt-1">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>
                                            {% if status != "delivered" and status != "all" and status != "returned" and status != "canceled"  %}
                                            <input id="selectallinputbox" type="checkbox" style="transform: scale(1.5);">
                                            {% else %}
                                            S.N
                                            {% endif %}
                                        </td>
                                        <th>Tracking Code</th>
                                        <th>Customer (Sender)</th>
                                        <th>Receiver Information</th>
                                        <th>Destination</th>
                                        <th>Requested</th>
                                        <th>COD Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shipment in shipments %}
                                    {% if shipment.shipment_origin == logged_in_operator.logistics_branch %}
                                    <tr>
                                    {% else %}
                                    <tr style="background-color:antiquewhite;">
                                    {% endif %}
                                        <td>
                                            {% if status != "delivered" and status != "all" and status != "returned" and status != "canceled" %}
                                            <input type="checkbox" class="input-chk select-shipment"
                                                data-id="{{shipment.id}}">
                                            {% else %}
                                            {{forloop.counter}}
                                            {% endif %}
                                        </td>
                                        <td><a title="{{shipment.shipmentremark_set.last.remarks}}"
                                                href="{% url 'lmsapp:logisticsshipmentdetail' shipment.tracking_code %}">{{shipment.tracking_code}} <small>({{shipment.shipmentremark_set.count}})</small></a>
                                        </td>
                                        <td title="
                                        Contact Person: {{shipment.customer.full_name}}, Contact: {{shipment.customer.contact_number}}, Alt Contact: {{shipment.customer.contact_number}}, Address: {{shipment.customer.address}}, {{shipment.customer.city}}">{{shipment.customer.company_name}}</td>
                                        <td>{{shipment.receiver_name}}<br>{{shipment.receiver_contact_number}}</td>
                                        <td>{{shipment.receiver_city}}<br>{{shipment.receiver_address}}</td>
                                        <td>{{shipment.created_at}} <br><span style="color: red;">{{shipment.created_at|timesince}} ago</span></td>
                                        <td title="Delivery Charge: Rs.{{shipment.shipping_charge}}">{{shipment.cod_value}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7" class="text-center">No result found...</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                                <ul class="pagination justify-content-end">

                                    <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                        <a class="page-link"
                                            href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                            tabindex="-1">Previous</a>
                                    </li>

                                    {% for n in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                            class="page-link"
                                            href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                    </li>
                                    {% endfor %}
                                    <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                        <a class="page-link"
                                            href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<div class="modal fade text-left" id="choose-staff-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Create Delivery Task</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'lmsapp:logisticsshipmentaction' %}" method="POST" id="lbdt-form">
                {% csrf_token %}
                <input type="hidden" name="action" id="action">
                <input type="hidden" name="shipment_ids" id="shipment_ids">
                <div class="modal-body">
                    <div class="additional-text"></div>
                    <div class="form-group">
                        <label>Select Delivery Person: <span class="text-danger">*</span></label>
                        <select name="delivery_person_id" id="delivery_person_id" class="form-control" required>
                            <option value>---------Select Delivery Person-----------</option>
                            {% for delivery_person in delivery_persons %}
                            <option value="{{delivery_person.id}}">
                                {{delivery_person.full_name}}({{delivery_person.user.username}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Task Details</label>
                        <textarea name="task_details" id="task_details" cols="30" rows="2" class="form-control"
                            required>Please Pickup the shipments from the senders.</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Create a Task">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="choose-bundle-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Shipments to Bundle</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'lmsapp:logisticsshipmenttobundle' %}" method="POST" id="lbdt-form">
                {% csrf_token %}
                <input type="hidden" name="shipment_ids1" id="shipment_ids1">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Select Bundle: <span class="text-danger">*</span></label>
                        <select name="bundle_id" id="bundle_id" class="form-control" required>
                            <option value>---------Select a bundle-----------</option>
                            {% for bundle in available_bundles %}
                            <option value="{{bundle.id}}">
                                {{bundle.bundle_code}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Selected Shipments: <p id="shipmentscount"></p></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Add Shipment to Bundle">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="change-to-arrived-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Change Status to 'ARRIVED'</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'lmsapp:logisticsshipmentaction' %}" method="POST" id="lbdt-form">
                {% csrf_token %}
                <input type="hidden" name="action1" id="action1">
                <input type="hidden" name="shipment_ids2" id="shipment_ids2">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reason for Status change: <span class="text-danger">*</span></label>
                        <select name="remarks_type" id="remarks_type" class="form-control" required>
                            <option value>---------Select Remarks type-----------</option>
                            <option value="private">Private Remark</option>
                            <option value="public">Public Remark</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Remarks</label>
                        <textarea name="change_remarks" id="change_remarks" cols="30" rows="2" class="form-control"
                            required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Change Status to Arrived">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    // function that provides checked shipments
    function get_list() {
        var selected_shipment_ids = []
        $('.select-shipment:checked').each(function () {
            selected_shipment_ids.push($(this).data('id'));
        })
        return selected_shipment_ids
    }
    // for pickup task
    $(".assign-pickup").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            $("#choose-staff-modal").modal("show");
            $("#action").val('assign-pickup');
            $("#shipment_ids").val(shipment_ids);
        }
    })
    $(".confirm-arrived").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            Swal.fire({
                html: `Are you sure that the selected shipments have arrived to your warehouse?`,
                type: "warning",
                showCancelButton: !0,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: `Yes, Confirm Arrived!`,
                confirmButtonClass: "btn btn-info",
                cancelButtonClass: "btn btn-danger ml-1",
                buttonsStyling: !1,
            }).then(function (t) {
                if (t.value == 1) {
                    $.ajax({
                        url: "{% url 'lmsapp:logisticsshipmentaction' %}",
                        method: "post",
                        data: {
                            csrfmiddlewaretoken: "{{csrf_token}}",
                            shipment_ids: shipment_ids.toString(),
                            action: 'confirm-arrived'
                        },
                        success: function (resp) {
                            if (resp.status == "success") {
                                location.href = ""
                            } else {
                                Swal.fire({ type: "error", title: "Error!", text: "Ops! something went wrong..", confirmButtonClass: "btn btn-danger" });
                            }
                        }
                    })
                }
            })
        }
    })
    $(".assign-dropoff").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            $.ajax({
                url: "{% url 'lmsapp:ajaxlogisticsshipmentlistverify' %}",
                method: "post",
                data: {
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    shipment_ids: shipment_ids.toString(),
                    action: 'assign-dropoff'
                },
                success: function (resp) {
                    if (resp.status == "success") {
                        $("#choose-staff-modal").modal("show");
                        $('.additional-text').empty();
                        var html = `<p>Selected Shipments : <span style="font-weight: bold;">${resp.shipment_count}</span></p>`
                        $('.additional-text').append(html);
                        $("#action").val('assign-dropoff');
                        $("#shipment_ids").val(shipment_ids);
                        $("#task_details").val("Please drop off the shipments to the receiver.")
                    }
                }
            })
        }
    })
    $(".make-consolidation").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            $("#choose-bundle-modal").modal("show");
            $("#shipment_ids1").val(shipment_ids);
            $("#shipmentscount").text(shipment_ids.length);
        }
        else{
            alert('Select shipmnent to consolidate')
        }
    })
    $(".confirm-dispatched").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            $.ajax({
                url: "{% url 'lmsapp:ajaxlogisticsshipmentlistverify' %}",
                method: "post",
                data: {
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    shipment_ids: shipment_ids.toString(),
                    action: 'confirm-dispatched'
                },
                success: function (resp) {
                    if (resp.status == "success") {
                        Swal.fire({
                            html: `Are you sure that the selected shipments: <span style="font-weight: bold;">( ${resp.shipment_count} )</span> have dispatched from your warehouse?`,
                            type: "warning",
                            showCancelButton: !0,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: `Yes, Confirm Dispatched!`,
                            confirmButtonClass: "btn btn-info",
                            cancelButtonClass: "btn btn-danger ml-1",
                            buttonsStyling: !1,
                        }).then(function (t) {
                            if (t.value == 1) {
                                $.ajax({
                                    url: "{% url 'lmsapp:logisticsshipmentaction' %}",
                                    method: "post",
                                    data: {
                                        csrfmiddlewaretoken: "{{csrf_token}}",
                                        shipment_ids: shipment_ids.toString(),
                                        action: 'confirm-dispatched'
                                    },
                                    success: function (resp) {
                                        if (resp.status == "success") {
                                            location.href = ""
                                        } else {
                                            Swal.fire({ type: "error", title: "Error!", text: "Ops! something went wrong..", confirmButtonClass: "btn btn-danger" });
                                        }
                                    }
                                })
                            }
                        })
                    }
                }
            })
        }
    })
    $(".confirm-delivered").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            $.ajax({
                url: "{% url 'lmsapp:ajaxlogisticsshipmentlistverify' %}",
                method: "post",
                data: {
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    shipment_ids: shipment_ids.toString(),
                    action: 'confirm-delivered'
                },
                success: function (resp) {
                    if (resp.status == "success") {
                        Swal.fire({
                            html: `Are you sure that the selected shipments have delivered to the customers? [Shipment Selected: ${resp.shipment_count} and COD Amount : Rs. ${resp.cod_value}]`,
                            type: "warning",
                            showCancelButton: !0,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: `Yes, Confirm Delivered!`,
                            confirmButtonClass: "btn btn-info",
                            cancelButtonClass: "btn btn-danger ml-1",
                            buttonsStyling: !1,
                        }).then(function (t) {
                            if (t.value == 1) {
                                $.ajax({
                                    url: "{% url 'lmsapp:logisticsshipmentaction' %}",
                                    method: "post",
                                    data: {
                                        csrfmiddlewaretoken: "{{csrf_token}}",
                                        shipment_ids: shipment_ids.toString(),
                                        action: 'confirm-delivered'
                                    },
                                    success: function (resp) {
                                        if (resp.status == "success") {
                                            location.href = ""
                                        } else {
                                            Swal.fire({ type: "error", title: "Error!", text: "Ops! something went wrong..", confirmButtonClass: "btn btn-danger" });
                                        }
                                    }
                                })
                            }
                        })
                    } else {
                        Swal.fire({ type: "error", title: "Error!", text: "Ops! something went wrong..", confirmButtonClass: "btn btn-danger" });
                    }
                }
            })
        }
    })
    $(".confirm-readytoreturn").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            Swal.fire({
                html: `Are you sure that the selected shipments are confirmed to be returned to senders?`,
                type: "warning",
                showCancelButton: !0,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: `Yes, Confirm to Return!`,
                confirmButtonClass: "btn btn-danger",
                cancelButtonClass: "btn btn-info ml-1",
                buttonsStyling: !1,
            }).then(function (t) {
                if (t.value == 1) {
                    $.ajax({
                        url: "{% url 'lmsapp:logisticsshipmentaction' %}",
                        method: "post",
                        data: {
                            csrfmiddlewaretoken: "{{csrf_token}}",
                            shipment_ids: shipment_ids.toString(),
                            action: 'confirm-readytoreturn'
                        },
                        success: function (resp) {
                            if (resp.status == "success") {
                                location.href = ""
                            } else {
                                Swal.fire({ type: "error", title: "Error!", text: "Ops! something went wrong..", confirmButtonClass: "btn btn-danger" });
                            }
                        }
                    })
                }
            })
        }
    })
    $(".assign-return").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            $("#choose-staff-modal").modal("show");
            $("#action").val('assign-return');
            $("#shipment_ids").val(shipment_ids);
            $("#task_details").val("Please return the shipments to the sender.")
        }
    })
    $(".confirm-returning").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            Swal.fire({
                html: `Are you sure that the selected shipments are collected by delivery person for returning?`,
                type: "warning",
                showCancelButton: !0,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: `Yes, Confirm Returning!`,
                confirmButtonClass: "btn btn-info",
                cancelButtonClass: "btn btn-danger ml-1",
                buttonsStyling: !1,
            }).then(function (t) {
                if (t.value == 1) {
                    $.ajax({
                        url: "{% url 'lmsapp:logisticsshipmentaction' %}",
                        method: "post",
                        data: {
                            csrfmiddlewaretoken: "{{csrf_token}}",
                            shipment_ids: shipment_ids.toString(),
                            action: 'confirm-returning'
                        },
                        success: function (resp) {
                            if (resp.status == "success") {
                                location.href = ""
                            } else {
                                Swal.fire({ type: "error", title: "Error!", text: "Ops! something went wrong..", confirmButtonClass: "btn btn-danger" });
                            }
                        }
                    })
                }
            })
        }
    })
    $(".confirm-returned").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            Swal.fire({
                html: `Are you sure that the selected shipments are returned successfully to the senders?`,
                type: "warning",
                showCancelButton: !0,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: `Yes, Confirm Returned!`,
                confirmButtonClass: "btn btn-info",
                cancelButtonClass: "btn btn-danger ml-1",
                buttonsStyling: !1,
            }).then(function (t) {
                if (t.value == 1) {
                    $.ajax({
                        url: "{% url 'lmsapp:logisticsshipmentaction' %}",
                        method: "post",
                        data: {
                            csrfmiddlewaretoken: "{{csrf_token}}",
                            shipment_ids: shipment_ids.toString(),
                            action: 'confirm-returned'
                        },
                        success: function (resp) {
                            if (resp.status == "success") {
                                location.href = ""
                            } else {
                                Swal.fire({ type: "error", title: "Error!", text: "Ops! something went wrong..", confirmButtonClass: "btn btn-danger" });
                            }
                        }
                    })
                }
            })
        }
    })
    
    $(".bulk-shipping-label").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            Swal.fire({
                html: `You are about to print shipping label from selected shipments. Selected Shipments: (`+ shipment_ids.length+ ')',
                type: "success",
                showCancelButton: !0,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: `Print Shipping Label`,
                confirmButtonClass: "btn btn-info",
                cancelButtonClass: "btn btn-danger ml-1",
                buttonsStyling: !1,
            }).then(function (t) {
                if (t.value == 1) {
                    $.ajax({
                        method: 'POST',
                        url: '{% url "lmsapp:logisticsbulkshippinglabel" %}',
                        data: {
                            'shipment_ids': JSON.stringify(shipment_ids),
                            'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                        success: function (data) {
                            var w = window.open('about:blank');
                            w.document.open();
                            w.document.write(data);
                            w.print();
                            // $('#assignstaffconfirm').modal('hide');
                        },
                    })
                }
            })
        }
    })
    $(".change-to-arrived").on("click", function (e) {
        e.preventDefault();
        var shipment_ids = get_list();
        if (shipment_ids.length > 0) {
            $("#change-to-arrived-modal").modal("show");
            $("#action1").val('change-to-arrived');
            $("#shipment_ids2").val(shipment_ids);
        }
        else{
            alert('No Shipments Selected')
        }
    })

    $('#selectallinputbox').on('click', function(){
        if ($(this).is(':checked')){
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',true);
            })    
        }
        else{
            $('table [type="checkbox"]').each(function (row, element) {
                $(this).prop('checked',false);
            })
        }
    })
    $('#dispatchedshipmentfilterbyrider').on('click', function(){
        if ($('#filterbyrider').val() >= 0){
            // alert('1')
            $.ajax({
                method: 'POST',
                url: '{% url "lmsapp:ajaxlogisticsshipmentlistverify" %}',
                data: {
                    'action': 'dispatchedshipmentfilterbyrider',
                    'rider_id': $('#filterbyrider').val(),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: function (data) {
                    alert('1')
                    // $('#assignstaffconfirm').modal('hide');
                },
            })
            
        }
        else{
            alert('Select a rider first !')
        }
    })
</script>
{% endblock %}