{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Custom Shipment List{% endblock %}

{% block logisticscustomshipmentlist %}active{% endblock %}

{% block css %}
<style>
    table,
    th,
    tr,
    td {
        padding: 3px !important;
        font-size: 13px;
        text-align: left;
    }

    .shipment_category {
        border-radius: 5%;
        padding: 1px auto;
        background-color: rgb(245, 244, 255);
    }

    .shipment_category.active {
        background-color: rgb(192, 248, 194);
    }
</style>
{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter">
        <!-- <div class="border border-light rounded mb-2 bg-white">
            <div class="row p-1 bg">
                {% for shipment_data in all_shipment_data %}
                <div class="col-md-2 mb-1">
                    <div class="shipment_category {% if shipment_data.status == status %}active{% endif %}">
                        <a href="?status={{shipment_data.status}}">
                            <h6 class="text-center">{{shipment_data.title}}</h6>
                            <h4 class="text-center">{{shipment_data.shipment_count.count}}</h4>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row p-1 bg">
                Filter Status:
                <select class="select2">
                    <option>Pending Shipments</option>  
                    <option>Pending Shipments</option>  
                    <option>Pending Shipments</option>  
                    <option>Pending Shipments</option>  
                </select>
                <div class="col-md-2 mb-1">
                    <div class="shipment_category {% if shipment_data.status == status %}active{% endif %}">
                        <a href="?status={{shipment_data.status}}">
                            <h6 class="text-center">{{shipment_data.title}}</h6>
                            <h4 class="text-center">{{shipment_data.shipment_count.count}}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row match-height">
            <div class="col-xl-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Custom Filter Shipments</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content collpase show">
                  <div class="card-body">
                    <form id="filtershipment">
                        <fieldset id="shipmentstatus">
                            <label><input type="checkbox" name="shipmentstatus" value="0"> Pending Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="1"> Pickedup Assigned Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="2"> Arrived Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="3"> Dropoff Assigned Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="4"> Dispatched Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="5"> Delivered Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="6"> Rejected Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="7"> Ready To Return Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="8"> Return Assigned Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="9"> Returning Shipments</label>
                            <label><input type="checkbox" name="shipmentstatus" value="10"> Returned Shipments</label>
                        </fieldset>
                        <fieldset class="customer mt-2">
                            Select your customer
                            <select name="customer" id="customer">
                                <option value="0">All Customers</option>
                                {% for customer in customers %}
                                <option value="{{customer.id}}">{{customer.company_name}} ({{customer.full_name}})</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        <fieldset class="rider mt-2">
                            Select your rider
                            <select name="rider" id="rider">
                                <option value="0">All Riders</option>
                                {% for rider in delivery_persons %}
                                <option value="{{rider.id}}">{{rider.full_name}} ({{rider.mobile}})</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        <button class="btn btn-success mt-2 submit-button">Custom Search</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="users-list-table">
            <div class="card">
                <div class="card-content">
                    <div class="card-body" id="ajaxcustomshipment">
                        <div class="row">
                            <div class="col-md-9">
                                <h6>Custom Shipment List</h6>
                            </div>
                            <!-- <div class="col-md-3">
                                <form method="get" action="{% url 'lmsapp:logisticsshipmentlist' %}">
                                    <input type="search" name="search" class="form-control"
                                        placeholder="Type keyword & press Enter">
                                </form>
                            </div> -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $('#filtershipment').on('submit', function(e){
        e.preventDefault();
        var customer_id = $('#customer').find('option:selected').val();
        var rider_id = $('#rider').find('option:selected').val();
        var status = []
        $("input:checkbox[name='shipmentstatus']:checked").each(function(){
            status.push($(this).val());
        });
        if ( status.length  === 0 ){
            alert('Select atleast one shipment status')
        }
        else{
            $.ajax({
                method: 'POST',
                url: "{% url 'lmsapp:ajaxlogisticscustomshipmentlist' %}",
                data: {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'customer_id': customer_id,
                    'rider_id': rider_id,
                    'status': status,
                },  
                // beforeSend: function() {
                //     // $('section').attr('style', 'opacity:0.5;');
                //     // $('#loading').show();
                // },
                // complete: function() {
                //     // $('section').removeAttr('style');
                //     // $('#loading').hide();
                //     // $('#content').show();
                // },
                success: function (data) {
                        $('#ajaxcustomshipment').html(data);
                        $('.submit-button').removeAttr('disabled');
                        $('.submit-button').text(btn_text);
                        
                },
                error: function (data) {
                    alert('Something Went Wrong. Please refresh and try again.')
                },
            });
        }
    });
</script>
{% endblock %}