{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Consolidation Detail{% endblock %}
{% block logisticsbundles %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section id="icon-tabs">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">

                            <h5 class="font-weight-bold">Consolidation Information: {{bundle.bundle_code}}</h5>
                            <span>Status: <strong class="text-info">{{shipment.shipment_status}}</strong></span>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group float-md-right" role="group"
                                aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"
                                        id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="feather icon-settings icon-left"></i>
                                        Actions</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"
                                        x-placement="bottom-start"
                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
                                        {% if bundle.source_branch == logged_in_operator.logistics_branch and bundle.is_sent == False %}
                                        <a class="dropdown-item" href="{% url 'lmsapp:logisticsbundleupdate' bundle.id %}">Update Bundle</a>
                                        {% endif %}
                                        {% if bundle.is_sent is False and bundle.source_branch == logged_in_operator.logistics_branch %}
                                        <a class="dropdown-item bundle-action" data-action="consolidation-sent" href="">Make Sent</a>
                                        {% elif bundle.is_sent and bundle.destination_branch == logged_in_operator.logistics_branch and bundle.is_delivered == False %}
                                        <a class="dropdown-item pickup-task" data-action="assign-staff-to-pickup" href="">Assign Delivery Person to Pickup</a>
                                        <a class="dropdown-item bundle-action" data-action="consolidation-received" href="">Received Consolidation</a>
                                        {% elif bundle.is_sent and bundle.destination_branch == logged_in_operator.logistics_branch and bundle.is_delivered == True and bundle.is_confirmed == False %}
                                        <a class="dropdown-item bundle-action" data-action="consolidation-confirmed" href="">Confirmed Shipment Bundle</a>
                                        {% elif bundle.is_sent and bundle.destination_branch == logged_in_operator.logistics_branch and bundle.is_delivered == True and bundle.is_confirmed %}
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            {% if bundle.source_branch == logged_in_operator.logistics_branch %}
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Sent To(Destination Logistics)</h6>
                                <p><a href="">{{bundle.destination_branch}}</a></p>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Delivery Person</h6>
                                <p class="">{{bundle.delivery_person}}</p>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Transit Charge</h6>
                                <p class="badge badge-info">Rs. {{bundle.transit_charge}}/-</p>
                            </div>
                            {% else %}
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Sent By(Source Logistics)</h6>
                                <p><a
                                        href="">{{bundle.source_branch}}</a>
                                </p>
                            </div>
                            {% endif %}
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Transit Code</h6>
                                <p class="badge badge-info">{{bundle.transit_code}}</p>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Remarks</h6>
                                <p class="">{{bundle.remarks}}</p>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Sent Date</h6>
                                <p class="">{{bundle.sent_date.date|default:'Not Sent'}}</p>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Received Date</h6>
                                <p class="">{{bundle.received_date.date|default:'Not Received'}}</p>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Confirmed Date</h6>
                                <p class="">{{bundle.confirmed_date.date|default:'Not Confirmed'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Shipments in the Consolidation</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th>Shipment Code</th>
                                                <th>Receiver City</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sbs in sbs_list %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="{% url 'lmsapp:logisticsshipmentdetail' sbs.shipment.tracking_code %}" target="_blank">{{sbs.shipment.tracking_code}}</a></td>
                                                <td>{{sbs.shipment.receiver_city}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold">Consolidation Activities</strong></h5>
                </div>
                <div class="card-content collapse show" bis_skin_checked="1">
                    <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                        {% for activity in activities %}
                        <div class="">
                            <h6 title="{{activity.shipment_status}}">{{forloop.counter}}. Date: {{activity.created_at}}
                            </h6>
                            <li style="list-style-type: none; color: rgb(28, 136, 118);">> {{activity.activity}}</li>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade text-left" id="choose-staff-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Create Delivery Task</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST" id="lbdt-form">
                {% csrf_token %}
                <input type="hidden" name="action" id="action">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Select Delivery Person: <span class="text-danger">*</span></label>
                        <select name="delivery_person_id" id="delivery_person_id" class="form-control" required>
                            <option value>---------Select Delivery Person-----------</option>
                            {% for delivery_person in delivery_persons %}
                            <option value="{{delivery_person.id}}">
                                {{delivery_person.full_name}}({{delivery_person.user.username}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Task Details</label>
                        <textarea name="task_details" id="task_details" cols="30" rows="2" class="form-control"
                            required>Please Pickup the bundle from the cargo/station.</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Create a Task">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(".bundle-action").on("click", function (e){
        e.preventDefault();
        var action = $(this).data("action")
        var action_word = $(this).text()
        Swal.fire({
            title: action_word + " ?",
            text: "Changes may affect the status of consolidation and its shipments.",
            type: "info",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Make Changes!",
            confirmButtonClass: "btn btn-info",
            cancelButtonClass: "btn btn-danger ml-1",
            buttonsStyling: !1,
        }).then(function (t) {
            if (t.value == 1) {
                $.ajax({
                    url: "",
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: action,
                    },
                    success: function(resp){
                        location.href = ""
                    }
                })
            }
        })
    })

    $(".pickup-task").on("click", function (e) {
        e.preventDefault();
        $("#choose-staff-modal").modal("show");
        $("#action").val($(this).data("action"));
    })
</script>
{% endblock %}