{% extends 'logisticstemplates/logisticsbase.html' %}


{% block title %}New Consolidation{% endblock %}
{% block logisticsbundlecreate %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Create New Consolidation: </strong></h4>
                            <hr>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Consolidation Code<span class="text-danger">*</span></label>
                                            {{bundle_form.bundle_code}}
                                            {{bundle_form.bundle_code.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Destination Warehouse</label>
                                            {{bundle_form.destination_branch}}
                                            {{bundle_form.destination_branch.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Assigned Delivery Person</label>
                                            {{bundle_form.delivery_person}}
                                            {{bundle_form.delivery_person.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            {{bundle_form.remarks}}
                                            {{bundle_form.remarks.errors}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Save Information</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
 
{% block js %}

{% endblock %}