<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{logistics_branch.logistics_company}} | Bulk Print</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <style type="text/css">
            tr{
                font-size: 12px!important;
                padding: 2px;
            }
        </style>
        <script type="text/javascript" src="{% static 'barcode.js' %}"></script>
        <script type="text/javascript" src="{% static 'qrcode.js' %}"></script>
    </head>
    <body>
        {% for shipment in shipmentlist %}
        <div class="container row">
            <div class="col-md-6" style="padding: 2px; border: 1px solid black; color: #000; font-family: sans-serif; font-size: 18px;">
                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center" style="width: 33.3%;">{{logistics_branch.logistics_company}}</td>
                            <td class="text-center p-0" style="width: 33.3%;"><span style="font-size:8px;">Shipment Tracking Code</span> <br> {{shipment.tracking_code}}</td>
                            <td class="text-center p-0" style="width: 33.3%;"><span style="font-size:8px;">Printed On</span> <br> {{date_time.date}}</td>
                        </tr>
                    </thead>
                </table>
                <div class="row">
                	<div class="col-12 text-center">
                		<svg id="barcode_{{shipment.id}}_barcode"></svg>
                	</div>
    	    	</div>
                <div class="row">
                    <div class="col-6" style="border: 1px solid black; border-width: 1px 1px 0 0;">
                        <div id="{{shipment.id}}qrcode" style="width:200px; height:200px; margin:25px 15px 15px 25px;">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mr-0" style="border: 1px solid black; border-width: 1px 0 1px 0;">
                            <span style="font-size: 12px; padding: 10px;">Receipent: 
                            {{shipment.receiver_name}} (Tel: {{shipment.receiver_contact_number}}) - {{shipment.receiver_address}}, {{shipment.receiver_city}} 
                            </span>
                        </div> 
                        <div class="row mr-0" style="border-bottom: 1px solid black; border-width: 1px 0 1px 0;">
                            <span style="font-size: 12px; padding: 10px;">Sender: {{shipment.customer.company_name}}, {{shipment.customer.contact_number}}, {{shipment.sender_address}}, {{shipment.sender_city}} 
                            </span>
                            <!-- <br> -->
                        </div>
                        <div class="row">
                            <span style="font-size: 12px; padding: 10px;">Delivered By: {{logistics_branch.logistics_company}}, {{logistics_branch.branch_address}}, {{logistics_branch.branch_city}}, {{logistics_branch.branch_contact}} 
                            </span>
                            <!-- <br> -->
                            <span style="font-size: 12px; font-weight: 800; position: absolute; right: 20px; bottom: 0;">Amount to Collect: Rs. {{shipment.cod_value}} </span> 
                        </div> 
                    </div>
                </div>
               
            </div>
        </div>
        <script type="text/javascript">
            JsBarcode("#barcode_{{shipment.id}}_barcode", "{{shipment.tracking_code}}");
        </script>

        <script type="text/javascript">
            var qrcode = new QRCode(document.getElementById("{{shipment.id}}qrcode"), {
                width : 200,
                height : 200
            });
            qrcode.makeCode(' Receipent: {{shipment.receiver_name}} (Tel: {{shipment.receiver_contact_number}}) - {{shipment.receiver_address}}, {{shipment.receiver_city}} ');
        </script>
        {% endfor %}
    </body>
    
</html>