{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Delivery Tasks{% endblock %}
{% block deliverytask %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section id="icon-tabs">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-primary bg-darken-2">
                            <i class="fa fa-spinner font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-primary white media-body">
                            <h5>Active Tasks</h5>
                            <h5 class="text-bold-400 mb-0">{{processing_shipments_count}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-purple bg-darken-2">
                            <i class="fa fa-upload font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-purple white media-body">
                            <h5>Assigned Tasks</h5>
                            <h5 class="text-bold-400 mb-0">{{requested_shipments_count}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-info bg-darken-2">
                            <i class="fa fa-truck font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-info white media-body">
                            <h5>Completed Tasks</h5>
                            <h5 class="text-bold-400 mb-0">{{dispatched_shipments_count}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-warning bg-darken-2">
                            <i class="fa fa-times font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-warning white media-body">
                            <h5>All Tasks</h5>
                            <h5 class="text-bold-400 mb-0">{{rejected_shipments_count}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive mt-1">
                        <h5 class="font-weight-bold">Delivery Tasks</h5>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Delivery Person</th>
                                    <th>Shipment/Bundle</th>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Assinged</th>
                                    <th>Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dt in deliverytasklist %}
                                <tr class="bg-{% if dt.task_status == 'Completed Success' %}success{% elif dt.task_status == 'Completed Fail' %}danger{% else %}{% endif %}">
                                    <td><a href="{% url 'lmsapp:logisticsdeliverytaskdetail' dt.id %}">{{dt.delivery_person.full_name}}</a></td>
                                    <td>{% if dt.shipment %}{{dt.shipment}}{% else %}{{dt.shipment_bundle}}{% endif %}</td>
                                    <td>{{dt.task_type}}</td>
                                    <td>{{dt.task_status}}</td>
                                    <td title="{{dt.scheduled_date}}">{{dt.scheduled_date|date}}</td>
                                    <td title="{{dt.completed_date}}">{{dt.completed_date|date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{deliverytasklist.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">
    
                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>
    
                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}