{% extends 'logisticstemplates/logisticsbase.html'%}

{% block title %}Consolidations{% endblock %}
{% block logisticsbundles %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-success">
            <div class="card-content">
                <div class="card-body">
                    <a href="?qrt=processing">
                        <div class="media d-flex">
                            <div class="media-body white text-center">
                                <h3>{{active_received_quotations.count}}</h3>
                                <span>Processing Bundles</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-danger">
            <div class="card-content">
                <div class="card-body">
                    <a href="?qrt=snt">
                        <div class="media d-flex">
                            <div class="media-body white text-center">
                                <h3>{{active_sent_quotations.count}}</h3>
                                <span>Sent Bundles</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-info">
            <div class="card-content">
                <div class="card-body">
                    <a href="?qrt=rcvd">
                        <div class="media d-flex">
                            <div class="media-body white text-center">
                                <h3>{{total_received_quotations.count}}</h3>
                                <span>Received Bundles</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-red">
            <div class="card-content">
                <div class="card-body">
                    <a href="?qrt=clrd">
                        <div class="media d-flex">
                            <div class="media-body white text-center">
                                <h3>{{total_sent_quotations.count}}</h3>
                                <span>Cleared Bundles</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="users-list-table">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Consolidations</h5>
                    </div>
                    <div class="col-md-3">
                        <form action="">
                            <input type="search" name="search" class="form-control"
                                placeholder="Type keyword & press Enter">
                        </form>
                    </div>
                </div>
                <!-- datatable start -->
                <div class="table-responsive mt-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Consolidation</th>
                                <th>Sent to/Received From</th>
                                <th>Shipments</th>
                                <th>Sent Date</th>
                                <th>Received Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bundle in bundle_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'lmsapp:logisticsbundledetail' bundle.id  %}">Consolidation_{{bundle.id}}</a></td>
                                <td>
                                    {% if bundle.source_branch == logged_in_operator.logistics_branch %}
                                    <a href="{% url 'lbcapp:logisticsbranchdetail' bundle.id  %}">{{bundle.destination_branch}}</a>
                                    {% else %}
                                    <a href="{% url 'lbcapp:logisticsbranchdetail' bundle.id  %}">{{bundle.source_branch}}</a>
                                    {% endif %}
                                </td>
                                <td>{{bundle.shipmentbundleshipment_set.all.count}}</td>
                                <td>{{bundle.sent_date.date}}</td>
                                <td>{% if bundle.confirmed_date %}{{bundle.confirmed_date.date}}{% else %}{{bundle.confirmed_date.date}}{% endif %}</td>
                                <td>
                                    <a href="{% url 'lmsapp:logisticsbundleupdate' bundle.id  %}" class="btn btn-info"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <p>Showing {{quotation_list.count}} of {{page_obj.paginator.count}} data</p>
                        <ul class="pagination justify-content-end">

                            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                    tabindex="-1">Previous</a>
                            </li>

                            {% for n in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                    class="page-link"
                                    href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                            </li>
                            {% endfor %}
                            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}