{% extends 'logisticstemplates/logisticsbase.html' %}


{% block title %}Update Consolidation{% endblock %}
{% block logisticsbundles %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Update Consolidation: </strong></h4>
                            <hr>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Consolidation Code<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" value="{{bundle.bundle_code}}"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Destination Warehouse</label>
                                            {{bundle_form.destination_branch}}
                                            {{bundle_form.destination_branch.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Assigned Delivery Person</label>
                                            {{bundle_form.delivery_person}}
                                            {{bundle_form.delivery_person.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 mt-1">
                                        <button type="submit"
                                            class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn mt-1">Save
                                            Information</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="media mb-2">
                    <div class="media-body">
                        <h4 class="media-heading"><strong>Shipments In Consolidation </strong></h4>
                        <hr>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>Shipment Code</th>
                                            <th>Receiver City</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sbs in sbs_list %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{sbs.shipment.tracking_code}}</td>
                                            <td>{{sbs.shipment.receiver_city}}</td>
                                            <td><a href="" data-tracking_code="{{sbs.shipment.tracking_code}}" data-sbs_id="{{sbs.id}}" class="btn btn-danger remove-from-bundle"">X</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media mb-2">
                    <div class="media-body">
                        <h5>Add Shipment</h5>
                        <hr>
                        <form action="" id="get-shipment-form">
                            <div class="row">

                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="tracking_code" id="tracking_code"
                                        placeholder="Enter shipment code" required>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-info">Search</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-1" id="shipment-detail">

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $("#get-shipment-form").on("submit", function (e) {
        e.preventDefault();
        var tracking_code = $('#tracking_code').val()
        $.ajax({
            url: "{% url 'lmsapp:logisticsbundleshipment' bundle.id %}",
            data: {
                tracking_code: tracking_code
            },
            success: function (resp) {
                if (resp.status == "success") {
                    var html = `
                    <div class="row" style="background-color: #ff5; padding: 5px;">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Tracking Code</h5>
                            <p>${resp.data.tracking_code}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Receiver City</h5>
                            <p>${resp.data.receiver_city}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Receiver Address</h5>
                            <p>${resp.data.receiver_address}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Shipment Status</h5>
                            <p>${resp.data.shipment_status}</p>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-info" data-tracking_code="${resp.data.tracking_code}" id="add-to-bundle">Add to Consolidation</button>
                        </div>
                    </div>
                `
                    setTimeout(function () {
                        $("#add-to-bundle").on("click", function (e) {
                            $.ajax({
                                url: "{% url 'lmsapp:logisticsbundleshipment' bundle.id %}",
                                method: 'post',
                                data: {
                                    csrfmiddlewaretoken: "{{csrf_token}}",
                                    tracking_code: tracking_code,
                                    action: 'add-to-bundle'
                                },
                                success: function (rsp) {
                                    if(rsp.status == "success"){
                                        location.href = ""
                                    }else{
                                        console.log(rsp.message)
                                        location.href = ""
                                    }
                                },
                                error: function (error) {
                                    location.href = ""
                                }
                            })
                        })
                    }, 500)
                } else {
                    var html = 'Ops! Something went wrong.'
                    location.href = ""
                }
                $('#shipment-detail').html(html)

            }
        })

    })
</script>
<script>
    $(".remove-from-bundle").on("click", function (e) {
        e.preventDefault();
        var tracking_code = $(this).data("tracking_code")
        var sbs_id = $(this).data("sbs_id")
        Swal.fire({
            title: "Are you sure to remove this shipment from the consolidation?",
            text: "The selected shipment status will be 'Arrived at Warehouse'.",
            type: "info",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Remove!",
            confirmButtonClass: "btn btn-danger",
            cancelButtonClass: "btn btn-info ml-1",
            buttonsStyling: !1,
        }).then(function (t) {
            if (t.value == 1) {
                $.ajax({
                    url: "{% url 'lmsapp:logisticsbundleshipment' bundle.id %}",
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'remove-from-bundle',
                        tracking_code: tracking_code,
                        sbs_id: sbs_id
                    },
                    success: function(resp){
                        location.href = ""
                    }
                })
            }
        })
    })
</script>
{% endblock %}