<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sarathi Logistics Pvt. Ltd. | {{rider.full_name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/vendors/css/tables/extensions/rowReorder.dataTables.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'print_style.css' %}" type="text/css" media="print" /> -->
    <style type="text/css">
    .active-status {
        text-decoration: underline;
    }
    	tr{
    		font-size: 12px!important;
    		padding: 2px;
    	}
        .container1 {
            margin: 15px;
        }
        
        label, .dataTables_filter, .dataTables_info, .paginate_button, .pagination {
            display: none;
        }
        /* table * {
            font-size: 24px;
        } */
    </style>
</head>
<body>
    
    <div class="container1 row">
        <!-- <div class="col-md-12">
            <a href="?status=dropoff" class="{% if status == 'dropoff' %}active-status{% endif %}"><button>Only Dropoff Assigned</button></a>
            <a href="?status=dispatched" class="{% if status == 'dispatched' %}active-status{% endif %}"><button>Only Dispatched</button></a>
            <a href="?status=dropoffanddispatched" class="{% if status == 'dropoffanddispatched' %}active-status{% endif %}"><button>Both Dropoff Assigned and Dispatched</button></a>
        </div> -->
        <div class="col-md-12 mt-2">
            <p>Select Rider to view rider assigned shipments</p>   
            <form action="" method="post">
                {% csrf_token %}
                <select name="riderselect" id="riderselect">
                    <option value="" disabled selected>Select a rider</option>
                    {% for rider in riders %}
                    <option value="{{rider.id}}">{{rider.full_name}} ( {{rider.mobile}} )</option>
                    {% endfor %}
                </select>
                <select name="tasktypeselect" id="tasktypeselect">
                    <option value="" disabled selected>Select a tasktype</option>
                    <option value="1">Dropoff Assigned</option>
                    <option value="2">Pickup Assigned</option>
                </select>
                <button class="btn btn-info" id="search-shipment">Search</button>
            </form>
        </div>
        <div class="col-md-12" style="padding: 2px; color: #000; font-family: sans-serif; font-size: 18px;">
            <!-- <table class="table table-bordered file-export responsive dataex-rowre-restricted"> -->
            <table id="printableTable" class="table table-bordered dataex-rowre-restricted">
                <div class="row">
                    <div class="col-md-12 mt-5 text-center">
                        <h4>Sarathi Logistics Pvt. Ltd.</h4>
                        <span style="font-size: 12px;">{{org.contact_no}}, https://sarathilogistics.com</span>
                        <br>
                        <span style="font-size: 11px;">Task type: {{dt}}</span>
                        <br>
                        <span style="font-size: 11px;">Delivery Person: {{rider.full_name}} ({{rider.mobile}})</span>   
                    </div>
                </div>
                <thead>
                    <tr>
                        <td>SN</td>
                        <th>Seller/Seller Contact</th>
                        <th>Customer/Customer Contact</th>
                        <th>COD Amount</th>
                        <th>Dropoff Address</th>
                        <th>Remarks (Write in your own words)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dt in dts %}
                    {% if dt.shipment.shipment_origin == branch %}
                    <tr>
                    {% else %}
                    <tr style="background-color:antiquewhite;">
                    {% endif %}
                        <td class="col1" style="width:5%">
                            {{forloop.counter}}
                        </td>
                        <td class="col2" style="width:20%">
                            {{dt.shipment.customer.company_name}}
                            <br>
                            {{dt.shipment.customer.contact_number}}  
                            <br>  
                            {{dt.shipment.tracking_code}}
                            <br>  
                            {{dt.shipment.customer.address}} [{{dt.shipment.customer.city.name}}]
                        </td>
                        <td class="col3" style="width:20%">
                            {{dt.shipment.receiver_name}}
                            <br>
                            {{dt.shipment.receiver_contact_number}}  
                        </td>
                        <td class="col4" style="width:10%; font-weight: bold;">{{dt.shipment.cod_value}}</td>
                        <td class="col5" style="width:20%">{{dt.shipment.receiver_address}}
                        <br>
                        {{dt.shipment.receiver_city.name}}
                        </td>
                        <td class="col6" style="width:25%"></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No result found...</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/dataTables.rowReorder.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/tables/datatables-extensions/datatable-rowreorder.min.js' %}"></script>

<!-- <script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/buttons.flash.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/jszip.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/pdfmake.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/vfs_fonts.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/buttons.html5.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/buttons.print.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/js/scripts/tables/datatables/datatable-advanced.min.js' %}"></script> -->
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/pdfmake.min.js' %}"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/vfs_fonts.js' %}"></script>
<script>
    $('#search-shipment').attr('disabled', 'disabled')
    $('#riderselect, #tasktypeselect').on('change', function(){
        if ($('#riderselect').val() > 0 && $('#tasktypeselect').val() > 0){
            $('#search-shipment').removeAttr('disabled')
        }
        else{
            $('#search-shipment').attr('disabled', 'disabled')
        }
    })

</script>
</html>