<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sarathi Logistics Pvt. Ltd.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'logisticsstatic/app-assets/vendors/css/tables/extensions/rowReorder.dataTables.min.css' %}">
    <style type="text/css">
    .active-status {
        text-decoration: underline;
    }
    	tr{
    		font-size: 12px!important;
    		padding: 2px;
    	}
        .container1 {
            margin: 15px;
        }
        
        label, .dataTables_filter, .dataTables_info, .paginate_button, .pagination {
            display: none;
        }
        table * {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <!-- <a href="?status=dropoff" class="{% if status == 'dropoff' %}active-status{% endif %}">Only Dropoff Assigned</a>
    <a href="?status=dispatched" class="{% if status == 'dispatched' %}active-status{% endif %}">Only Dispatched</a>
    <a href="?status=dropoffanddispatched" class="{% if status == 'dropoffanddispatched' %}active-status{% endif %}">Both Dropoff Assigned and Dispatched</a> -->
        <div class="container1 row">
            <button class="Button Button--outline" onclick="printDiv()">Print</button>
            <div class="col-md-12" style="padding: 2px; color: #000; font-family: sans-serif; font-size: 18px;">
                <!-- <table class="table table-bordered file-export responsive dataex-rowre-restricted"> -->
                <table id="printableTable" class="table table-bordered dataex-rowre-restricted">
                    <div class="row">
                        <div class="col-md-12 mt-5 text-center">
                            <h4>Sarathi Logistics Pvt. Ltd.</h4>
                            <p>9741877747, https://sarathilogistics.com</p>
                            <p>Printed Date: {{date.date}}</p>   
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <td>SN</td>
                            <th>Seller/Seller Contact</th>
                            <th>Customer/Customer Contact</th>
                            <th>COD Amount</th>
                            <th>Dropoff Address</th>
                            <th>Receiver Sign</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shipment in shipments %}
                        {% if shipment.shipment_origin == logged_in_operator.logistics_branch %}
                        <tr>
                        {% else %}
                        <tr style="background-color:antiquewhite;">
                        {% endif %}
                            <td style="width:5%">
                                {{forloop.counter}}
                            </td>
                            <td style="width:20%">
                                {{shipment.customer.company_name}}
                                <br>
                                {{shipment.customer.contact_number}}  
                            </td>
                            <td style="width:20%">
                                {{shipment.receiver_name}}
                                <br>
                                {{shipment.receiver_contact_number}}  
                            </td>
                            <td style="width:5%; font-weight: bold;">{{shipment.cod_value}}</td>
                            <td style="width:20%">{{shipment.receiver_address}}
                            <br>
                            {{shipment.receiver_city.name}}
                            </td>
                            <td style="width:10%"></td>
                            <td style="width:20%"></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No result found...</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
            </div>
        </div>
</body>
    <!-- <script>
        $('table').dataTable({searching: false, paging: false});
    </script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>

    <script src="{% static 'logisticsstatic/app-assets/vendors/js/tables/datatable/dataTables.rowReorder.min.js' %}"></script>
    <script src="{% static 'logisticsstatic/app-assets/js/scripts/tables/datatables-extensions/datatable-rowreorder.min.js' %}"></script>
    <script>
        function printDiv() {
            window.frames["print_frame"].document.body.innerHTML = document.getElementById("printableTable").innerHTML;
            window.frames["print_frame"].window.focus();
            window.frames["print_frame"].window.print();
       }
    </script>
</html>