{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Quotation Detail{% endblock %}
{% block logisticsquotations %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">
                    {% if quotation.service_provider == logged_in_operator.logistics_branch %}
                    Requested By:
                    {% else %}
                    Requested To:
                    {% endif %}
                    {{logistics_branch.branch_city}}<strong>,
                        {{logistics_branch.logistics_company.company_name}}</strong></h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements" bis_skin_checked="1">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="fa fa-minus"></i></a></li>
                        <li><a data-action="reload"><i class="fa fa-repeat"></i></a></li>
                        <li><a data-action="close"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Login Email</h5>
                            <p>{{logistics_branch.branch_email}}</p>
                        </div>

                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Contact Number</h5>
                            <p>{{logistics_branch.branch_contact}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Alternative Contact</h5>
                            <p>
                                {% if logistics_branch.alternative_contact_number %}
                                {{logistics_branch.alternative_contact_number}}
                                {% else %}Not Provided{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Location</h5>
                            <p>{{logistics_branch.branch_address}}, {{logistics_branch.branch_city}},
                                {{logistics_branch.city.district}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Joined on</h5>
                            <p>{{logistics_branch.created_at|date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Registration Document</h5>
                            <p>
                                {% if logistics_branch.logistics_company.document1 %}
                                <a href="#">Submitted</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">VAT/PAN Document</h5>
                            <p>
                                {% if logistics_branch.logistics_company.document2 %}<a href="#">Submitted</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Other Document</h5>
                            <p>
                                {% if logistics_branch.logistics_company.document3 %}
                                <a href="#">Submitted</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Profile Image</h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <img src="{% if logistics_branch.logistics_company.company_logo %}{{logistics_branch.logistics_company.company_logo.url}}{% else %}{% endif %}"
                        alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div id="with-header" class="card">
            <div class="card-header">
                <h4 class="card-title">Shipping Zone: <span class="text-danger">{{quotation.shipping_zone.shipping_zone}} ({{quotation.shipping_zone.cities.count}} cities)</span></h4>
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            {% for city in quotation.shipping_zone.cities.all %}
                            <td>{{city}}</td>
                            {% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="with-header" class="card">
            <div class="card-header">
                <h4 class="card-title">Provided Quotation</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body border-top-blue-grey border-top-lighten-5 ">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Requested On: </h5>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">{{quotation.created_at}}</h5>
                        </div>
                    </div>
                    {% if quotation.is_quoted %}
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Quoted Date: </h5>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">{{quotation.quoted_date}}</h5>
                        </div>
                        <div class="col-md-6">
                            <h5>Shipping Charge</h5>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">Rs. {{quotation.shipping_charge}}/-</h5>
                        </div>
                        <div class="col-md-6">
                            <h5>COD Handling Charge</h5>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">{{quotation.cod_handling_charge_pct}}%</h5>
                        </div>
                        <div class="col-md-6">
                            <h5>Rejection Handling Charge</h5>
                        </div>
                        <div class="col-md-6">
                            <h5 class="font-weight-bold">{{quotation.rejection_handling_charge_pct}}%</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {% if quotation.service_provider != logged_in_operator.logistics_branch %}
                            {% if quotation.is_confirmed and quotation.status == "Active" %}
                            <div class="col-md-12">
                                <h5 class="font-weight-bold badge badge-success" style="font-size: 15px;">You have signed this contract on {{quotation.confirmed_date}}</h5>
                            </div>
                            {% elif quotation.is_confirmed is not True and quotation.status == "Active" %}
                            <div class="col-md-12">
                                <a href="" class="btn btn-danger accept-sign">Accept and Sign this as a Contract</a>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if quotation.is_confirmed and quotation.status == "Active" %}
                            <div class="col-md-12">
                                <h5 class="text-success font-weight-bold" style="font-size: 15px;">Contract Signed by {{logistics_branch}} on: <br> {{quotation.confirmed_date}}</h5>
                            </div>
                            {% else %}
                            <div class="col-md-12">
                                <h5 class="text-danger">Quotation is under review. You will get notified after changes are made. During this period, you can make changes to your rates provided.</h5>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Quotation not provided.</h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if quotation.service_provider == logged_in_operator.logistics_branch and quotation.is_confirmed is not True %}
    <div class="col-md-6">
        <div id="with-header" class="card">
            <div class="card-header">
                <h4 class="card-title">Provide Quotation</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body border-top-blue-grey border-top-lighten-5 ">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{quotation_form.as_p}}
                        <p>
                            <button class="btn btn-info">Send Quotation</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script>
    $(".accept-sign").on("click", function (e) {
        e.preventDefault();
        var zone_id = $(this).data("zone_id")
        Swal.fire({
            title: "Are you sure to Accept and Sign the contract?",
            text: "You will be able to send shipments as consolidations to this logistics for the selected shipping zone.",
            type: "info",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Accept and Sign!",
            confirmButtonClass: "btn btn-primary",
            cancelButtonClass: "btn btn-danger ml-1",
            buttonsStyling: !1,
        }).then(function (t) {
            if (t.value == 1) {
                $.ajax({
                    url: "",
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'accept-and-sign'
                    },
                    success: function (resp) {
                        if (resp.status == "success") {
                            Swal.fire({ type: "success", title: "Contract Signing Successful!", text: "Contract signed successfully with {{logistics_branch}} for {{quotation.shipping_zone}}.", confirmButtonClass: "btn btn-success" });
                            
                        } else {
                            Swal.fire({ type: "error", title: "Ops!", text: resp.message, confirmButtonClass: "btn btn-danger" });
                        }
                        setTimeout(function () { location.href = "" }, 1000);
                    },
                    error: function (error) {
                        Swal.fire({ type: "error", title: "Ops!", text: "Something went wrong.", confirmButtonClass: "btn btn-danger" });
                        setTimeout(function () { location.href = "" }, 1000);
                    }

                })

            }

        });
    })
</script>
{% endblock %}