{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Quotation List{% endblock %}
{% block logisticsquotations %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-success">
            <div class="card-content">
                <div class="card-body">
                    <a href="?qrt=rcvd">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fa fa-truck white font-large-2 float-left"></i>
                            </div>
                            <div class="media-body white text-right">
                                <h3>{{active_received_quotations.count}}</h3>
                                <span>New Received Requests</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-danger">
            <div class="card-content">
                <div class="card-body">
                    <a href="?qrt=snt">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="icon-plane white font-large-2 float-left"></i>
                            </div>
                            <div class="media-body white text-right">
                                <h3>{{active_sent_quotations.count}}</h3>
                                <span>New Sent Requests</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-info">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-shopping-bag white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>{{total_received_quotations.count}}</h3>
                            <span>All Received Requests</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-red">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-users white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>{{total_sent_quotations.count}}</h3>
                            <span>All Sent Requests</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="users-list-table">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h5>{{type|title}} Quotations</h5>
                    </div>
                    <div class="col-md-3">
                        <form action="">
                            <input type="search" name="search" class="form-control"
                                placeholder="Type keyword & press Enter">
                        </form>
                    </div>
                </div>
                <!-- datatable start -->
                <div class="table-responsive mt-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Quotation</th>
                                <th>Involved Logistics</th>
                                <th>Shipping Zone</th>
                                <th>Sent Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for quotation in quotation_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'lbcapp:logisticsquotationdetail' quotation.id %}">Quotation_{{quotation.id}}</a></td>
                                <td>
                                    {% if type == "sent" %}
                                    <a href="{% url 'lbcapp:logisticsbranchdetail' quotation.logistics_branch_contract.second_party.id %}">{{quotation.logistics_branch_contract.second_party}}</a>
                                    {% else %}
                                    <a href="{% url 'lbcapp:logisticsbranchdetail' quotation.logistics_branch_contract.first_party.id %}">{{quotation.logistics_branch_contract.first_party}}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if type == "sent" %}
                                    {{quotation.shipping_zone.shipping_zone}}
                                    {% else %}
                                    {{quotation.shipping_zone.shipping_zone}}
                                    {% endif %}
                                </td>
                                <td>{{quotation.created_at}}</td>
                                <td>
                                    {% if quotation.is_confirmed is True and quotation.status == 'Active' %}
                                    <span class="font-weight-bold badge badge-success">Contract Signed</span>
                                    {% elif quotation.is_confirmed is False and quotation.status == 'Pending' or quotation.status == 'Active' %}
                                    <span class="font-weight-bold badge badge-info">Requesting</span>
                                    {% else %}
                                    <span class="font-weight-bold badge badge-warning">Rejected</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <p>Showing {{quotation_list.count}} of {{page_obj.paginator.count}} data</p>
                        <ul class="pagination justify-content-end">

                            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                    tabindex="-1">Previous</a>
                            </li>

                            {% for n in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                    class="page-link"
                                    href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                            </li>
                            {% endfor %}
                            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}