{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Contract Detail{% endblock %}
{% block logisticsconnectedbranches %}active{% endblock %}

{% block css %}
<style>
    .title-text{
        color: rgb(14, 34, 56);
        font-weight: 600;
    }
</style>
{% endblock %}

{% block content %}
<div class="row grouped-multiple-statistics-card">
    <div class="col-md-9">
        <div id="with-header" class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <h4 class="card-title">
                    {{logistics_branch.branch_city}}<strong>,
                        {{logistics_branch.logistics_company.company_name}}</strong></h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements" bis_skin_checked="1">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="fa fa-minus"></i></a></li>
                        <li><a data-action="reload"><i class="fa fa-repeat"></i></a></li>
                        <li><a data-action="close"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Login Email</h5>
                            <p>{{logistics_branch.branch_email}}</p>
                        </div>

                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Contact Number</h5>
                            <p>{{logistics_branch.branch_contact}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Alternative Contact</h5>
                            <p>
                                {% if logistics_branch.alternative_contact_number %}
                                {{logistics_branch.alternative_contact_number}}
                                {% else %}Not Provided{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Location</h5>
                            <p>{{logistics_branch.branch_address}}, {{logistics_branch.branch_city}},
                                {{logistics_branch.city.district}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Joined on</h5>
                            <p>{{logistics_branch.created_at|date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Registration Document</h5>
                            <p>
                                {% if logistics_branch.logistics_company.document1 %}
                                <a href="#">Submitted</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">VAT/PAN Document</h5>
                            <p>
                                {% if logistics_branch.logistics_company.document2 %}<a href="#">Submitted</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Other Document</h5>
                            <p>
                                {% if logistics_branch.logistics_company.document3 %}
                                <a href="#">Submitted</a>
                                {% else %}None{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Profile Image</h4>
            </div>
            <div class="card-content collapse show" bis_skin_checked="1">
                <div class="card-body border-top-blue-grey border-top-lighten-5 " bis_skin_checked="1">
                    <img src="{% if logistics_branch.logistics_company.company_logo %}{{logistics_branch.logistics_company.company_logo.url}}{% else %}{% endif %}"
                        alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="with-header" class="card">
            <div class="card-header">
                <h4 class="card-title">As A Service Provider</h4>
            </div>
            {% for zonal_contract in provider_zonal_contracts %}
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12 px-3">
                        <h4 class="text-primary" title="{% for city in zonal_contract.shipping_zone.cities.all %}{{city}} | {% endfor %}"><a href="{% url 'lbcapp:logisticsquotationdetail' zonal_contract.id %}">{{zonal_contract}}</a></h4><hr>
                        <p><span class="title-text">Shipping Charge Per Kg:</span> Rs. {{zonal_contract.shipping_charge}}/-</p>
                        <p><span class="title-text">COD Handling Charge:</span> {{zonal_contract.cod_handling_charge_pct}}%</p>
                        <p><span class="title-text">Rejection HandlingCharge:</span> {{zonal_contract.rejection_handling_charge_pct}}%</p>
                        <p><span class="title-text">Contract Date:</span> {{zonal_contract.confirmed_date|date}}</p>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- <table class="table table-bordered">
                        <tbody>
                            {% for city in zonal_contract.shipping_zone.cities.all %}
                            <td>{{city}}</td>
                            {% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
                                {% endfor %}
                        </tbody>
                    </table> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        <div id="with-header" class="card">
            <div class="card-header">
                <h4 class="card-title">As A Service Taker</h4>
            </div>
            {% for zonal_contract in taker_zonal_contracts %}
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12 px-3">
                        <h4 class="text-primary" title="{% for city in zonal_contract.shipping_zone.cities.all %}{{city}} | {% endfor %}"><a href="{% url 'lbcapp:logisticsquotationdetail' zonal_contract.id %}">{{zonal_contract}}</a></h4><hr>
                        <p><span class="title-text">Shipping Charge Per Kg:</span> Rs. {{zonal_contract.shipping_charge}}/-</p>
                        <p><span class="title-text">COD Handling Charge:</span> {{zonal_contract.cod_handling_charge_pct}}%</p>
                        <p><span class="title-text">Rejection HandlingCharge:</span> {{zonal_contract.rejection_handling_charge_pct}}%</p>
                        <p><span class="title-text">Contract Date:</span> {{zonal_contract.confirmed_date|date}}</p>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- <table class="table table-bordered">
                        <tbody>
                            {% for city in zonal_contract.shipping_zone.cities.all %}
                            <td>{{city}}</td>
                            {% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
                                {% endfor %}
                        </tbody>
                    </table> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}