{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Connected Logistics{% endblock %}
{% block logisticsconnectedbranches %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-success">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-truck white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>{{contract_list.count}}</h3>
                            <span>Connected Logistics</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-danger">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="icon-plane white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>{{provider_contract_list.count}}</h3>
                            <span>Providing Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-info">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-shopping-bag white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>{{taker_contract_list.count}}</h3>
                            <span>Taking Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card bg-gradient-directional-red">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="fa fa-users white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h3>{{covered_cities.count}}</h3>
                            <span>Covered Cities</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="users-list-table">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Connected Logistics</h5>
                    </div>
                    <div class="col-md-3">
                        <form action="">
                            <input type="search" name="search" class="form-control"
                                placeholder="Type keyword & press Enter">
                        </form>
                    </div>
                </div>
                <!-- datatable start -->
                <div class="table-responsive mt-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Logistics</th>
                                <th>Location</th>
                                <th>Zonal Contracts</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contract in contract_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>
                                    {% if contract.first_party != logged_in_operator.logistics_branch %}
                                    <a href="{% url 'lbcapp:logisticsconnectedbranchdetail' contract.id %}">{{contract.first_party.logistics_company.company_name}}</a>
                                    {% else %}
                                    <a href="{% url 'lbcapp:logisticsconnectedbranchdetail' contract.id %}">{{contract.second_party.logistics_company.company_name}}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if contract.first_party != logged_in_operator.logistics_branch %}
                                    {{contract.first_party.branch_city}}
                                    {% else %}
                                    {{contract.second_party.branch_city}}
                                    {% endif %}
                                </td>
                                <td>{{contract.active_zonal_contracts}}</td>
                                <td>{{contract.status}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <p>Showing {{contract_list.count}} of {{page_obj.paginator.count}} data</p>
                        <ul class="pagination justify-content-end">

                            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                    tabindex="-1">Previous</a>
                            </li>

                            {% for n in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a class="page-link"
                                    href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                            </li>
                            {% endfor %}
                            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}