{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static  %}
{% load humanize %}

{% block title %}Transactions{% endblock %}
{% block logisticstransactionlist %}active{% endblock %}



{% block css %}

{% endblock %}

{% block content %}
<div class="mb-2 mt-2" bis_skin_checked="1">
    <h5 class="mb-0 text-uppercase d-inline">All Transactions</h5>
    <a href="{% url 'lmsapp:logisticstransactioncreate' %}" class="btn btn-info d-inline" style="float: right;">Make new Transaction</a>

</div>

<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-2">
                <a href="?status=unsettled">
                    <h5 class="text-center">COD Collection</h5>
                    <h4 class="text-center">Rs. {{total_cod_collection|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=settled">
                    <h5 class="text-center">COD Handover</h5>
                    <h4 class="text-center">Rs. {{total_cod_handover|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=all">
                    <h5 class="text-center">Total Expense</h5>
                    <h4 class="text-center">Rs. {{total_expense|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <h5 class="text-center">Total Cash IN</h5>
                <h4 class="text-center">Rs. {{total_cash_in|intcomma}} /-</h4>
            </div>
            <div class="col-md-2">
                <a href="?status=all">
                    <h5 class="text-center">Total Cash Out</h5>
                    <h4 class="text-center">Rs. {{total_cash_out|intcomma}} /-</h4>
                </a>
            </div>
            <div class="col-md-2">
                <h5 class="text-center">Cash In Hand</h5>
                <h4 class="text-center">Rs. {{cash_in_hand|intcomma}} /-</h4>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Last 30 Days</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Transaction Topic</th>
                                    <th>Cash In</th>
                                    <th>Cash Out</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transaction_list %}
                                <tr>
                                    <td>{{transaction.transaction_date.date}} | ({{transaction.id}})</td>
                                    <td>{{transaction.title}}({{transaction.transaction_category}})</td>
                                    <td>{% if transaction.transaction_type == "Cash In"%}{{transaction.transaction_amount}}{% else %} - {% endif %}</td>
                                    <td>{% if transaction.transaction_type == "Cash Out" %}{{transaction.transaction_amount}}{% else %} - {% endif %}</td>
                                    <td><a href=""><button class="btn btn-sm btn-success">View</button></a></td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{transaction_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block js %}

{% endblock %}