{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}
{% load humanize %}

{% block logisticspay %}active{% endblock %}
{% block title %}Connected Logistics {% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-3">
                <a href="?status=unsettled">
                    <h5 class="text-center">Unsettled Requests</h5>
                    <h4 class="text-center">{{unsettled_requests}}</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=verify">
                    <h5 class="text-center">Verify Payments</h5>
                    <h4 class="text-center">{{verify_requests}}</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=settled">
                    <h5 class="text-center">Settled Requests</h5>
                    <h4 class="text-center">{{settled_requests}}</h4>
                </a>
            </div>
            <div class="col-md-2">
                <a href="?status=all">
                    <h5 class="text-center">All Requests</h5>
                    <h4 class="text-center">{{payment_requests}}</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="?status=connectedlogistics">
                    <h5 class="text-center">Connected Logistics</h5>
                    <h4 class="text-center">{{connected_logistics_count}}</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>{{status|title}}</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    {% if status == 'Connected Logistics List' %}
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Connected Logistics</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for logistics in connected_logistics %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <a href="">Company: {{logistics.logistics_company}}
                                        <br>Branch: {{logistics.branch_city}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'lmsapp:logisticsconnectedpayment' logistics.id logistics.logistics_company %}">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    {% else %}
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Request From</th>
                                    <th>Request To</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prequest in prequests %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <a href="#">Company: {{prequest.requested_by.logistics_company}}
                                        <br>Branch: {{prequest.requested_by.branch_city}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">Company: {{prequest.requested_to.logistics_company}}
                                        <br>Branch: {{prequest.requested_to.branch_city}}
                                        </a>
                                    </td>
                                    <td>
                                        {% if prequest.is_settled == True and prequest.is_verified == False and prequest.payer_logistics != mybranch %}
                                        <a href="{% url 'lmsapp:logisticslogisticspaymentverification' prequest.id %}">Verify Payment</a>
                                        {% else %}
                                        <a href="{% url 'lmsapp:logisticslogisticspayment' prequest.requested_by.id prequest.id %}">View Detail</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}