{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static%}
{% load humanize %}

{% block title %}Payment Request Detail{% endblock %}

{% block logisticscustomerpaymentrequests %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-2">
                <h6 class="text-center">Requested By</h6><hr>
                <h6 class="text-center">{{payment_request.logistics_customer}}</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Requested on</h6><hr>
                <h6 class="text-center">{{payment_request.created_at}}</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Requested Amount</h6><hr>
                <h6 class="text-center">Rs. {{payment_request.request_amount|intcomma}}/-</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Receiver Account</h6><hr>
                <h6 class="text-center">{{payment_request.preferred_receiving_account}}</h6>
            </div>
            <div class="col-md-2">
                <h6 class="text-center">Payment Status</h6><hr>
                <h6 class="text-center">
                    {% if payment_request.is_settled %}
                    <span class="badge badge-success font-weight-bold">Already Settled</span>
                    <p>Settled on: {{payment_request.settled_date}}</p>
                    {% else %}
                    <span class="badge badge-danger font-weight-bold">Not Settled</span>
                    <br>
                    <a href="" id="proceed-to-pay">Proceed to Pay</a>
                    {% endif %}
                </h6>
            </div>
            <div class="col-md-12 border p-1">
                <h6 class="text-danger">Message: {{payment_request.message}}</h6>
            </div>
        </div>
    </div>
    {% if completed_shipments %}
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="font-weight-bold text-danger">*** IMPORTANT ***</h4>
                            <p class="text-danger">More Shipments are completed</p>
                        </div>
                        <div class="col-md-6">
                            <h5>Current Balance: <span class="font-weight-bold">Rs. {{current_balance|intcomma}}/-</span></h5>
                            <h5>Total Shipments Completed: <span class="font-weight-bold">{{completed_shipments}} Shipments</span></h5>
                        </div>
                        <div class="col-md-3">
                            <a href="" id="include-shipments" class="btn btn-info">Include in Payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h6>Included Shipments (Completed)</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Shipment</th>
                                    <th>Shipment Status</th>
                                    <th>COD Value</th>
                                    <th>Service Charge</th>
                                    <th>Net Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shipment in payment_request.shipments.all %}
                                <tr>
                                    <td><a href="">{{shipment.tracking_code}}</a></td>
                                    <td>
                                        {% if shipment.shipment_status != "Shipment Returned to the Sender" %}
                                        <span class="badge badge-success">
                                            {{shipment.shipment_status}}
                                        </span>
                                        {% else %}
                                        <span class="badge badge-danger">
                                            {{shipment.shipment_status}}
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td>{{shipment.cod_value}}</td>
                                    <td>{{shipment.get_service_charge.0}}</td>
                                    <td>{{shipment.get_service_charge.1}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade text-left" id="payment-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">You are going to Enter payment Record</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'lmsapp:logisticscustomerpaymentrequestpay' payment_request.id %}" method="POST" id="cpa-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {{customer_payment_form.as_p}}
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Save Information">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var ptp = document.getElementById("proceed-to-pay")
    ptp.addEventListener("click", function (e){
        e.preventDefault();
        $('#payment-form').modal('show')
        
    })

    $("#include-shipments").on("click", function (e){
        e.preventDefault();
        Swal.fire({
            title: "Include newly completed Shipments to COD Request?",
            type: "info",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Make Changes!",
            confirmButtonClass: "btn btn-info",
            cancelButtonClass: "btn btn-danger ml-1",
            buttonsStyling: !1,
        }).then(function (t) {
            if (t.value == 1) {
                $.ajax({
                    url: "",
                    method: "post",
                    data: {
                        action: 'include-shipments',
                        csrfmiddlewaretoken: "{{csrf_token}}",
                    },
                    success: function (resp) {
                        location.href = ""
                    }
                })
            }
        })
    })

</script>
{% endblock %}