{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}
{% load humanize %}

{% block logisticspay %}active{% endblock %}
{% block title %}Make Payment to Connected Logistics {% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<h2>Account With {{connected_logistics}} [{{connected_logistics.branch_city}}]</h2>
<section class="users-list-wrapper">
    <div class="row border border-light rounded py-2 mb-2">
        <div class="col-md-4">
            <h5 class="text-center">Overall Shipments Settled</h5>
            <h4 class="text-center">{{final_shipment_count}}</h4>
        </div>
        
        <div class="col-md-4">
            <h5 class="text-center font-weight-bold">Money to receive</h5>
            <h4 class="text-center">Rs. {{final_net_value|intcomma}}/-</h4>
        </div>
        {% if final_net_value == 0 %}
        <div class="col-md-4 card bg-danger p-1">
            <a href="#" class="btn btn-danger">Already Settled</a>
        </div>
        {% else %}
        <div class="col-md-4 card bg-success p-1">
            <a href="" class="btn btn-success request-payment">Request Settlement</a>
        </div>
        {% endif %}
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Shipments [My Shipments] To Receive</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <div class="users-list-filter px-1">
                        <div class="row border border-light rounded py-2 mb-2">
                            <div class="col-md-4">
                                <h5 class="text-center">Shipments Count</h5>
                                <h4 class="text-center">{{sbss.count}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">To Pay</h5>
                                <h4 class="text-center">Rs. {{to_pay}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">Cod Value to Receive</h5>
                                <h4 class="text-center">Rs. {{cod_value}}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Shipment</th>
                                    <th>Shipping Charge</th>
                                    <th>COD Charge</th>
                                    <th>Rejection Charge</th>
                                    <th>COD Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sbs in sbss %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="#">{{sbs}}</a></td>
                                    <td>{{sbs.shipping_charge}}</td>
                                    <td>{{sbs.cod_handling_charge}}</td>
                                    <td>{{sbs.rejection_handling_charge}}</td>
                                    <td>{{sbs.shipment.cod_value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{payment_request_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Shipments [{{connected_logistics}}] To Pay</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <div class="users-list-filter px-1">
                        <div class="row border border-light rounded py-2 mb-2">
                            <div class="col-md-4">
                                <h5 class="text-center">Shipments Count</h5>
                                <h4 class="text-center">{{another_sbss.count}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">To Receive</h5>
                                <h4 class="text-center">Rs. {{another_to_pay}}</h4>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-center">Cod Value to Pay</h5>
                                <h4 class="text-center">Rs. {{another_cod_value}}</h4>
                            </div>
                            <!-- <div class="col-md-4 card bg-success p-1">
                                <h5 class="text-center font-weight-bold">Money to receive</h5>
                                <h4 class="text-center">Rs. {{net_value|intcomma}}/-</h4>
                            </div>
                            <div class="col-md-2">
                                {% if net_value > 0 %}
                                <a href="" class="btn btn-info request-payment">Request payment</a>
                                {% else %}
                                <a href="#" class="btn btn-danger">Already Settled</a>
                                {% endif %}
                            </div> -->
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Shipment</th>
                                    <th>Shipping Charge</th>
                                    <th>COD Charge</th>
                                    <th>Rejection Charge</th>
                                    <th>COD Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sbs in another_sbss %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="#">{{sbs}}</a></td>
                                    <td>{{sbs.shipping_charge}}</td>
                                    <td>{{sbs.cod_handling_charge}}</td>
                                    <td>{{sbs.rejection_handling_charge}}</td>
                                    <td>{{sbs.shipment.cod_value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{payment_request_list.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $('.request-payment').on('click', function(){
        // alert('1')
        $.ajax({
            url: "",
            method: "POST",
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                requested_to_id: '{{connected_logistics.id}}',
            },
            success: function (resp) {
                if(resp.status == 'error'){
                    alert('Previous unsettled payment request or no amount to request.')
                }
                // if (resp.current_balance > 0 && resp.unsettled_requests_exists != true) {
                //     $(".submit-btn").removeAttr("disabled")
                //     $(".unsettled-error").html("")

                // } else if (resp.unsettled_requests_exists == true) {
                //     $(".submit-btn").attr("disabled", "disabled")
                //     $(".unsettled-error").html("You have previous unsettled payment request with this service provider. Please contact them or raise an issue ticket. ")
                // }else{
                //     $(".submit-btn").attr("disabled", "disabled")
                //     $(".unsettled-error").html("You don't have sufficient balance in your wallet with this service provider.")
                // }
            }
        })
    })
</script>
{% endblock %}