{% extends 'logisticstemplates/logisticsbase.html' %}

{% block title %}Make New Transaction{% endblock %}
{% block logisticstransactionlist %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Make New Transaction: </strong></h4>
                            <hr>
                            <span class="text-danger">Fields marked with * are required fields.</span>
                        </div>
                    </div>
                    <hr>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Transaction Date<span class="text-danger">*</span></label>
                                            {{form.transaction_date}}
                                            {{form.transaction_date.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Transaction Type<span class="text-danger">*</span></label>
                                            {{form.transaction_type}}
                                            {{form.transaction_type.errors}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Transaction Category<span class="text-danger">*</span></label>
                                            {{form.transaction_category}}
                                            {{form.transaction_category.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Transaction Topic<span class="text-danger">*</span></label>
                                            {{form.title}}
                                            {{form.title.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Transaction Amount</label>
                                            {{form.transaction_amount}}
                                            {{form.transaction_amount.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Reference Data</label>
                                            {{form.reference_data}}
                                            {{form.reference_data.errors}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit"
                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1 submit-btn">Save Information</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}


{% endblock %}