{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}
{% load humanize %}

{% block logisticscustomerpaymentrequests %}active{% endblock %}
{% block title %}Customer Payment Request {% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <div class="row border border-light rounded py-2 mb-2">
            <div class="col-md-3">
                <a href="?status=unsettled">
                    <h5 class="text-center">Unsettled Requests</h5>
                    <h4 class="text-center">{{unsettled_requests.count}}</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="?status=settled">
                    <h5 class="text-center">Settled Requests</h5>
                    <h4 class="text-center">{{settled_requests.count}}</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="?status=all">
                    <h5 class="text-center">All Requests</h5>
                    <h4 class="text-center">{{all_requests.count}}</h4>
                </a>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">Unsettled Amount</h5>
                <h4 class="text-center">Rs. {{unsettled_amount|intcomma}}/-</h4>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>{{status|title}} payments</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Customer Information</th>
                                    <th>Request Amount</th>
                                    <th>Preferred Account</th>
                                    <th>Requested Date</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment_request in payment_request_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <a href="{% url 'lmsapp:logisticscustomerpaymentrequestdetail' payment_request.id %}">{{payment_request.logistics_customer}}
                                        {% if payment_request.logistics_customer.company_name %}
                                        <br>({{payment_request.logistics_customer.company_name}})
                                        {% endif %}</a>
                                    </td>
                                    <td>{{payment_request.request_amount}}</td>
                                    <td>{{payment_request.preferred_receiving_account}}</td>
                                    <td>{{payment_request.created_at}}</td>
                                    <td>
                                        {% if payment_request.is_settled %}
                                        <span class="font-weight-bold badge badge-success">Settled Already</span>
                                        <br><small>{{payment_request.settled_date}}</small>
                                        {% else %}
                                        <span class="font-weight-bold badge badge-warning">Not Settled</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}