{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}

{% block title %}Logistics Customer Wallet{% endblock %}
{% block logisticscustomerwallet %}active{% endblock %}
{% load custom_tags %}
{% block css %}
{% endblock %}

{% block content %}
<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <div class="media-body">
                            <h4 class="media-heading"><strong>Logistics Customer Wallet List </strong></h4>
                            <span class="text-danger">Customer with their amount needed to clear</span>
                        </div>
                    </div>
                    <hr>
                   
                </div>
                <div class="table-responsive mt-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Customer</th>
                                <th>Amount in Wallet</th>
                                <th>Last Payment Requested Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><b>{{customer.company_name}}</b>
                                    <div style="font-size: 12px;">
                                        <br>{{customer.contact_number}}, {{customer.alternative_contact_number}}
                                        <br>{{customer.full_name}}
                                        <br>{{customer.address}} [{{customer.city}}]
                                    </div>
                                </td>
                                <td>{{customer.id|wallet_balance}}</td>
                                <td>{{customer.customerpaymentrequest_set.last.created_at}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}