{% extends 'logisticstemplates/logisticsbase.html' %}
{% load static %}
{% load humanize %}

{% block logisticspay %}active{% endblock %}
{% block title %}Verify Payment{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="users-list-wrapper">
    <div class="users-list-filter px-1">
        <h3>Verify Payment By {{lpr.payer_logistics}}</h3>
        <div class="row">
            <div class="col-md-8">
                <p>Paid Amount : Rs. {{lpr.paid_or_received_amount}}</p>
                <p>My Remarks: {{lpr.requester_remarks|safe}}</p>
                <p>Payment Settled At System Date: {{lpr.settled_date}}</p>
                <p>Paid by: {{lpr.payer_logistics}}</p>
            </div>
            {% if lpr.is_verified %}
            <div class="col-md-4 card bg-success p-1">
                <a href="#" class="btn btn-success">Verified</a>
            </div>
            {% else %}
            <div class="col-md-4 card bg-danger p-1">
                <a href="" class="btn btn-danger" id="verify-payment">Verify Payment</a>
            </div>
            {% endif %}
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>My Shipments</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Shipment</th>
                                    <th>Shipping Charge</th>
                                    <th>COD Charge</th>
                                    <th>Rejection Charge</th>
                                    <th>COD Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sbs in branchpayment.bundle_shipments.all %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <a href="#">{{sbs.shipment.tracking_code}}
                                        </a>
                                    </td>
                                    <td>Rs. {{sbs.shipping_charge}}</td>
                                    <td>Rs. {{sbs.cod_handling_charge}}</td>
                                    <td>Rs. {{sbs.rejection_handling_charge}}</td>
                                    <td>Rs. {{sbs.cod_value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="users-list-table">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Another Logistics Shipments Handled</h5>
                        </div>
                        <div class="col-md-3">
                            <form action="">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Type keyword & press Enter">
                            </form>
                        </div>
                    </div>
                    <!-- datatable start -->
                    <div class="table-responsive mt-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Shipment</th>
                                    <th>Shipping Charge</th>
                                    <th>COD Charge</th>
                                    <th>Rejection Charge</th>
                                    <th>COD Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sbs in another_branchpayment.bundle_shipments.all %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <a href="#">{{sbs.shipment.tracking_code}}
                                        </a>
                                    </td>
                                    <td>Rs. {{sbs.shipping_charge}}</td>
                                    <td>Rs. {{sbs.cod_handling_charge}}</td>
                                    <td>Rs. {{sbs.rejection_handling_charge}}</td>
                                    <td>Rs. {{sbs.cod_value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <p>Showing {{shipments.count}} of {{page_obj.paginator.count}} data</p>
                            <ul class="pagination justify-content-end">

                                <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}"
                                        tabindex="-1">Previous</a>
                                </li>

                                {% for n in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == n %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% if page_obj.number == n %}#{% else %}?page={{n}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% endif %}">{{n}}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% if request.GET.status %}&status={{request.GET.status}}{% elif request.GET.search %}&search={{request.GET.search}}{% endif %}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $('#verify-payment').on('click', function(){
        $.ajax({
            url: "",
            method: "POST",
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                verify_lpr: '{{lpr.id}}',
            },
            success: function (resp) {
                if(resp.status == 'error'){
                    alert('Already Verified.')
                }
                // if (resp.current_balance > 0 && resp.unsettled_requests_exists != true) {
                //     $(".submit-btn").removeAttr("disabled")
                //     $(".unsettled-error").html("")

                // } else if (resp.unsettled_requests_exists == true) {
                //     $(".submit-btn").attr("disabled", "disabled")
                //     $(".unsettled-error").html("You have previous unsettled payment request with this service provider. Please contact them or raise an issue ticket. ")
                // }else{
                //     $(".submit-btn").attr("disabled", "disabled")
                //     $(".unsettled-error").html("You don't have sufficient balance in your wallet with this service provider.")
                // }
            }
        })
    })
</script>
{% endblock %}