<!DOCTYPE html>
{% load static %}
<html class="loading" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Recover Password - {{org.name}}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/components.min.css' %}">
  </head>
  <body class="vertical-layout vertical-menu-modern 1-column   blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><section class="row flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                <div class="card-header border-0 pb-0">
                    <div class="card-title text-center">
                        <a href="{% url 'siteapp:clienthome' %}">   
                            <img src="{{org.logo.url}}" style="height: 100px; object-fit: contain;" alt="{{org.name}}">
                        </a>
                    </div>
                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Reset link will be sent to your entered email.</span></h6>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form-horizontal" method="POST">
                            {% csrf_token %}
                            {{form.email}}
                            <button type="submit" class="btn btn-outline-success btn-lg btn-block mt-1"><i
                                    class="feather icon-unlock"></i> Recover Password</button>
                        </form>
                        {% if form.errors %}
                        <div class="alert alert-danger mt-2">
                        {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer border-0">
                    <p class="float-sm-left text-center"><a href="{% url 'lmsapp:customerlogin' %}" class="card-link">Login</a></p>
                    <p class="float-sm-right text-center">New Customer? <a href="{% url 'lmsapp:customersignup' %}"
                            class="card-link">Create Account</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
        </div>
      </div>
    </div>
  </body>
</html>