{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
        content="Logistics Marketplace Customer Panel">
    <meta name="keywords"
        content="Logistics Marketplace Customer Panel">
    <meta name="author" content="Sarobar Technology">
    <title>Logistics Customer Login Panel</title>
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link
        href="{% static 'customerstatic/assets/css/css9764.css' %}?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/vendors/css/forms/icheck/icheck.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/components.min.css' %}">
    <link rel="stylesheet" type="text/css"
    href="{% static 'customerstatic/app-assets/css/plugins/extensions/toastr.min.css' %}">
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 1-column  bg-full-screen-image blank-page blank-page"
    data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <h4 class="card-title text-info font-weight-bold">Sarathi Logistics <br>Customer Login Form</h4>
                                        {% comment %}
                                        <img src="{% static 'customerstatic/app-assets/images/logo/stack-logo-dark.png' %}"
                                            alt="branding logo">{% endcomment %}
                                            <hr>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>Login with your Email and Password</span></p>
                                    <div class="card-body">
                                        <form class="form-horizontal" action="" method="POST">
                                            {% csrf_token %}
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Your registered email..." required>
                                                <div class="form-control-position">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control" name="password"
                                                    placeholder="Your password..." required>
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </fieldset>
                                            {% if error %}
                                            <p class="text-danger">*** {{error}}</p>
                                            {% endif %}
                                            <div class="form-group row">
                                                <div class="col-sm-6 col-12 text-center text-sm-left pr-0">
                                                    <fieldset>
                                                        <input type="checkbox" id="remember-me" class="chk-remember">
                                                        <label for="remember-me"> Remember Me</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right"><a
                                                        href="{% url 'lmsapp:customerforgotpassword' %}" class="card-link">Forgot
                                                        Password?</a></div>
                                            </div>
                                            <button type="submit" style="background-color: #00B5B8; color: #fff;" class="btn btn-block"><i
                                                    class="feather icon-unlock"></i> Login as a Customer</button>
                                        </form>
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>Don't have account?</span></p>
                                    <div class="card-body">
                                        <a href="{% url 'lmsapp:customersignup' %}"
                                            class="btn btn-outline-danger btn-block"><i class="feather icon-user"></i>
                                            Register as a Customer</a>
                                            <a href="{% url 'siteapp:clienthome' %}"
                                            class="btn btn-outline-info btn-block"><i class="feather icon-user"></i>
                                            Go back to Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="{% static 'customerstatic/app-assets/vendors/js/vendors.min.js' %}"></script>

    <script src="{% static 'customerstatic/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/vendors/js/forms/icheck/icheck.min.js' %}"></script>

    <script src="{% static 'customerstatic/app-assets/js/core/app-menu.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/js/core/app.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/js/scripts/forms/form-login-register.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
    <script>
        {% if messages %}
        {% for message in messages %}
        toastr.{{ message.tags }}("{{message.tags|title}}", "{{message}}", { showMethod: "fadeIn", hideMethod: "fadeOut", timeOut: 2e3 });
        {% endfor %}
        {% endif %}
    </script>
</body>

</html>