<!DOCTYPE html>
{% load static %}
<html class="loading" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>{{org.name}}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/components.min.css' %}">
  </head>
  <body class="vertical-layout vertical-menu-modern 1-column   blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    <a href="{% url 'siteapp:clienthome' %}">   
                                        <img src="{{org.logo.url}}" style="height: 100px; object-fit: contain;" alt="{{org.name}}">
                                    </a>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="inside-wrapper container">
                                        <div class="section-heading" style="margin-bottom: 0;">
                                            <h2 class="text-center" style="color: green">Password Reset Successfully.</h2>
                                        </div>
                                        <p class="text-center">To login to your account,<br>
                                            <a class="btn btn-primary" href="{% url 'lmsapp:customerlogin' %}">Go to login page</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  </body>
</html>