{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
        content="Logistics Marketplace Customer Panel">
    <meta name="keywords"
        content="Logistics Marketplace Customer Panel">
    <meta name="author" content="Sarobar Technology">
    <title>Logistics Customer Login Panel</title>
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link
        href="{% static 'customerstatic/assets/css/css9764.css' %}?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/components.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 1-column  bg-full-screen-image blank-page blank-page"
    data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-8 col-md-8 col-12 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <h4 class="card-title text-info font-weight-bold">Sarathi Logistics <br>Customer Registration Form</h4>
                                        {% comment %}
                                        <img src="{% static 'customerstatic/app-assets/images/logo/stack-logo-dark.png' %}"
                                            alt="branding logo">{% endcomment %}
                                            <hr>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <form class="form-vertical" action="" method="POST">
                                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                            <span>Lets create an account for you.</span></p>
                                        <div class="card-body">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{form.signup_email}}
                                                </div>
                                                <div class="col-md-6">
                                                    Note: <p style="color:rgb(89, 89, 89); font-size: 11px;">This entered email will be used during login. </p>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{form.signup_password}}
                                                </div>
                                            </div>
                                        </div>
                                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                            <span>Your Business Information.</span></p>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <fieldset class="form-group position-relative has-icon-left">
                                                        {{form.company_name}}
                                                    </fieldset>
                                                </div>
                                              
                                                <div class="col-md-6">
                                                    <fieldset class="form-group position-relative has-icon-left">
                                                        {{form.full_name}}
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset class="form-group position-relative has-icon-left">
                                                        {{form.contact_number}}
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <fieldset class="form-group position-relative has-icon-left">
                                                        {{form.city}}
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset class="form-group position-relative has-icon-left">
                                                        {{form.address}}
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <br>  
                                            <p class="text-center">{{form.confirm_terms}} I Accept <a href="{% url 'siteapp:clientpage' 'terms-and-conditions' %}" target="_blank"> Terms and Conditions </a>.</p>
                                            {% if form.errors %}
                                                {% for field in form %}
                                                    {% for error in field.errors %} 
                                                        <div class="alert alert-danger">
                                                            <strong>** {{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}
                                            <button type="submit" style="background-color: #00B5B8; color: #fff;" class="btn btn-block"><i class="feather icon-unlock"></i> Signup as a Customer</button>
                                        </form>
                                    </div>
                                    
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>Already have an account?</span></p>
                                    <div class="card-body">
                                        <a href="{% url 'lmsapp:customerlogin' %}"
                                            class="btn btn-outline-danger btn-block"><i class="feather icon-user"></i>
                                            Login as a Customer</a>
                                            <a href="{% url 'siteapp:clienthome' %}"
                                            class="btn btn-outline-info btn-block"><i class="feather icon-user"></i>
                                            Go back to Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="{% static 'customerstatic/app-assets/vendors/js/vendors.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('.select2').select2();
    </script>
</body>

</html>