{% load static %}
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Logistics Marketplace in Nepal">
    <meta name="author" content="Sarobar Technology Pvt. Ltd.">
    <title>{% block title %}{% endblock %} | Customer Dashboard</title>
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/colors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/app-assets/css/components.min.css' %}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/css/core/menu/menu-types/vertical-menu-modern.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/css/core/colors/palette-gradient.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/fonts/simple-line-icons/style.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/css/pages/card-statistics.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/css/pages/vertical-timeline.min.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'customerstatic/assets/css/style.css' %}">
    <!-- END: Custom CSS-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/vendors/css/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/css/plugins/extensions/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'customerstatic/app-assets/vendors/css/extensions/sweetalert2.min.css' %}">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        input[type=number] {
        -moz-appearance: textfield;
        }
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:20px;
            right:20px;
            background-color: #16D39A;
            color:#FFF;
            border-radius:30px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index: 9999; 
        }
        @keyframes blinker {
        70% {
            opacity: 0.5;
        }
        }

        .my-float{
            margin-top:23px;
        }
        .float:hover{
            background-color:rgb(13, 87, 44);
            animation: blinker 1s linear infinite;

        }
    </style>
    {% block css %}

    {% endblock %}

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click"
    data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-lg-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                class="feather icon-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto"><a class="navbar-brand"
                            href="{% url 'lmsapp:customerdashboard' %}">
                            <!-- <img class="brand-logo" alt="{{org.name}}" src="{{org.logo.url}}" style="object-fit: contain; width: 100px;"> -->
                            <h2 class="brand-text">Sarathi</h2>
                        </a></li>
                    <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0"
                            data-toggle="collapse"><i class="toggle-icon icon-toggle-right font-medium-3 white feather"
                                data-ticon="feather.icon-toggle-right"></i></a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <!-- <li class="dropdown nav-item mega-dropdown d-none d-lg-block"><a
                                class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">About us</a>
                            <ul class="mega-dropdown-menu dropdown-menu row p-1">
                                <li class="col-md-4 bg-mega p-2">
                                    <h3 class="text-white mb-1 font-weight-bold">Logistics Marketplace</h3>
                                    <p class="text-white line-height-2">Sarathi Logistics</p>
                                    <button class="btn btn-outline-white">Learn More</button>
                                </li>
                                <li class="col-md-5 px-2">
                                    <h6 class="font-weight-bold font-medium-2 ml-1">Apps</h6>
                                    <ul class="row mt-2">
                                        <li class="col-6 col-xl-4"><a class="text-center mb-2 mb-xl-3"
                                                href="app-email.html" target="_blank"><i
                                                    class="feather icon-mail font-large-1 mr-0"></i>
                                                <p class="font-medium-2 mt-25 mb-0">Email</p>
                                            </a></li>
                                        <li class="col-6 col-xl-4"><a class="text-center mb-2 mb-xl-3"
                                                href="app-chat.html" target="_blank"><i
                                                    class="feather icon-message-square font-large-1 mr-0"></i>
                                                <p class="font-medium-2 mt-25 mb-0">Chat</p>
                                            </a></li>
                                        <li class="col-6 col-xl-4"><a class="text-center mb-2 mb-xl-3 mt-75 mt-xl-0"
                                                href="app-todo.html" target="_blank"><i
                                                    class="feather icon-check-square font-large-1 mr-0"></i>
                                                <p class="font-medium-2 mt-25 mb-0">Todo</p>
                                            </a></li>
                                        <li class="col-6 col-xl-4"><a class="text-center mb-2 mt-75 mt-xl-0"
                                                href="app-kanban.html" target="_blank"><i
                                                    class="feather icon-file-plus font-large-1 mr-0"></i>
                                                <p class="font-medium-2 mt-25 mb-50">Kanban</p>
                                            </a></li>
                                        <li class="col-6 col-xl-4"><a class="text-center mb-2 mt-75 mt-xl-0"
                                                href="app-contacts.html" target="_blank"><i
                                                    class="feather icon-users font-large-1 mr-0"></i>
                                                <p class="font-medium-2 mt-25 mb-50">Contacts</p>
                                            </a></li>
                                        <li class="col-6 col-xl-4"><a class="text-center mb-2 mt-75 mt-xl-0"
                                                href="invoice-template.html" target="_blank"><i
                                                    class="feather icon-printer font-large-1 mr-0"></i>
                                                <p class="font-medium-2 mt-25 mb-50">Invoice</p>
                                            </a></li>
                                    </ul>
                                </li>
                                <li class="col-md-3">
                                    <h6 class="font-weight-bold font-medium-2">Components</h6>
                                    <ul class="row mt-1 mt-xl-2">
                                        <li class="col-12 col-xl-6 pl-0">
                                            <ul class="mega-component-list">
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-alerts.html" target="_blank">Alert</a></li>
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-callout.html" target="_blank">Callout</a></li>
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-buttons-basic.html" target="_blank">Buttons</a>
                                                </li>
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-carousel.html" target="_blank">Carousel</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-12 col-xl-6 pl-0">
                                            <ul class="mega-component-list">
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-dropdowns.html" target="_blank">Drop Down</a>
                                                </li>
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-list-group.html" target="_blank">List Group</a>
                                                </li>
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-modals.html" target="_blank">Modals</a></li>
                                                <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                        href="component-pagination.html" target="_blank">Pagination</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                                    class="ficon feather icon-maximize"></i></a></li>
                        <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i
                                    class="ficon feather icon-search"></i></a>
                            <div class="search-input">
                                <form method="get" action="{% url 'lmsapp:customershipmentlist' %}?status=search">    
                                <input name="search" class="input" type="text" placeholder="Search a shipment by customer name / number / city / tracking code / reference code" tabindex="0">
                                <div class="search-input-close"><i class="feather icon-x"></i></div>
                                </form>
                                <!-- <ul class="search-list"></ul> -->
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
                                data-toggle="dropdown"><i class="fa fa-bell"></i><span
                                    class="badge badge-pill badge-danger badge-up">{{unread_notifications.count}}</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0"><span
                                            class="grey darken-2">Notifications</span>
                                    </h6>
                                </li>
                                <li class="scrollable-container media-list">
                                    {% for notification in unread_notifications %}
                                    <a href="{% url 'lmsapp:customernotificationclick' notification.id %}">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="feather icon-file icon-bg-circle bg-teal"></i></div>
                                            <div class="media-body">
                                                <small><time class="media-meta text-muted pull-right">{{notification.created_at}}</time></small>
                                                <br>
                                                <h6 class="media-heading">{{notification.title}}</h6>
                                                <small><time class="media-meta text-muted">{{notification.description|safe}}</time></small>
                                                <br>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                                        href="{% url 'lmsapp:customernotificationlist' %}">Read all notifications</a></li>
                            </ul>
                        </li>
                        <!-- <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
                                data-toggle="dropdown"><i class="fa fa-comment"></i><span
                                    class="badge badge-pill badge-warning badge-up">3</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Messages</span><span
                                            class="notification-tag badge badge-warning float-right m-0">4 New</span>
                                    </h6>
                                </li>
                                <li class="scrollable-container media-list"><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="avatar avatar-online avatar-sm rounded-circle"><img
                                                        src="{% static 'customerstatic/app-assets/images/portrait/small/avatar-s-1.png' %}"
                                                        alt="avatar"><i></i></div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Margaret Govan</h6>
                                                <p class="notification-text font-small-3 text-muted">I like your
                                                    portfolio, let's start.</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left"><span
                                                    class="avatar avatar-sm avatar-busy rounded-circle"><img
                                                        src="{% static 'customerstatic/app-assets/images/portrait/small/avatar-s-2.png' %}"
                                                        alt="avatar"><i></i></span></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Bret Lezama</h6>
                                                <p class="notification-text font-small-3 text-muted">I have seen your
                                                    work, there is</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Tuesday</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="avatar avatar-online avatar-sm rounded-circle"><img
                                                        src="{% static 'customerstatic/app-assets/images/portrait/small/avatar-s-3.png' %}"
                                                        alt="avatar"><i></i></div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Carie Berra</h6>
                                                <p class="notification-text font-small-3 text-muted">Can we have call in
                                                    this week ?</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">Friday</time></small>
                                            </div>
                                        </div>
                                    </a><a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left"><span
                                                    class="avatar avatar-sm avatar-away rounded-circle"><img
                                                        src="{% static 'customerstatic/app-assets/images/portrait/small/avatar-s-6.png' %}"
                                                        alt="avatar"><i></i></span></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Eric Alsobrook</h6>
                                                <p class="notification-text font-small-3 text-muted">We have project
                                                    party this saturday.</p><small>
                                                    <time class="media-meta text-muted"
                                                        datetime="2015-06-11T18:29:20+08:00">last month</time></small>
                                            </div>
                                        </div>
                                    </a></li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                                        href="javascript:void(0)">Read all messages</a></li>
                            </ul>
                        </li> -->
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="{% if customer.profile_image %}{{customer.profile_image.url}}{% else %}{% static 'customerstatic/app-assets/images/portrait/small/avatar-s-1.png' %}{% endif %}"
                                        alt="{{customer.company_name}}">
                                </div>
                                <span class="user-name" style="font-size: 10px;">{{customer.company_name}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'accapp:customerprofile' %}"><i
                                        class="feather icon-user"></i> My Profile</a>
                                <a class="dropdown-item" href="{% url 'accapp:customerprofileupdate' %}"><i
                                        class="feather icon-mail"></i> Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'accapp:customerpasswordchange' %}"><i
                                        class="feather icon-mail"></i> Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item logout" href="{% url 'lmsapp:customerlogout' %}"><i
                                        class="feather icon-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item {% block customerdashboard %}{% endblock %} mt-1">
                    <a href="{% url 'lmsapp:customerdashboard' %}"><i class="fa fa-tachometer"></i><span
                            class="menu-title" data-i18n="dashboard">Dashboard</span></a>
                </li>
                <li class=" navigation-header">
                    <span>Shipment & Payment</span><i class=" feather icon-minus" data-toggle="tooltip"
                        data-placement="right" data-original-title="Apps"></i>
                </li>
                <li class="nav-item {% block shipmentlist %}{% endblock %}">
                    <a href="{% url 'lmsapp:customershipmentlist' %}"><i class="fa fa-shopping-bag"></i><span
                            class="menu-title" data-i18n="Email Application">Shipment List</span></a>
                </li>
                <li class="nav-item {% block shipmentcreate %}{% endblock %}">
                    <a href="{% url 'lmsapp:customershipmentcreate' %}"><i class="fa fa-upload"></i><span
                            class="menu-title" data-i18n="Chat Application">Place New Shipment</span></a>
                </li>
                <li class=" nav-item {% block bulkshipmentcreate %}{% endblock %}">
                    <a href="{% url 'lmsapp:customerbulkshipmentcreate' %}"><i class="fa fa-table"></i><span
                            class="menu-title" data-i18n="Todo Application">Bulk Upload</span></a>
                </li>
                <li class="nav-item {% block customerpaymentrequest %}{% endblock %}">
                    <a href="{% url 'lmsapp:customerpaymentrequestlist' %}"><i class="fa fa-hand-paper-o"></i><span
                            class="menu-title" data-i18n="dashboard">Request Payment</span></a>
                </li>
                <li class="nav-item {% block customerpayment %}{% endblock %}">
                    <a href="{% url 'lmsapp:customerpaymentlist' %}"><i class="fa fa-money"></i><span class="menu-title"
                            data-i18n="dashboard">Payment List</span></a>
                </li>

                <li class=" navigation-header">
                    <span>Communication</span><i class=" feather icon-minus" data-toggle="tooltip"
                        data-placement="right" data-original-title="Payment"></i>
                </li>
                <li class="nav-item {% block customernotice %}{% endblock %}">
                    <a href="{% url 'lbcapp:customernoticelist' %}"><i class="fa fa-bullhorn"></i><span
                            class="menu-title" data-i18n="dashboard">Notices</span></a>
                </li>
                <li class="nav-item {% block customersupportticket %}{% endblock %}">
                    <a href="{% url 'lbcapp:customersupportticketlist' %}"><i class="fa fa-ticket"></i><span class="menu-title"
                            data-i18n="dashboard">Raised Tickets</span></a>
                </li>

                <li class=" navigation-header"><span>Settings and Guide</span><i class=" feather icon-minus" data-toggle="tooltip"
                        data-placement="right" data-original-title="Payment"></i>
                </li>
                <li class=" nav-item"><a href="#"><i class="fa fa-cog"></i><span class="menu-title"
                            data-i18n="Templates">Settings</span></a>
                    <ul class="menu-content">
                        <li class="{% block my_payment_accounts %}{% endblock %}"><a class="menu-item"
                                href="{% url 'lbcapp:customerpaymentaccountlist' %}">Payment Accounts</a>
                        </li>
                        <li class="{% block customermarketplace %}{% endblock %}"><a class="menu-item"
                                href="{% url 'lbcapp:customermarketplace' %}">Explore Marketplace</a></li>
                        <li class="{% block connected_logistics %}{% endblock %}"><a class="menu-item"
                                href="{% url 'lbcapp:customerconnectedlogisticslist' %}">Connected
                                Logistics</a></li>
                        <li><a class="menu-item" href="#">Customer API</a></li>
                        <li><a class="menu-item" href="#">Customer API Docs</a></li>
                    </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="fa fa-question"></i><span class="menu-title"
                    data-i18n="Templates">How to</span></a>
            <ul class="menu-content">
                <li class=""><a class="menu-item" href="">Connect to Logistics</a></li>
                <li><a class="menu-item" href="#">Upload Shipment</a></li>
                <li><a class="menu-item" href="#">Request Payment</a></li>
                <li><a class="menu-item" href="#">View Payment Report</a></li>
                <li><a class="menu-item" href="#">Process Refund</a></li>
                <li><a class="menu-item" href="#">Make Exchange</a></li>
            </ul>
        </li>
                <li class=" nav-item">
                    <a class="logout" href="{% url 'lmsapp:customerlogout' %}"><i class="fa fa-power-off"></i><span
                            class="menu-title" data-i18n="dashboard">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                {% if request.path != '/customer/shipment-create/' %}
                <a href="{% url 'lmsapp:customershipmentcreate' %}" class="float" title="Place New Shipment">
                    <i class="fa fa-plus my-float"></i>
                </a>
                {% endif %}
                {% if notice_show_on_top %}
                <div class="announcement-header" style="border-bottom: 1px solid rgb(168, 175, 28); padding: 2px 0; text-align: center; display: none; height: 50px;">
                    <div class="row" id="text">
                        <div class="col-xs-12">
                            <marquee width="95%" behavior="scroll" direction="left" scrollamount="5" style="color:red; font-weight: bold;">{{notice_show_on_top.notice|striptags}}</marquee>
                            <span style="position: absolute; right: 25px; color: white; background: rgb(184, 29, 29); padding: 5px; opacity: .7; cursor: pointer; border-radius: 33%;" onclick="hideAnnouncementFunction();"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
                class="float-md-left d-block d-md-inline-block">Copyright &copy; 2021 <a
                    class="text-bold-800 grey darken-2">{{org.name}} </a></span><span
                class="float-md-right d-none d-lg-block">Developed by <a href="https://sarobartech.com/" target="_blank">Sarobar Technology Pvt. Ltd.</a></span></p>
    </footer>
    <script src="{% static 'customerstatic/app-assets/vendors/js/vendors.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/js/core/app-menu.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/js/core/app.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/js/scripts/customizer.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
    <script src="{% static 'customerstatic/app-assets/vendors/js/extensions/sweetalert2.all.min.js' %}"></script>

    <script>
        {% if messages %}
        {% for message in messages %}
        toastr.{{ message.tags }}("{{message.tags|title}}", "{{message}}", { showMethod: "fadeIn", hideMethod: "fadeOut", timeOut: 2e3 });
        {% endfor %}
        {% endif %}
    </script>
    <script src="{% static 'customerstatic/assets/js/customjs.js' %}"></script>
    <script>
        $('form').on('submit', function(e){
            $(this).find('button').attr('disabled', 'disabled');
            $(this).find('button').text('');
            $(this).find('button').append( "<span class='spinner-border spinner-border-sm'></span>" + ' &nbsp;&nbsp; Please Wait...' );
        })
    </script>
    {% if notice_show_on_top %}
    <script type="text/javascript">
		$(window).bind("load",function() {
			$(".announcement-header").delay(500).fadeIn(500);
			$('.announcement-header').fadeIn('slow', function () {
				$('#text').animate({'opacity': 'show', 'paddingTop': 0}, 3000);
			});
        });
	</script>
	<script type="text/javascript">
		function hideAnnouncementFunction () {
			$(".announcement-header").delay(500).fadeOut(500);
			$('.announcement-header').fadeOut('slow', function () {
				$('#text').animate({'opacity': 'hide', 'paddingTop': 0}, 3000);
			});
		}
	</script>
    {% endif %}

    {% block js %}

    {% endblock %}
</body>

</html>