{% extends 'customertemplates/customerbase.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block customerdashboard %}active{% endblock %}

{% block css %}
<script src="{% static 'customerstatic/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Shipments Overview</h4>
    </div>
</div>
<div class="row mt-1">
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=Pending">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-purple bg-darken-2">
                        <i class="fa fa-upload font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-purple white media-body">
                        <h5>Requested</h5>
                        <h5 class="text-bold-400 mb-0">{{requested_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=Processing">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-primary bg-darken-2">
                        <i class="fa fa-spinner font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-primary white media-body">
                        <h5>Processing</h5>
                        <h5 class="text-bold-400 mb-0">{{processing_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=Dispatched">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-info bg-darken-2">
                        <i class="fa fa-truck font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-info white media-body">
                        <h5>Dispatched</h5>
                        <h5 class="text-bold-400 mb-0">{{dispatched_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=Rejected">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-warning bg-darken-2">
                        <i class="fa fa-times font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-warning white media-body">
                        <h5>Rejected</h5>
                        <h5 class="text-bold-400 mb-0">{{rejected_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=Delivered">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-success bg-darken-2">
                        <i class="fa fa-check font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-success white media-body">
                        <h5>Delivered</h5>
                        <h5 class="text-bold-400 mb-0">{{delivered_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=Returned">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-danger bg-darken-2">
                        <i class="fa fa-reply-all font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-danger white media-body">
                        <h5>Returned</h5>
                        <h5 class="text-bold-400 mb-0">{{returned_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=Canceled">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-secondary bg-darken-2">
                        <i class="fa fa-trash-o font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-secondary white media-body">
                        <h5>Canceled</h5>
                        <h5 class="text-bold-400 mb-0">{{canceled_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <a href="{% url 'lmsapp:customershipmentlist' %}?status=All">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-blue bg-darken-2">
                        <i class="fa fa-list font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-blue white media-body">
                        <h5>All Shipments</h5>
                        <h5 class="text-bold-400 mb-0">{{all_shipments_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
</div>
<div class="row minimal-modern-charts">
    <!-- power consumption chart -->
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-12">
        <div class="card">
            <div class="card-content pt-2 px-1">
                <div class="row">
                    <div class="col-8 d-flex">
                        <div class="ml-1">
                            <h4 class="power-consumption-stats-title text-bold-500">New Orders
                            </h4>
                        </div>
                        <div class="ml-50 mr-50">
                            <p>Per day</p>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-end pr-3">
                        <div class="dark-text">
                            <h5 class="power-consumption-active-tab text-bold-500">Last 7 Days</h5>
                        </div>
                    </div>
                </div>
                <canvas class="" id="weekshipments" style="max-height: 290px;"></canvas>
            </div>
        </div>
    </div>
    <!-- latest update tracking chart-->
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-12">
        <div class="card">
            <div class="card-header latest-update-heading d-flex justify-content-between">
                <span class="text-danger font-weight-bold">Latest Remarks on Shipments(Last 10)</span>
            </div>
            <div class="card-content pt-0 pb-1 px-2 position-relative" style="height: 282px; overflow-y: scroll;">
                <ul class="list-group">
                    {% for remarks in latest_remarks %}
                    <li class="list-group-item pt-0 px-0 latest-updated-item border-0 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="list-group-item-icon d-inline mr-1">
                                <i
                                    class="icon text-primary bg-light-primary icon-cursor total-products-icon rounded-circle p-50"></i>
                            </span>
                            <div>
                                <p class="mb-25 latest-update-item-name text-bold-600"><a href="{% url 'lmsapp:customershipmentdetail' remarks.shipment.tracking_code %}">{{remarks.shipment.tracking_code}}</a></p>
                                <small class="font-small-3">{{remarks.remarks}}</small>
                            </div>
                        </div>
                        <small class="update-profit text-bold-600">{{remarks.created_at|timesince}}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="title">Payments Overview</h4>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 media-body text-left">
                        <h5>Current Balance</h5>
                        <h5 class="text-bold-400 mb-0">Rs. {{current_balance}}/-</h5>
                    </div>
                    <div class="p-2 text-center bg-success">
                        <i class="icon-wallet font-large-2 white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 media-body text-left">
                        <h5>Incomplete COD Amount</h5>
                        <h5 class="text-bold-400 mb-0">Rs. {{incomplete_cod_amount}}/-</h5>
                    </div>
                    <div class="p-2 text-center bg-primary">
                        <i class="fa fa-inr font-large-2 white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 media-body text-left">
                        <h5>Incomplete Charge</h5>
                        <h5 class="text-bold-400 mb-0">Rs. {{incomplete_charge}}/-</h5>
                    </div>
                    <div class="p-2 text-center bg-warning">
                        <i class="fa fa-inr font-large-2 white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 media-body text-left">
                        <h5>Total COD Value</h5>
                        <h5 class="text-bold-400 mb-0">Rs. {{total_cod_received}}/-</h5>
                    </div>
                    <div class="p-2 text-center bg-info">
                        <i class="fa fa-money font-large-2 white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 media-body text-left">
                        <h5>Total Charge Paid</h5>
                        <h5 class="text-bold-400 mb-0">Rs. {{total_charge_paid}}/-</h5>
                    </div>
                    <div class="p-2 text-center bg-danger">
                        <i class="fa fa-money font-large-2 white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 media-body text-left">
                        <h5>Net Amount Received</h5>
                        <h5 class="text-bold-400 mb-0">Rs. {{net_paid_or_received}}/-</h5>
                    </div>
                    <div class="p-2 text-center bg-success">
                        <i class="fa fa-money font-large-2 white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    getLabel()
    async function getLabel() {
        axios.get("/customer/dashboard-ajax/?query=weekly_report").then(function(resp){
            var ctx = document.getElementById('weekshipments');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: resp.data.days,
                    datasets: [{
                        label: 'No. of new shipments',
                        data: resp.data.data,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
            });
        });
    
    }
</script>
{% endblock %}